## Machine Learning 과제 1: 야구 선수 연봉 예측

* 문제1: 최동원 선수와 다른 투수들의 1983~1988 데이터 / 2015~2020 프로야구 투수 데이터 확보
  - 선수 기록: https://www.koreabaseball.com/Record/Player/PitcherBasic/BasicOld.aspx
  - 선수 연봉: http://www.statiz.co.kr/salary.php

In [2]:
# requirements

from selenium import webdriver
from selenium.webdriver.common.by import By
import time
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import re
import math

In [3]:
# opening a tab with selenium / 선수기록 먼저 확보

URL = "https://www.koreabaseball.com/Record/Player/PitcherBasic/BasicOld.aspx"
driver = webdriver.Chrome("../driver/chromedriver.exe")
driver.get(URL) # KBO 선수 기록실 사이트

## TEST

In [4]:
# 연도 선택 (예시로 1983 선택 >> 전체 완료되면 변경해야 됨)

'''driver.find_element_by_css_selector('#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option:nth-child(2)').click()'''

# 1983: '#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option:nth-child(2)'

# 1988: '#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option:nth-child(7)'

"driver.find_element_by_css_selector('#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option:nth-child(2)').click()"

In [5]:
# 페이지 html 읽기 & 첫번째 선수 record 가져오기
html = driver.page_source
dom = BeautifulSoup(html, 'html.parser')

record_detail = dom.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr')

a = record_detail[0].text.split('\n')
len(record_detail)
a[1:-1]

['1',
 '페디',
 'NC',
 '1.74',
 '17',
 '0',
 '0',
 '14',
 '2',
 '0',
 '0',
 '0.875',
 '409',
 '103 1/3',
 '77',
 '6',
 '24',
 '2',
 '121',
 '23',
 '20']

## 83~88년도 선수 데이터 획득 및 데이터프레임화

In [6]:
team = driver.find_element_by_css_selector('#cphContents_cphContents_cphContents_ddlTeam_ddlTeam')
len(team.text.split('\n'))

12

In [7]:
#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option:nth-child(2)

#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option:nth-child(7)

In [8]:
# 1983~1988 년도 선수 데이터 획득

info8388 = []

# 년도 데이터 추가를 위한 보조 변수
a = 1982
b = 0

for n in range(2, 8):
    a += 1
    driver.find_element_by_css_selector(f'#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option:nth-child({n})').click()

    time.sleep(0.7)

    team = driver.find_element_by_css_selector('#cphContents_cphContents_cphContents_ddlTeam_ddlTeam')

    for y in range(2, len(team.text.split('\n'))+1):
        driver.find_element_by_css_selector(f'#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option:nth-child({y})').click()

        time.sleep(0.7)

        html = driver.page_source
        dom = BeautifulSoup(html, 'html.parser')

        record_detail = dom.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr')

        for x in range(len(record_detail)):
            info8388.append(record_detail[x].text.split('\n')[1:-1])
            info8388[b].append(a)
            b += 1

In [10]:
len(info8388)

452

In [11]:
info8388

[['1',
  '최동원',
  '롯데  ',
  '2.89',
  '38',
  '16',
  '1',
  '9',
  '16',
  '4',
  '0',
  '0.360',
  '863',
  '208 2/3',
  '202',
  '17',
  '51',
  '8',
  '148',
  '89',
  '67',
  1983],
 ['2',
  '배경환',
  '롯데  ',
  '3.18',
  '37',
  '4',
  '2',
  '7',
  '4',
  '0',
  '0',
  '0.636',
  '637',
  '150',
  '159',
  '9',
  '32',
  '5',
  '62',
  '72',
  '53',
  1983],
 ['3',
  '천창호',
  '롯데  ',
  '3.42',
  '27',
  '0',
  '0',
  '7',
  '3',
  '0',
  '0',
  '0.700',
  '349',
  '81 2/3',
  '91',
  '12',
  '12',
  '6',
  '38',
  '39',
  '31',
  1983],
 ['4',
  '김문희',
  '롯데  ',
  '3.48',
  '34',
  '5',
  '0',
  '8',
  '10',
  '0',
  '0',
  '0.444',
  '649',
  '155 1/3',
  '154',
  '12',
  '53',
  '3',
  '46',
  '70',
  '60',
  1983],
 ['5',
  '노상수',
  '롯데  ',
  '4.14',
  '42',
  '4',
  '1',
  '8',
  '11',
  '3',
  '0',
  '0.421',
  '733',
  '169 2/3',
  '179',
  '17',
  '52',
  '12',
  '69',
  '94',
  '78',
  1983],
 ['6',
  '이진우',
  '롯데  ',
  '4.94',
  '27',
  '0',
  '0',
  '4',
  '9',
  '0',
  '0',
  '0.308',
  '371',
  '85 2/3',
  '83',
  '10',
  '41',
  '6',
  '33',
  '51',
  '47',
  1983],
 ['7',
  '김덕열',
  '롯데  ',
  '6.23',
  '9',
  '0',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0.000',
  '102',
  '21 2/3',
  '27',
  '6',
  '9',
  '4',
  '10',
  '17',
  '15',
  1983],
 ['8',
  '이윤섭',
  '롯데  ',
  '8.24',
  '12',
  '0',
  '0',
  '0',
  '2',
  '0',
  '0',
  '0.000',
  '94',
  '19 2/3',
  '35',
  '7',
  '4',
  '0',
  '8',
  '22',
  '18',
  1983],
 ['9',
  '박정후',
  '롯데  ',
  '15.19',
  '3',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '-',
  '29',
  '5 1/3',
  '5',
  '0',
  '6',
  '3',
  '1',
  '10',
  '9',
  1983],
 ['1',
  '장명부',
  '삼미  ',
  '2.36',
  '60',
  '36',
  '6',
  '30',
  '16',
  '6',
  '0',
  '0.652',
  '1712',
  '427 1/3',
  '388',
  '19',
  '106',
  '16',
  '220',
  '138',
  '112',
  1983],
 ['2',
  '감사용',
  '삼미  ',
  '2.92',
  '6',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '-',
  '51',
  '12 1/3',
  '12',
  '1',
  '4',
  '0',
  '6',
  '6',
  '4',
  1983],
 ['2',
  '정성만',
  '삼미  ',
  '2.92',
  '12',
  '2',
  '0',
  '3',
  '5',
  '0',
  '0',
  '0.375',
  '253',
  '61 2/3',
  '46',
  '11',
  '27',
  '0',
  '26',
  '27',
  '20',
  1983],
 ['4',
  '임호균',
  '삼미  ',
  '3.03',
  '35',
  '15',
  '1',
  '12',
  '15',
  '2',
  '0',
  '0.444',
  '954',
  '234 2/3',
  '231',
  '16',
  '52',
  '6',
  '86',
  '94',
  '79',
  1983],
 ['5',
  '김재현',
  '삼미  ',
  '3.31',
  '12',
  '0',
  '0',
  '2',
  '1',
  '0',
  '0',
  '0.667',
  '201',
  '49',
  '47',
  '1',
  '14',
  '2',
  '11',
  '24',
  '18',
  1983],
 ['6',
  '인호봉',
  '삼미  ',
  '4.26',
  '10',
  '0',
  '0',
  '1',
  '2',
  '0',
  '0',
  '0.333',
  '159',
  '38',
  '36',
  '6',
  '16',
  '2',
  '14',
  '22',
  '18',
  1983],
 ['7',
  '오문현',
  '삼미  ',
  '5.26',
  '13',
  '0',
  '0',
  '1',
  '3',
  '0',
  '0',
  '0.250',
  '154',
  '37 2/3',
  '35',
  '6',
  '14',
  '6',
  '12',
  '24',
  '22',
  1983],
 ['8',
  '김상기',
  '삼미  ',
  '5.74',
  '7',
  '2',
  '0',
  '2',
  '3',
  '0',
  '0',
  '0.400',
  '140',
  '31 1/3',
  '29',
  '6',
  '16',
  '2',
  '10',
  '21',
  '20',
  1983],
 ['9',
  '유종천',
  '삼미  ',
  '7.94',
  '5',
  '1',
  '0',
  '1',
  '2',
  '0',
  '0',
  '0.333',
  '89',
  '17',
  '24',
  '0',
  '14',
  '2',
  '7',
  '16',
  '15',
  1983],
 ['1',
  '김시진',
  '삼성  ',
  '2.55',
  '37',
  '17',
  '5',
  '17',
  '12',
  '1',
  '0',
  '0.586',
  '950',
  '229 1/3',
  '189',
  '8',
  '95',
  '14',
  '154',
  '78',
  '65',
  1983],
 ['2',
  '권영호',
  '삼성  ',
  '3.20',
  '32',
  '5',
  '0',
  '6',
  '10',
  '7',
  '0',
  '0.375',
  '556',
  '135',
  '113',
  '7',
  '48',
  '6',
  '49',
  '58',
  '48',
  1983],
 ['3',
  '양일환',
  '삼성  ',
  '3.22',
  '32',
  '4',
  '0',
  '9',
  '7',
  '1',
  '0',
  '0.563',
  '738',
  '176 1/3',
  '155',
  '12',
  '63',
  '11',
  '62',
  '82',
  '63',
  1983],
 ['4',
  '황규봉',
  '삼성  ',
  '3.67',
  '30',
  '5',
  '1',
  '6',
  '4',
  '3',
  '0',
  '0.600',
  '548',
  '130',
  '136',
  '10',
  '36',
  '10',
  '45',
  '66',
  '53',
  1983],
 ['5',
  '이선희',
  '삼성  ',
  '3.76',
  '29',
  '3',
  '1',
  '5',
  '13',
  '0',
  '0',
  '0.278',
  '548',
  '127',
  '122',
  '17',
  '59',
  '7',
  '57',
  '66',
  '53',
  1983],
 ['6',
  '박동경',
  '삼성  ',
  '4.03',
  '12',
  '0',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0.000',
  '94',
  '22 1/3',
  '24',
  '0',
  '6',
  '2',
  '4',
  '12',
  '10',
  1983],
 ['7',
  '성낙수',
  '삼성  ',
  '4.91',
  '19',
  '0',
  '0',
  '3',
  '2',
  '0',
  '0',
  '0.600',
  '234',
  '55',
  '63',
  '10',
  '13',
  '5',
  '21',
  '33',
  '30',
  1983],
 ['8',
  '송진호',
  '삼성  ',
  '7.40',
  '10',
  '0',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0.000',
  '117',
  '24 1/3',
  '31',
  '1',
  '15',
  '3',
  '7',
  '23',
  '20',
  1983],
 ['1',
  '김성한',
  '해태  ',
  '2.08',
  '4',
  '1',
  '1',
  '1',
  '1',
  '0',
  '0',
  '0.500',
  '71',
  '17 1/3',
  '13',
  '1',
  '5',
  '1',
  '8',
  '6',
  '4',
  1983],
 ['2',
  '황기선',
  '해태  ',
  '2.31',
  '19',
  '0',
  '0',
  '4',
  '4',
  '1',
  '0',
  '0.500',
  '265',
  '66 1/3',
  '50',
  '3',
  '14',
  '7',
  '35',
  '27',
  '17',
  1983],
 ['3',
  '이상윤',
  '해태  ',
  '2.67',
  '46',
  '14',
  '3',
  '20',
  '10',
  '6',
  '0',
  '0.667',
  '944',
  '229 1/3',
  '181',
  '10',
  '95',
  '4',
  '178',
  '83',
  '68',
  1983],
 ['4',
  '강만식',
  '해태  ',
  '2.78',
  '22',
  '1',
  '1',
  '6',
  '4',
  '0',
  '0',
  '0.600',
  '387',
  '94',
  '83',
  '5',
  '22',
  '5',
  '51',
  '42',
  '29',
  1983],
 ['5',
  '김용남',
  '해태  ',
  '2.83',
  '36',
  '6',
  '3',
  '13',
  '10',
  '1',
  '0',
  '0.565',
  '731',
  '181 1/3',
  '171',
  '12',
  '30',
  '5',
  '80',
  '67',
  '57',
  1983],
 ['6',
  '주동식',
  '해태  ',
  '3.14',
  '30',
  '3',
  '2',
  '7',
  '7',
  '3',
  '0',
  '0.500',
  '599',
  '143 1/3',
  '133',
  '14',
  '38',
  '9',
  '56',
  '60',
  '50',
  1983],
 ['7',
  '김현재',
  '해태  ',
  '4.07',
  '10',
  '1',
  '0',
  '1',
  '0',
  '0',
  '0',
  '1.000',
  '122',
  '24 1/3',
  '32',
  '2',
  '16',
  '2',
  '6',
  '15',
  '11',
  1983],
 ['8',
  '방수원',
  '해태  ',
  '4.88',
  '32',
  '1',
  '0',
  '3',
  '5',
  '3',
  '0',
  '0.375',
  '434',
  '94',
  '101',
  '5',
  '49',
  '9',
  '30',
  '62',
  '51',
  1983],
 ['9',
  '엄평재',
  '해태  ',
  '5.45',
  '13',
  '0',
  '0',
  '0',
  '2',
  '0',
  '0',
  '0.000',
  '147',
  '33',
  '34',
  '4',
  '16',
  '3',
  '12',
  '25',
  '20',
  1983],
 ['10',
  '신태중',
  '해태  ',
  '40.50',
  '1',
  '0',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0.000',
  '7',
  '2/3',
  '5',
  '0',
  '1',
  '0',
  '0',
  '3',
  '3',
  1983],
 ['1',
  '하기룡',
  'MBC   ',
  '2.34',
  '36',
  '6',
  '2',
  '10',
  '11',
  '4',
  '0',
  '0.476',
  '696',
  '173 1/3',
  '137',
  '4',
  '48',
  '8',
  '73',
  '57',
  '45',
  1983],
 ['2',
  '유종겸',
  'MBC   ',
  '2.40',
  '34',
  '4',
  '0',
  '8',
  '7',
  '5',
  '0',
  '0.533',
  '560',
  '139',
  '103',
  '8',
  '50',
  '5',
  '74',
  '45',
  '37',
  1983],
 ['3',
  '박석채',
  'MBC   ',
  '2.45',
  '5',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '-',
  '51',
  '11',
  '12',
  '1',
  '8',
  '0',
  '4',
  '4',
  '3',
  1983],
 ['4',
  '이길환',
  'MBC   ',
  '2.51',
  '33',
  '10',
  '4',
  '15',
  '7',
  '4',
  '0',
  '0.682',
  '845',
  '208 1/3',
  '184',
  '8',
  '56',
  '11',
  '85',
  '68',
  '58',
  1983],
 ['5',
  '이광권',
  'MBC   ',
  '2.51',
  '22',
  '3',
  '0',
  '7',
  '5',
  '0',
  '0',
  '0.583',
  '411',
  '100 1/3',
  '96',
  '7',
  '31',
  '4',
  '35',
  '37',
  '28',
  1983],
 ['6',
  '오영일',
  'MBC   ',
  '2.91',
  '36',
  '7',
  '0',
  '10',
  '9',
  '4',
  '0',
  '0.526',
  '704',
  '173',
  '147',
  '8',
  '59',
  '8',
  '69',
  '62',
  '56',
  1983],
 ['7',
  '정순명',
  'MBC   ',
  '3.62',
  '13',
  '0',
  '0',
  '4',
  '3',
  '0',
  '0',
  '0.571',
  '259',
  '59 2/3',
  '56',
  '7',
  '28',
  '5',
  '19',
  '30',
  '24',
  1983],
 ['8',
  '이원국',
  'MBC   ',
  '4.42',
  '8',
  '1',
  '0',
  '1',
  '1',
  '0',
  '0',
  '0.500',
  '171',
  '38 2/3',
  '46',
  '1',
  '14',
  '2',
  '6',
  '25',
  '19',
  1983],
 ['9',
  '차준섭',
  'MBC   ',
  '8.10',
  '2',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '-',
  '15',
  '3 1/3',
  '1',
  '1',
  '3',
  '1',
  '2',
  '4',
  '3',
  1983],
 ['10',
  '신계석',
  'MBC   ',
  '9.00',
  '1',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '-',
  '13',
  '2',
  '5',
  '0',
  '1',
  '0',
  '0',
  '3',
  '2',
  1983],
 ['1',
  '박상열',
  'OB    ',
  '2.49',
  '30',
  '7',
  '1',
  '10',
  '9',
  '0',
  '0',
  '0.526',
  '716',
  '173 1/3',
  '162',
  '11',
  '44',
  '14',
  '68',
  '57',
  '48',
  1983],
 ['2',
  '정선두',
  'OB    ',
  '2.60',
  '15',
  '1',
  '1',
  '3',
  '1',
  '0',
  '0',
  '0.750',
  '215',
  '52',
  '47',
  '6',
  '20',
  '2',
  '9',
  '19',
  '15',
  1983],
 ['3',
  '황태환',
  'OB    ',
  '2.65',
  '39',
  '0',
  '0',
  '6',
  '6',
  '14',
  '0',
  '0.500',
  '449',
  '105 1/3',
  '105',
  '11',
  '40',
  '5',
  '60',
  '46',
  '31',
  1983],
 ['4',
  '계형철',
  'OB    ',
  '3.44',
  '29',
  '9',
  '3',
  '9',
  '12',
  '0',
  '0',
  '0.429',
  '816',
  '193 1/3',
  '190',
  '11',
  '72',
  '13',
  '86',
  '97',
  '74',
  1983],
 ['5',
  '박철순',
  'OB    ',
  '3.48',
  '4',
  '0',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0.000',
  '43',
  '10 1/3',
  '10',
  '0',
  '4',
  '0',
  '4',
  '4',
  '4',
  1983],
 ['6',
  '선우대영',
  'OB    ',
  '3.91',
  '17',
  '5',
  '1',
  '4',
  '6',
  '1',
  '0',
  '0.400',
  '408',
  '96 2/3',
  '97',
  '13',
  '28',
  '6',
  '38',
  '45',
  '42',
  1983],
 ['7',
  '김현홍',
  'OB    ',
  '4.15',
  '13',
  '1',
  '1',
  '2',
  '1',
  '1',
  '0',
  '0.667',
  '186',
  '43 1/3',
  '49',
  '7',
  '17',
  '1',
  '12',
  '27',
  '20',
  1983],
 ['8',
  '장호연',
  'OB    ',
  '4.23',
  '34',
  '3',
  '1',
  '6',
  '17',
  '2',
  '0',
  '0.261',
  '681',
  '155 1/3',
  '165',
  '10',
  '67',
  '14',
  '31',
  '93',
  '73',
  1983],
 ['9',
  '강철원',
  'OB    ',
  '6.32',
  '17',
  '1',
  '0',
  '4',
  '2',
  '0',
  '0',
  '0.667',
  '275',
  '62 2/3',
  '72',
  '12',
  '23',
  '7',
  '21',
  '44',
  '44',
  1983],
 ['1',
  '조용철',
  '롯데  ',
  '0.00',
  '2',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '-',
  '11',
  '2',
  '3',
  '0',
  '2',
  '0',
  '2',
  '1',
  '0',
  1984],
 ['2',
  '안창완',
  '롯데  ',
  '1.67',
  '27',
  '0',
  '0',
  '3',
  '3',
  '0',
  '0',
  '0.500',
  '297',
  '70',
  '72',
  '6',
  '28',
  '3',
  '39',
  '20',
  '13',
  1984],
 ['3',
  '최동원',
  '롯데  ',
  '2.40',
  '51',
  '14',
  '1',
  '27',
  '13',
  '6',
  '0',
  '0.675',
  '1132',
  '284 2/3',
  '228',
  '18',
  '68',
  '14',
  '223',
  '91',
  '76',
  1984],
 ['4',
  '임호균',
  '롯데  ',
  '2.95',
  '27',
  '9',
  '0',
  '10',
  '9',
  '0',
  '0',
  '0.526',
  '692',
  '161 2/3',
  '151',
  '9',
  '80',
  '3',
  '44',
  '64',
  '53',
  1984],
 ['5',
  '배경환',
  '롯데  ',
  '3.48',
  '35',
  '2',
  '0',
  '6',
  '5',
  '2',
  '0',
  '0.545',
  '516',
  '121 2/3',
  '135',
  '10',
  '28',
  '5',
  '59',
  '57',
  '47',
  1984],
 ['6',
  '김재열',
  '롯데  ',
  '4.00',
  '15',
  '0',
  '0',
  '1',
  '1',
  '1',
  '0',
  '0.500',
  '158',
  '36',
  '36',
  '4',
  '17',
  '2',
  '14',
  '18',
  '16',
  1984],
 ['7',
  '이진우',
  '롯데  ',
  '4.84',
  '10',
  '0',
  '0',
  '0',
  '3',
  '1',
  '0',
  '0.000',
  '104',
  '22 1/3',
  '25',
  '5',
  '9',
  '0',
  '17',
  '21',
  '12',
  1984],
 ['8',
  '김문희',
  '롯데  ',
  '5.11',
  '19',
  '1',
  '0',
  '0',
  '6',
  '0',
  '0',
  '0.000',
  '254',
  '56 1/3',
  '73',
  '7',
  '22',
  '5',
  '12',
  '38',
  '32',
  1984],
 ['9',
  '천창호',
  '롯데  ',
  '5.17',
  '18',
  '0',
  '0',
  '1',
  '2',
  '1',
  '0',
  '0.333',
  '218',
  '47',
  '58',
  '3',
  '17',
  '6',
  '22',
  '31',
  '27',
  1984],
 ['10',
  '박덕용',
  '롯데  ',
  '5.21',
  '6',
  '0',
  '0',
  '1',
  '2',
  '0',
  '0',
  '0.333',
  '82',
  '19',
  '20',
  '4',
  '7',
  '0',
  '4',
  '11',
  '11',
  1984],
 ['11',
  '이윤섭',
  '롯데  ',
  '5.40',
  '6',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '-',
  '45',
  '10',
  '12',
  '1',
  '5',
  '0',
  '1',
  '6',
  '6',
  1984],
 ['12',
  '이문한',
  '롯데  ',
  '5.58',
  '16',
  '0',
  '0',
  '1',
  '4',
  '0',
  '0',
  '0.200',
  '214',
  '50',
  '52',
  '8',
  '17',
  '2',
  '17',
  '32',
  '31',
  1984],
 ['1',
  '감사용',
  '삼미  ',
  '0.00',
  '1',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '-',
  '9',
  '2 1/3',
  '2',
  '0',
  '1',
  '0',
  '0',
  '0',
  '0',
  1984],
 ['2',
  '김상기',
  '삼미  ',
  '2.82',
  '11',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '-',
  '94',
  '22 1/3',
  '24',
  '1',
  '7',
  '3',
  '5',
  '9',
  '7',
  1984],
 ['3',
  '장명부',
  '삼미  ',
  '3.30',
  '45',
  '15',
  '2',
  '13',
  '20',
  '7',
  '0',
  '0.394',
  '1074',
  '261 2/3',
  '261',
  '20',
  '66',
  '6',
  '145',
  '111',
  '96',
  1984],
 ['4',
  '박정후',
  '삼미  ',
  '3.50',
  '31',
  '2',
  '0',
  '5',
  '11',
  '0',
  '0',
  '0.313',
  '586',
  '139',
  '129',
  '9',
  '70',
  '11',
  '60',
  '58',
  '54',
  1984],
 ['5',
  '최계훈',
  '삼미  ',
  '3.54',
  '34',
  '4',
  '0',
  '8',
  '8',
  '9',
  '0',
  '0.500',
  '589',
  '137 1/3',
  '132',
  '9',
  '55',
  '6',
  '99',
  '67',
  '54',
  1984],
 ['6',
  '김재현',
  '삼미  ',
  '4.32',
  '24',
  '0',
  '0',
  '3',
  '4',
  '0',
  '0',
  '0.429',
  '385',
  '89 2/3',
  '95',
  '10',
  '31',
  '6',
  '43',
  '53',
  '43',
  1984],
 ['7',
  '정성만',
  '삼미  ',
  '4.86',
  '29',
  '3',
  '0',
  '8',
  '10',
  '1',
  '0',
  '0.444',
  '666',
  '150',
  '149',
  '20',
  '83',
  '6',
  '67',
  '86',
  '81',
  1984],
 ['8',
  '오문현',
  '삼미  ',
  '5.59',
  '11',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '-',
  '123',
  '29',
  '30',
  '4',
  '11',
  '2',
  '7',
  '18',
  '18',
  1984],
 ['9',
  '인호봉',
  '삼미  ',
  '5.60',
  '8',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '-',
  '81',
  '17 2/3',
  '14',
  '2',
  '13',
  '5',
  '4',
  '12',
  '11',
  1984],
 ['10',
  '신태중',
  '삼미  ',
  '6.89',
  '14',
  '0',
  '0',
  '1',
  '6',
  '1',
  '0',
  '0.143',
  '227',
  '48 1/3',
  '55',
  '8',
  '34',
  '4',
  '30',
  '43',
  '37',
  1984],
 ['11',
  '김덕열',
  '삼미  ',
  '18.00',
  '2',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '-',
  '11',
  '2',
  '4',
  '0',
  '1',
  '1',
  '1',
  '4',
  '4',
  1984],
 ['1',
  '진동한',
  '삼성  ',
  '1.80',
  '2',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '-',
  '21',
  '5',
  '1',
  '0',
  '5',
  '0',
  '0',
  '1',
  '1',
  1984],
 ['2',
  '김일융',
  '삼성  ',
  '2.27',
  '38',
  '14',
  '3',
  '16',
  '10',
  '3',
  '0',
  '0.615',
  '907',
  '222',
  '191',
  '7',
  '78',
  '6',
  '155',
  '68',
  '56',
  1984],
 ['3',
  '김시진',
  '삼성  ',
  '3.18',
  '39',
  '11',
  '2',
  '19',
  '11',
  '2',
  '0',
  '0.633',
  '910',
  '215',
  '178',
  '14',
  '112',
  '13',
  '154',
  '94',
  '76',
  1984],
 ['4',
  '황규봉',
  '삼성  ',
  '3.25',
  '30',
  '2',
  '1',
  '10',
  '2',
  '4',
  '0',
  '0.833',
  '452',
  '108',
  '109',
  '4',
  '24',
  '8',
  '48',
  '42',
  '39',
  1984],
 ['5',
  '권영호',
  '삼성  ',
  '3.28',
  '29',
  '2',
  '0',
  '6',
  '8',
  '2',
  '0',
  '0.429',
  '574',
  '137 1/3',
  '124',
  '8',
  '57',
  '4',
  '52',
  '53',
  '50',
  1984],
 ['6',
  '성낙수',
  '삼성  ',
  '4.11',
  '6',
  '0',
  '0',
  '0',
  '2',
  '0',
  '0',
  '0.000',
  '71',
  '15 1/3',
  '21',
  '0',
  '5',
  '1',
  '4',
  '10',
  '7',
  1984],
 ['7',
  '전용권',
  '삼성  ',
  '4.44',
  '13',
  '0',
  '0',
  '0',
  '2',
  '1',
  '0',
  '0.000',
  '112',
  '26 1/3',
  '26',
  '0',
  '11',
  '2',
  '6',
  '13',
  '13',
  1984],
 ['8',
  '이선희',
  '삼성  ',
  '4.53',
  '17',
  '0',
  '0',
  '2',
  '4',
  '0',
  '0',
  '0.333',
  '225',
  '51 2/3',
  '58',
  '6',
  '23',
  '3',
  '23',
  '31',
  '26',
  1984],
 ['9',
  '양일환',
  '삼성  ',
  '4.64',
  '20',
  '1',
  '0',
  '2',
  '5',
  '1',
  '0',
  '0.286',
  '272',
  '64',
  '57',
  '7',
  '33',
  '4',
  '20',
  '34',
  '33',
  1984],
 ['10',
  '송진호',
  '삼성  ',
  '5.45',
  '12',
  '0',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0.000',
  '153',
  '33',
  '29',
  '1',
  '27',
  '2',
  '14',
  '24',
  '20',
  1984],
 ['11',
  '권기홍',
  '삼성  ',
  '7.88',
  '3',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '-',
  '37',
  '8',
  '9',
  '1',
  '4',
  '1',
  '0',
  '7',
  '7',
  1984],
 ['12',
  '박영진',
  '삼성  ',
  '18.00',
  '1',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '-',
  '6',
  '1',
  '3',
  '0',
  '1',
  '0',
  '0',
  '2',
  '2',
  1984],
 ['1',
  '주동식',
  '해태  ',
  '2.27',
  '18',
  '4',
  '2',
  '6',
  '5',
  '0',
  '0',
  '0.545',
  '333',
  '83 1/3',
  '74',
  '4',
  '21',
  '3',
  '27',
  '23',
  '21',
  1984],
 ['2',
  '김현재',
  '해태  ',
  '2.70',
  '4',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '-',
  '35',
  '6 2/3',
  '8',
  '2',
  '6',
  '0',
  '4',
  '8',
  '2',
  1984],
 ['3',
  '이상윤',
  '해태  ',
  '2.85',
  '40',
  '8',
  '1',
  '10',
  '13',
  '8',
  '0',
  '0.435',
  '876',
  '211 2/3',
  '186',
  '14',
  '73',
  '10',
  '128',
  '75',
  '67',
  1984],
 ['4',
  '김용남',
  '해태  ',
  '3.05',
  '31',
  '6',
  '2',
  '7',
  '11',
  '1',
  '0',
  '0.389',
  '547',
  '132 2/3',
  '133',
  '10',
  '19',
  '1',
  '68',
  '58',
  '45',
  1984],
 ['5',
  '강만식',
  '해태  ',
  '3.26',
  '28',
  '3',
  '0',
  '11',
  '4',
  '0',
  '0',
  '0.733',
  '540',
  '129 2/3',
  '124',
  '14',
  '36',
  '7',
  '60',
  '58',
  '47',
  1984],
 ['6',
  '조도연',
  '해태  ',
  '3.34',
  '35',
  '2',
  '0',
  '4',
  '6',
  '2',
  '0',
  '0.400',
  '547',
  '129 1/3',
  '122',
  '11',
  '44',
  '3',
  '63',
  '61',
  '48',
  1984],
 ['7',
  '황기선',
  '해태  ',
  '3.76',
  '38',
  '2',
  '0',
  '4',
  '7',
  '1',
  '0',
  '0.364',
  '536',
  '124 1/3',
  '110',
  '10',
  '55',
  '9',
  '65',
  '70',
  '52',
  1984],
 ['8',
  '방수원',
  '해태  ',
  '3.82',
  '25',
  '1',
  '1',
  '1',
  '8',
  '0',
  '0',
  '0.111',
  '280',
  '66',
  '64',
  '2',
  '20',
  '6',
  '30',
  '39',
  '28',
  1984],
 ['9',
  '문희수',
  '해태  ',
  '4.26',
  '5',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '-',
  '55',
  '12 2/3',
  '12',
  '0',
  '5',
  '1',
  '14',
  '6',
  '6',
  1984],
 ['1',
  '김봉근',
  'MBC   ',
  '2.52',
  '32',
  '7',
  '1',
  '9',
  '7',
  '2',
  '0',
  '0.563',
  '681',
  '171 1/3',
  '146',
  '9',
  '37',
  '6',
  '61',
  '62',
  '48',
  1984],
 ['2',
  '이광권',
  'MBC   ',
  '2.65',
  '13',
  '1',
  '0',
  '1',
  '3',
  '0',
  '0',
  '0.250',
  '212',
  '51',
  '54',
  '2',
  '22',
  '2',
  '14',
  '19',
  '15',
  1984],
 ['3',
  '하기룡',
  'MBC   ',
  '2.82',
  '30',
  '11',
  '3',
  '15',
  '8',
  '1',
  '0',
  '0.652',
  '751',
  '178 2/3',
  '171',
  '7',
  '59',
  '13',
  '81',
  '70',
  '56',
  1984],
 ['4',
  '오영일',
  'MBC   ',
  '3.08',
  '40',
  '14',
  '2',
  '15',
  '14',
  '3',
  '0',
  '0.517',
  '1004',
  '239 2/3',
  '239',
  '16',
  '79',
  '13',
  '93',
  '92',
  '82',
  1984],
 ['5',
  '유종겸',
  'MBC   ',
  '3.53',
  '38',
  '6',
  '0',
  '8',
  '10',
  '4',
  '0',
  '0.444',
  '770',
  '183 2/3',
  '180',
  '13',
  '52',
  '5',
  '85',
  '79',
  '72',
  1984],
 ['6',
  '이길환',
  'MBC   ',
  '4.86',
  '12',
  '0',
  '0',
  '3',
  '3',
  '0',
  '0',
  '0.500',
  '217',
  '50',
  '62',
  '9',
  '9',
  '3',
  '15',
  '34',
  '27',
  1984],
 ['7',
  '정순명',
  'MBC   ',
  '7.15',
  '8',
  '0',
  '0',
  '0',
  '3',
  '0',
  '0',
  '0.000',
  '106',
  '22 2/3',
  '24',
  '3',
  '17',
  '1',
  '7',
  '18',
  '18',
  1984],
 ['1',
  '장호연',
  'OB    ',
  '1.58',
  '31',
  '0',
  '0',
  '5',
  '3',
  '1',
  '0',
  '0.625',
  '407',
  '102 1/3',
  '77',
  '3',
  '35',
  '4',
  '47',
  '34',
  '18',
  1984],
 ['2',
  '계형철',
  'OB    ',
  '2.06',
  '29',
  '6',
  '1',
  '14',
  '4',
  '0',
  '0',
  '0.778',
  '701',
  '174 2/3',
  '135',
  '8',
  '63',
  '7',
  '92',
  '44',
  '40',
  1984],
 ['3',
  '황태환',
  'OB    ',
  '2.48',
  '17',
  '0',
  '0',
  '0',
  '2',
  '0',
  '0',
  '0.000',
  '159',
  '40',
  '36',
  '3',
  '15',
  '2',
  '19',
  '12',
  '11',
  1984],
 ['4',
  '박상열',
  'OB    ',
  '2.57',
  '30',
  '1',
  '0',
  '12',
  '7',
  '0',
  '0',
  '0.632',
  '532',
  '133',
  '108',
  '8',
  '49',
  '10',
  '47',
  '42',
  '38',
  1984],
 ['5',
  '윤석환',
  'OB    ',
  '2.84',
  '57',
  '0',
  '0',
  '12',
  '8',
  '25',
  '0',
  '0.600',
  '581',
  '146',
  '108',
  '17',
  '43',
  '3',
  '111',
  '49',
  '46',
  1984],
 ['6',

In [12]:
# 83~88년도 선수 정보 데이터 프레임 생성
df_8388 = pd.DataFrame({
    '순위':[],
    '선수명':[],
    '팀명':[],
    'ERA':[],
    'G':[],
    'CG':[],
    'SHO':[],
    'W':[],
    'L':[],
    'SV':[],
    'HLD':[],
    'WPCT':[],
    'TBF':[],
    'IP':[],
    'H':[],
    'HR':[],
    'BB':[],
    'HBP':[],
    'SO':[],
    'R':[],
    'ER':[],
    '년도':[]
    })

In [13]:
# 데이터프레임에 획득한 데이터 삽입

for n in range(len(info8388)):
    df_8388.loc[n] = info8388[n]

In [14]:
# 데이터 프레임 확인

df_8388.tail()

,순위,선수명,팀명,ERA,G,CG,SHO,W,L,SV,...,TBF,IP,H,HR,BB,HBP,SO,R,ER,년도
447,8,김강익,OB,5.28,6,0,0,0,1,0,...,63,15 1/3,15,4,5,0,3,9,9,1988
448,9,박상열,OB,5.59,13,0,0,0,3,0,...,216,46 2/3,53,9,23,4,12,34,29,1988
449,10,황태환,OB,6.52,23,1,0,0,2,0,...,221,49 2/3,58,7,21,1,11,38,36,1988
450,11,하창우,OB,6.61,5,1,0,0,1,0,...,70,16 1/3,22,1,3,1,2,13,12,1988
451,12,박노준,OB,18.00,1,0,0,0,0,0,...,17,3,5,0,1,1,1,6,6,1988

## 15~20년도 선수 데이터 획득 및 데이터 프레임화

In [15]:
# 15년도 선택 cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option:nth-child(34)

# 20년도 선택 cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option:nth-child(39)

In [16]:
driver.find_element_by_css_selector(f'#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option:nth-child({34})').click()

time.sleep(0.3)

html = driver.page_source
dom = BeautifulSoup(html, 'html.parser')

record_detail = dom.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr')

In [17]:
record_detail[0]

<tr>
<td>1</td>
<td><a href="/Record/Retire/Pitcher.aspx?playerId=79544">오장훈</a></td>
<td>두산</td>
<td class="asc" data-id="ERA_RT">0.00</td>
<td data-id="GAME_CN">1</td>
<td data-id="W_CN">0</td>
<td data-id="L_CN">0</td>
<td data-id="SV_CN">0</td>
<td data-id="HOLD_CN">0</td>
<td data-id="WRA_RT">-</td>
<td data-id="INN2_CN">1</td>
<td data-id="HIT_CN">1</td>
<td data-id="HR_CN">0</td>
<td data-id="BB_CN">1</td>
<td data-id="HP_CN">0</td>
<td data-id="KK_CN">2</td>
<td data-id="R_CN">0</td>
<td data-id="ER_CN">0</td>
<td data-id="WHIP_RT">2.00</td>
</tr>

In [19]:
# 2015~2020 년도 선수 데이터 획득 (1)

info1520 = []

for n in range(34, 40):
    driver.find_element_by_css_selector(f'#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option:nth-child({n})').click()

    time.sleep(1)

    team = driver.find_element_by_css_selector('#cphContents_cphContents_cphContents_ddlTeam_ddlTeam')

    for y in range(2, len(team.text.split('\n'))+1):
        driver.find_element_by_css_selector(f'#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option:nth-child({y})').click()

        time.sleep(1)

        html = driver.page_source
        dom = BeautifulSoup(html, 'html.parser')

        record_detail = dom.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr')

        for x in range(len(record_detail)):
            info1520.append(record_detail[x].text.split('\n')[1:-1])

        time.sleep(0.5)
        
        try: # 2번째 페이지 존재시 추가 데이터 획득
            driver.find_element_by_css_selector('#cphContents_cphContents_cphContents_ucPager_btnNo2').click()

            time.sleep(1)

            html = driver.page_source
            dom = BeautifulSoup(html, 'html.parser')

            record_detail = dom.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr')

            for x in range(len(record_detail)):
                info1520.append(record_detail[x].text.split('\n')[1:-1])
            
            driver.find_element_by_css_selector('#cphContents_cphContents_cphContents_ucPager_btnNo1').click()

            time.sleep(2)
            
        except:
            continue

driver.find_element_by_css_selector('#cphContents_cphContents_cphContents_udpContent > div.row > div.more_record > a.next').click()

In [20]:
# 2015~2020 년도 선수 데이터 획득 (2) >> 기록보기로 인한 추가 데이터

info1520_tmp = []

# 년도 데이터 추가를 위한 보조 변수
a = 2014
b = 0

for n in range(34, 40):
    a += 1

    driver.find_element_by_css_selector(f'#cphContents_cphContents_cphContents_ddlSeason_ddlSeason > option:nth-child({n})').click()

    time.sleep(1)

    team = driver.find_element_by_css_selector('#cphContents_cphContents_cphContents_ddlTeam_ddlTeam')

    for y in range(2, len(team.text.split('\n'))+1):
        driver.find_element_by_css_selector(f'#cphContents_cphContents_cphContents_ddlTeam_ddlTeam > option:nth-child({y})').click()

        time.sleep(1)

        html = driver.page_source
        dom = BeautifulSoup(html, 'html.parser')

        record_detail = dom.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr')

        for x in range(len(record_detail)):
            info1520_tmp.append(record_detail[x].text.split('\n')[1:-1])
            info1520_tmp[b].append(a)
            b += 1

        try: # 2번째 페이지 존재시 추가 데이터 획득
            driver.find_element_by_css_selector('#cphContents_cphContents_cphContents_ucPager_btnNo2').click()

            time.sleep(1)

            html = driver.page_source
            dom = BeautifulSoup(html, 'html.parser')

            record_detail = dom.select('#cphContents_cphContents_cphContents_udpContent > div.record_result > table > tbody > tr')

            for x in range(len(record_detail)):
                info1520_tmp.append(record_detail[x].text.split('\n')[1:-1])
                info1520_tmp[b].append(a)
                b += 1
            driver.find_element_by_css_selector('#cphContents_cphContents_cphContents_ucPager_btnNo1').click()

            time.sleep(2)
            
        except:
            continue

In [21]:
# 위 두 데이터셋 합치기

for n in range(len(info1520)):
    for x in range(4, 19):
        info1520[n].append(info1520_tmp[n][x])

In [22]:
# 15~20년도 선수 정보 데이터 프레임 생성

df_1520 = pd.DataFrame({
    '순위':[],
    '선수명':[],
    '팀명':[],
    'ERA':[],
    'G':[],
    'W':[],
    'L':[],
    'SV':[],
    'HLD':[],
    'WPCT':[],
    'IP':[],
    'H':[],
    'HR':[],
    'BB':[],
    'HBP':[],
    'SO':[],
    'R':[],
    'ER':[],
    'WHIP':[],
    'CG':[],
    'SHO':[],
    'QS':[],
    'BSV':[],
    'TBF':[],
    'NP':[],
    'AVG':[],
    '2B':[],
    '3B':[],
    'SAC':[],
    'SF':[],
    'IBB':[],
    'WP':[],
    'BK':[],
    '년도':[]
    })

In [23]:
# 데이터프레임에 획득한 데이터 삽입

for n in range(len(info1520)):
    df_1520.loc[n] = info1520[n]

In [24]:
df_1520.tail()

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,...,NP,AVG,2B,3B,SAC,SF,IBB,WP,BK,년도
1528,25,김택형,SK,8.61,31,1,3,0,3,0.250,...,439,0.280,2,1,1,0,1,6,0,2020
1529,26,양선률,SK,9.00,1,0,0,0,0,-,...,23,0.333,0,0,0,0,0,0,0,2020
1530,27,신재웅,SK,9.31,24,2,0,0,0,1.000,...,378,0.333,3,2,0,1,0,0,0,2020
1531,28,김찬호,SK,27.00,3,0,0,0,0,-,...,57,0.500,0,0,0,0,0,0,0,2020
1532,29,윤강민,SK,67.50,1,0,0,0,0,-,...,23,0.667,1,0,0,0,0,0,0,2020

In [25]:
df_8388.columns

Index(['순위', '선수명', '팀명', 'ERA', 'G', 'CG', 'SHO', 'W', 'L', 'SV', 'HLD',
       'WPCT', 'TBF', 'IP', 'H', 'HR', 'BB', 'HBP', 'SO', 'R', 'ER', '년도'],
      dtype='object')

In [26]:
df_1520.columns

Index(['순위', '선수명', '팀명', 'ERA', 'G', 'W', 'L', 'SV', 'HLD', 'WPCT', 'IP', 'H',
       'HR', 'BB', 'HBP', 'SO', 'R', 'ER', 'WHIP', 'CG', 'SHO', 'QS', 'BSV',
       'TBF', 'NP', 'AVG', '2B', '3B', 'SAC', 'SF', 'IBB', 'WP', 'BK', '년도'],
      dtype='object')

In [27]:
# 15~20년도 선수 데이터프레임에서 83~88 년도에 존재하지 않는 컬럼 확인

tmp = [x for x in list(df_1520.columns) if x not in list(df_8388.columns)]
tmp

['WHIP', 'QS', 'BSV', 'NP', 'AVG', '2B', '3B', 'SAC', 'SF', 'IBB', 'WP', 'BK']

In [28]:
# 존재하지 않는 컬럼 제거

df_1520 = df_1520.drop(tmp, axis=1)
df_1520.head()

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,...,HR,BB,HBP,SO,R,ER,CG,SHO,TBF,년도
0,1,김정인,넥센,0.00,1,0,0,0,0,-,...,0,0,0,0,0,0,0,0,3,2015
1,2,양훈,넥센,1.41,16,2,1,0,0,0.667,...,1,14,0,15,9,6,0,0,153,2015
2,3,조상우,넥센,3.09,70,8,5,5,19,0.615,...,4,41,6,89,36,32,0,0,382,2015
3,4,밴헤켄,넥센,3.62,32,15,8,0,0,0.652,...,14,67,1,193,92,79,0,0,825,2015
4,5,손승락,넥센,3.82,58,4,6,23,0,0.400,...,6,13,3,63,35,26,0,0,272,2015

In [29]:
# 8388, 1520 데이터 결합

df_tot = pd.concat([df_8388, df_1520], keys=['순위', '선수명', '팀명', 'ERA', 'G', 'CG', 'SHO', 'W', 'L', 'SV', 'HLD',
       'WPCT', 'TBF', 'IP', 'H', 'HR', 'BB', 'HBP', 'SO', 'R', 'ER', '년도'])

df_tot = df_tot.reset_index(drop=True)

In [30]:
df_tot.head(3)

,순위,선수명,팀명,ERA,G,CG,SHO,W,L,SV,...,TBF,IP,H,HR,BB,HBP,SO,R,ER,년도
0,1,최동원,롯데,2.89,38,16,1,9,16,4,...,863,208 2/3,202,17,51,8,148,89,67,1983
1,2,배경환,롯데,3.18,37,4,2,7,4,0,...,637,150,159,9,32,5,62,72,53,1983
2,3,천창호,롯데,3.42,27,0,0,7,3,0,...,349,81 2/3,91,12,12,6,38,39,31,1983

In [31]:
df_tot.tail(3)

,순위,선수명,팀명,ERA,G,CG,SHO,W,L,SV,...,TBF,IP,H,HR,BB,HBP,SO,R,ER,년도
1982,27,신재웅,SK,9.31,24,0,0,2,0,0,...,93,19 1/3,26,5,14,0,11,20,20,2020
1983,28,김찬호,SK,27.00,3,0,0,0,0,0,...,14,2,5,1,4,0,1,6,6,2020
1984,29,윤강민,SK,67.50,1,0,0,0,0,0,...,8,2/3,4,0,1,1,1,5,5,2020

## 연봉 데이터 추가

In [32]:
# 연봉 데이터 추가 (1)
# 열 추가

df_tot['Sal'] = np.nan
df_tot.head(3)

,순위,선수명,팀명,ERA,G,CG,SHO,W,L,SV,...,IP,H,HR,BB,HBP,SO,R,ER,년도,Sal
0,1,최동원,롯데,2.89,38,16,1,9,16,4,...,208 2/3,202,17,51,8,148,89,67,1983,NaN
1,2,배경환,롯데,3.18,37,4,2,7,4,0,...,150,159,9,32,5,62,72,53,1983,NaN
2,3,천창호,롯데,3.42,27,0,0,7,3,0,...,81 2/3,91,12,12,6,38,39,31,1983,NaN

In [33]:
# 연봉 데이터 추가 (2)
# 특정 사이트에서 연봉 정보를 찾아 이름에 맞게 데이터 삽입

URL = "http://www.statiz.co.kr/salary.php?opt=0&sopt=2015&te="
driver = webdriver.Chrome("../driver/chromedriver.exe")
driver.get(URL) # 스탯티즈 연봉 정보

html = driver.page_source
dom = BeautifulSoup(html, 'html.parser')

In [34]:
# 83~88 년도 연봉 데이터 없으므로, 15~20 년도 데이터만 추가

In [35]:
# 여러 시도를 위해 원본 데이터를 카피한 테스트용 데이터프레임 생성

df_test = df_tot.copy()

In [40]:
num = driver.find_element_by_css_selector('body > div > div.content-wrapper > div > section.content > div > div:nth-child(2) > div:nth-child(2) > div > div > div.box-body.no-padding > table > tbody')

num.text.split('\n')[1].split(' ')

['로저스', '2015', '한화', '170,000', '2.836']

In [41]:
# 사이트 버튼 클릭 및 정보 조회를 위한 여러 selenium 명령 / 변수 선언 / 연봉 정보 추출

sal_info = []

# 연도 클릭
for a in range (35, 41):
    driver.find_element_by_css_selector('body > div > div.content-wrapper > div > section.content > div > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(1) > div > button').click()

    time.sleep(0.7)

    driver.find_element_by_css_selector(f'body > div > div.content-wrapper > div > section.content > div > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(1) > div > ul > div > button:nth-child({a})').click()
  
    time.sleep(0.7)

    html = driver.page_source
    dom = BeautifulSoup(html, 'html.parser')

    team = dom.select('body > div > div.content-wrapper > div > section.content > div > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(2) > div > ul > div > button')

    for b in range(2, len(team)+1):
        # 팀 클릭
        driver.find_element_by_css_selector('body > div > div.content-wrapper > div > section.content > div > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(2) > div > button').click()

        time.sleep(0.7)

        driver.find_element_by_css_selector(f'body > div > div.content-wrapper > div > section.content > div > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(2) > div > ul > div > button:nth-child({b})').click()

        time.sleep(0.7)

        num = driver.find_element_by_css_selector('body > div > div.content-wrapper > div > section.content > div > div:nth-child(2) > div:nth-child(2) > div > div > div.box-body.no-padding > table > tbody')

        # 연봉 테이블 추출
        sal_info.append(num.text.split('\n')[1:])

In [42]:
sal_test = sal_info.copy()
sal_test

[['윤석민 2015 KIA 125,000 3.873',
  '필 2015 KIA 90,000 3.057',
  '양현종 2015 KIA 75,000 8.135',
  '이범호 2015 KIA 65,000 2.778',
  '김주찬 2015 KIA 50,000 3.164',
  '나지완 2015 KIA 20,000 -0.144',
  '김원섭 2015 KIA 15,000 1.448',
  '김병현 2015 KIA 15,000 -0.193',
  '심동섭 2015 KIA 14,000 0.545',
  '최영필 2015 KIA 13,000 1.844',
  '임준혁 2015 KIA 13,000 2.492',
  '김민우 2015 KIA 12,000 0.619',
  '신종길 2015 KIA 12,000 0.888',
  '김진우 2015 KIA 12,000 0.494',
  '김광수 2015 KIA 10,000 0.549',
  '김태영 2015 KIA 8,800 0.273',
  '이홍구 2015 KIA 7,000 0.768',
  '한승혁 2015 KIA 7,000 0.376',
  '김다원 2015 KIA 7,000 0.354',
  '이성우 2015 KIA 6,500 -0.108',
  '한기주 2015 KIA 6,500 0.134',
  '유창식 2015 KIA 6,000',
  '백용환 2015 KIA 6,000 0.783',
  '김호령 2015 KIA 6,000 0.851',
  '강한울 2015 KIA 6,000 -0.945',
  '곽정철 2015 KIA 5,500',
  '김주형 2015 KIA 5,500 -0.831',
  '최용규 2015 KIA 5,000 -1.202',
  '박준표 2015 KIA 4,500 0.206',
  '홍건희 2015 KIA 4,500 -0.122',
  '신창호 2015 KIA 3,700 -0.032',
  '박찬호 2015 KIA 3,700 -1.174',
  '이호신 2015 KIA 3,600 -0.351',
  '전현태 2015 KIA 3,500 -0.051',
  '윤완주 2015 KIA 3,500',
  '박준태 2015 KIA 3,400 -0.212',
  '오준혁 2015 KIA 3,300',
  '배힘찬 2015 KIA 3,300',
  '임기준 2015 KIA 3,300 -0.502',
  '김준 2015 KIA 3,200 0.085',
  '고영우 2015 KIA 3,200',
  '최현정 2015 KIA 3,000',
  '최병연 2015 KIA 3,000 0.032',
  '이은총 2015 KIA 3,000 -0.205',
  '이인행 2015 KIA 3,000 -0.779',
  '황대인 2015 KIA 3,000 -0.353',
  '노수광 2015 KIA 3,000 -0.229',
  '윤정우 2015 KIA 2,900',
  '김명찬 2015 KIA 2,900 0.186',
  '김지훈 2015 KIA 2,900',
  '백세웅 2015 KIA 2,800',
  '박상옥 2015 KIA 2,800',
  '오두철 2015 KIA 2,800',
  '이윤학 2015 KIA 2,700',
  '문경찬 2015 KIA 2,700 -0.490',
  '박정수 2015 KIA 2,700 0.080',
  '이준영 2015 KIA 2,700',
  '이종석 2015 KIA 2,700 -0.206',
  '최희섭 2015 KIA 0 -0.093',
  '험버 2015 KIA 0 0.036',
  '서재응 2015 KIA 0 0.479',
  '스틴슨 2015 KIA 0 2.187',
  '진갑용 2015 KIA 0',
  '박기남 2015 KIA 0 -0.023',
  '장시하 2015 KIA 0',
  '류은재 2015 KIA 0',
  '에반 2015 KIA 0 0.234',
  '황수현 2015 KIA 0 -0.047'],
 ['이승엽 2015 삼성 100,000 3.156',
  '윤성환 2015 삼성 80,000 3.909',
  '안지만 2015 삼성 75,000 2.378',
  '장원삼 2015 삼성 75,000 -0.371',
  '최형우 2015 삼성 70,000 4.863',
  '임창용 2015 삼성 50,000 2.080',
  '박한이 2015 삼성 45,000 2.373',
  '차우찬 2015 삼성 40,000 1.623',
  '김상수 2015 삼성 31,000 2.732',
  '이지영 2015 삼성 21,000 2.123',
  '배영섭 2015 삼성 16,000 0.060',
  '백정현 2015 삼성 15,000 0.010',
  '박해민 2015 삼성 15,000 4.972',
  '심창민 2015 삼성 14,000 1.172',
  '박근홍 2015 삼성 11,000 1.034',
  '김대우 2015 삼성 11,000',
  '구자욱 2015 삼성 8,000 5.270',
  '이흥련 2015 삼성 7,500 0.163',
  '권오준 2015 삼성 7,000 -0.440',
  '정인욱 2015 삼성 6,000 -0.605',
  '이영욱 2015 삼성 6,000 -0.087',
  '김태완 2015 삼성 6,000 -0.037',
  '김건한 2015 삼성 6,000 -0.055',
  '신용운 2015 삼성 5,500 -0.502',
  '이영욱9 2015 삼성 5,500',
  '우동균 2015 삼성 5,500 -0.261',
  '조현근 2015 삼성 4,500 0.207',
  '김현우 2015 삼성 4,500 -0.047',
  '김재현 2015 삼성 4,500 -0.184',
  '백상원 2015 삼성 4,500 -0.493',
  '이정식 2015 삼성 4,500 0.059',
  '김기태 2015 삼성 4,000 -0.212',
  '나성용 2015 삼성 3,700',
  '최선호 2015 삼성 3,500 -0.580',
  '이상훈 2015 삼성 3,500 -0.025',
  '임현준 2015 삼성 3,300 -0.249',
  '김정혁 2015 삼성 3,300 0.103',
  '박찬도 2015 삼성 3,100 0.056',
  '윤영수 2015 삼성 2,900 -0.011',
  '정민우 2015 삼성 2,900',
  '서동환 2015 삼성 2,900',
  '최민구 2015 삼성 2,900 0.000',
  '김응민 2015 삼성 2,800',
  '김성표 2015 삼성 2,800',
  '장필준 2015 삼성 2,800 -0.314',
  '박제윤 2015 삼성 2,800',
  '윤대경 2015 삼성 2,800',
  '노진용 2015 삼성 2,800',
  '문선엽 2015 삼성 2,800',
  '정광운 2015 삼성 2,800',
  '김기환 2015 삼성 2,700',
  '차화준 2015 삼성 2,700',
  '김성한 2015 삼성 2,700',
  '박계범 2015 삼성 2,700 0.016',
  '박민규 2015 삼성 2,700',
  '클로이드 2015 삼성 0 0.195',
  '박진만 2015 삼성 0',
  '나바로 2015 삼성 0 6.688',
  '김희석 2015 삼성 0',
  '강봉규 2015 삼성 0 -0.094',
  '김재우 2015 삼성 0',
  '피가로 2015 삼성 0 4.242'],
 ['니퍼트 2015 두산 120,000 0.862',
  '장원준 2015 두산 100,000 2.889',
  '김현수 2015 두산 75,000 6.023',
  '김재호 2015 두산 41,000 3.604',
  '이현승 2015 두산 40,000 2.214',
  '홍성흔 2015 두산 40,000 0.095',
  '유희관 2015 두산 40,000 4.397',
  '오재원 2015 두산 40,000 2.348',
  '민병헌 2015 두산 35,000 3.316',
  '정수빈 2015 두산 28,000 1.604',
  '허경민 2015 두산 20,000 3.818',
  '양의지 2015 두산 20,000 5.879',
  '노경은 2015 두산 20,000 0.583',
  '고영민 2015 두산 15,000 0.621',
  '정재훈 2015 두산 15,000',
  '윤명준 2015 두산 11,500 1.277',
  '오현택 2015 두산 11,000 0.498',
  '최주환 2015 두산 11,000 0.877',
  '함덕주 2015 두산 10,000 1.351',
  '오재일 2015 두산 9,500 0.953',
  '허준혁 2015 두산 7,500 0.799',
  '변진수 2015 두산 7,300',
  '박건우 2015 두산 7,000 1.343',
  '최재훈 2015 두산 6,800 -0.709',
  '이현호 2015 두산 6,800 1.773',
  '김강률 2015 두산 6,200 0.472',
  '진야곱 2015 두산 6,000 -1.302',
  '정진호 2015 두산 5,200 -0.255',
  '김재환 2015 두산 5,000 0.589',
  '임진우 2015 두산 3,700',
  '박진우 2015 두산 3,200',
  '김명성 2015 두산 3,200 -0.126',
  '김동한 2015 두산 3,200',
  '유민상 2015 두산 3,200 -0.055',
  '최병욱 2015 두산 3,000',
  '최영진 2015 두산 3,000 -0.025',
  '국해성 2015 두산 3,000 0.096',
  '류지혁 2015 두산 3,000 0.142',
  '김강 2015 두산 3,000',
  '김진형 2015 두산 3,000 -0.086',
  '오장훈 2015 두산 2,900 0.043',
  '조승수 2015 두산 2,900 -0.009',
  '강동연 2015 두산 2,800',
  '장민익 2015 두산 2,800 -0.485',
  '이원재 2015 두산 2,800 -0.369',
  '양종민 2015 두산 2,800 -0.036',
  '박종기 2015 두산 2,700 -0.055',
  '남경호 2015 두산 2,700 -0.004',
  '채지선 2015 두산 2,700',
  '이용호 2015 두산 2,700 -0.120',
  '정진철 2015 두산 2,700',
  '한주성 2015 두산 2,700',
  '문진제 2015 두산 2,700',
  '전용훈 2015 두산 2,700',
  '박성민 2015 두산 2,700',
  '성영훈 2015 두산 2,700',
  '장승현 2015 두산 2,700',
  '김태형 2015 두산 0',
  '김수완 2015 두산 0 -0.131',
  '로메로 2015 두산 0 0.471',
  '루츠 2015 두산 0 -0.256',
  '마야 2015 두산 0 -0.913',
  '임태훈 2015 두산 0',
  '스와잭 2015 두산 0 0.871',
  '이정호 2015 두산 0',
  '유창준 2015 두산 0',
  '홍재용 2015 두산 0'],
 ['최정 2015 SK 100,000 3.955',
  '김광현 2015 SK 85,000 3.957',
  '켈리 2015 SK 75,000 4.399',
  '김강민 2015 SK 60,000 1.990',
  '밴와트 2015 SK 52,500 1.231',
  '박정권 2015 SK 40,000 2.348',
  '이대수 2015 SK 35,000 0.154',
  '조동화 2015 SK 30,000 0.327',
  '이재원 2015 SK 28,000 1.475',
  '채병용 2015 SK 25,000 0.483',
  '김승회 2015 SK 22,000',
  '박재상 2015 SK 20,000 0.137',
  '나주환 2015 SK 20,000 -0.139',
  '이명기 2015 SK 18,000 1.546',
  '김성현 2015 SK 18,000 1.410',
  '신재웅 2015 SK 16,500',
  '세든 2015 SK 15,000 1.217',
  '박희수 2015 SK 14,000 0.148',
  '전유수 2015 SK 13,000 1.504',
  '윤희상 2015 SK 12,000 0.481',
  '정의윤 2015 SK 12,000',
  '고효준 2015 SK 8,000 0.162',
  '박정배 2015 SK 8,000 0.234',
  '박종훈 2015 SK 7,000 1.169',
  '문광은 2015 SK 6,000 -0.522',
  '박계현 2015 SK 6,000 -1.496',
  '전병두 2015 SK 5,000',
  '최승준 2015 SK 4,200',
  '김재현 2015 SK 4,000 -0.193',
  '박민호 2015 SK 4,000 0.259',
  '신동훈 2015 SK 3,800',
  '백인식 2015 SK 3,800',
  '이상백 2015 SK 3,200',
  '최정민 2015 SK 3,000 -0.310',
  '김기현 2015 SK 3,000 0.100',
  '김민식 2015 SK 3,000 -0.187',
  '허웅 2015 SK 3,000 0.042',
  '서진용 2015 SK 3,000 0.147',
  '이진석 2015 SK 2,900 -0.001',
  '유서준 2015 SK 2,900 -0.112',
  '조이현 2015 SK 2,800',
  '윤석주 2015 SK 2,800 0.050',
  '이현석 2015 SK 2,700 0.089',
  '최정용 2015 SK 2,700',
  '김대유 2015 SK 2,700',
  '김정민 2015 SK 2,700',
  '허웅96 2015 SK 2,700',
  '김사윤 2015 SK 2,700',
  '유상화 2015 SK 2,700',
  '김태훈 2015 SK 2,700 -0.032',
  '이한진 2015 SK 0 0.051',
  '이창욱 2015 SK 0 0.031',
  '박철우 2015 SK 0 -0.075',
  '이재영 2015 SK 0 0.400',
  '이상열 2015 SK 0',
  '박인성 2015 SK 0',
  '브라운 2015 SK 0 2.289',
  '홍명찬 2015 SK 0 0.014'],
 ['박용택 2015 LG 80,000 2.235',
  '이병규 2015 LG 80,000 -0.434',
  '이동현 2015 LG 60,000 1.037',
  '소사 2015 LG 50,000 4.232',
  '정성훈 2015 LG 50,000 1.470',
  '정상호 2015 LG 50,000',
  '히메네스 2015 LG 50,000 2.365',
  '정현욱 2015 LG 40,000',
  '우규민 2015 LG 40,000 4.948',
  '봉중근 2015 LG 30,000 0.921',
  '이병규 2015 LG 26,000 -0.434',
  '오지환 2015 LG 25,000 6.573',
  '류제국 2015 LG 18,000 2.366',
  '임훈 2015 LG 13,000',
  '윤지웅 2015 LG 12,500 1.784',
  '임정우 2015 LG 12,500 1.458',
  '손주인 2015 LG 12,000 -0.935',
  '진해수 2015 LG 9,500',
  '최경철 2015 LG 9,000 -0.078',
  '유강남 2015 LG 8,100 0.814',
  '유원상 2015 LG 7,500 0.165',
  '양석환 2015 LG 7,000 -1.317',
  '문선재 2015 LG 6,500 -0.995',
  '서상우 2015 LG 6,000 0.906',
  '신승현 2015 LG 6,000 0.601',
  '김용의 2015 LG 6,000 -0.367',
  '채은성 2015 LG 5,500 0.124',
  '정찬헌 2015 LG 5,100 0.547',
  '장진용 2015 LG 5,000 -0.115',
  '여건욱 2015 LG 5,000',
  '김광삼 2015 LG 5,000 -0.066',
  '안익훈 2015 LG 4,100 0.642',
  '황목치승 2015 LG 4,000 -0.420',
  '김지용 2015 LG 4,000 0.709',
  '백창수 2015 LG 4,000',
  '김지성 2015 LG 3,800 -0.712',
  '이승현 2015 LG 3,700 0.115',
  '임지섭 2015 LG 3,500 0.106',
  '최동환 2015 LG 3,500 -0.125',
  '이민재 2015 LG 3,400 -0.420',
  '윤진호 2015 LG 3,300 -0.080',
  '한희 2015 LG 3,000',
  '강병의 2015 LG 3,000 -0.163',
  '장준원 2015 LG 3,000 -0.437',
  '박성준 2015 LG 3,000 -0.048',
  '조윤준 2015 LG 3,000 -0.204',
  '김재율 2015 LG 2,900 -0.140',
  '김재성 2015 LG 2,700 -0.053',
  '최민창 2015 LG 2,700',
  '윤여운 2015 LG 2,700',
  '이창호 2015 LG 2,700',
  '정규식 2015 LG 2,700',
  '전인환 2015 LG 2,700',
  '박지규 2015 LG 2,700 -0.742',
  '김창혁 2015 LG 2,700',
  '유경국 2015 LG 2,700',
  '이준형 2015 LG 2,700',
  '양원혁 2015 LG 2,700 -0.062',
  '한나한 2015 LG 0 0.616',
  '루카스 2015 LG 0 2.341',
  '정다흰 2015 LG 0'],
 ['린드블럼 2015 롯데 120,000 6.478',
  '강민호 2015 롯데 100,000 5.154',
  '아두치 2015 롯데 78,000 5.014',
  '손승락 2015 롯데 70,000',
  '레일리 2015 롯데 63,000 3.872',
  '손아섭 2015 롯데 60,000 4.017',
  '황재균 2015 롯데 50,000 4.692',
  '윤길현 2015 롯데 50,000',
  '송승준 2015 롯데 40,000 1.757',
  '최준석 2015 롯데 40,000 2.869',
  '정대현 2015 롯데 32,000 0.700',
  '강영식 2015 롯데 30,000 0.603',
  '정훈 2015 롯데 21,000 3.075',
  '김성배 2015 롯데 18,000 -0.704',
  '박종윤 2015 롯데 16,000 -0.849',
  '이명우 2015 롯데 15,000 0.062',
  '홍성민 2015 롯데 12,000 1.912',
  '이성민 2015 롯데 9,500',
  '임경완 2015 롯데 9,000',
  '박헌도 2015 롯데 8,000',
  '이우민 2015 롯데 7,000 0.442',
  '오승택 2015 롯데 7,000',
  '김문호 2015 롯데 7,000 0.744',
  '이정민 2015 롯데 6,500 -0.202',
  '박세웅 2015 롯데 5,600',
  '조정훈 2015 롯데 5,200',
  '배장호 2015 롯데 4,600 0.073',
  '안중열 2015 롯데 4,000',
  '김민하 2015 롯데 4,000 0.630',
  '이재곤 2015 롯데 3,800 -0.060',
  '김대우 2015 롯데 3,800 -0.982',
  '최영환 2015 롯데 3,700',
  '김원중 2015 롯데 3,600 0.052',
  '이여상 2015 롯데 3,600 -0.117',
  '손용석 2015 롯데 3,400 -0.928',
  '김주현 2015 롯데 3,300 -0.282',
  '김대륙 2015 롯데 3,200 -0.371',
  '김준태 2015 롯데 3,000 -0.362',
  '오현근 2015 롯데 3,000 -0.068',
  '나승현 2015 롯데 3,000',
  '허준혁 2015 롯데 3,000 -0.154',
  '문규현 2015 롯데 3,000 -0.162',
  '이인복 2015 롯데 2,900 -0.481',
  '강동수 2015 롯데 2,900',
  '강승현 2015 롯데 2,900',
  '구승민 2015 롯데 2,900 -0.583',
  '조홍석 2015 롯데 2,900 -0.063',
  '백동훈 2015 롯데 2,900 -0.199',
  '이경우 2015 롯데 2,800 -0.016',
  '차재용 2015 롯데 2,800 -0.040',
  '조현우 2015 롯데 2,800 0.027',
  '김유영 2015 롯데 2,800',
  '박진형 2015 롯데 2,800 0.047',
  '황진수 2015 롯데 2,800 -0.040',
  '양형진 2015 롯데 2,700',
  '안태경 2015 롯데 2,700',
  '강동관 2015 롯데 2,700',
  '배제성 2015 롯데 2,700',
  '김웅 2015 롯데 2,700',
  '이지모 2015 롯데 2,700',
  '김재유 2015 롯데 2,700 -0.214',
  '오윤석 2015 롯데 2,700 0.096',
  '박준서 2015 롯데 0 -0.090',
  '황동채 2015 롯데 0 -0.030',
  '고도현 2015 롯데 0',
  '김동빈 2015 롯데 0',
  '임재철 2015 롯데 0 0.197'],
 ['로저스 2015 한화 170,000 2.836',
  '김태균 2015 한화 160,000 5.196',
  '정우람 2015 한화 120,000',
  '정근우 2015 한화 70,000 4.940',
  '이용규 2015 한화 70,000 5.195',
  '배영수 2015 한화 55,000 -1.554',
  '권혁 2015 한화 45,000 0.875',
  '송은범 2015 한화 45,000 -0.529',
  '조인성 2015 한화 40,000 0.241',
  '박정진 2015 한화 30,000 2.807',
  '안영명 2015 한화 28,000 0.920',
  '이성열 2015 한화 25,000',
  '심수창 2015 한화 25,000',
  '김경언 2015 한화 20,000 2.671',
  '송신영 2015 한화 19,000',
  '최진행 2015 한화 18,500 2.457',
  '윤규진 2015 한화 17,000 2.074',
  '송창식 2015 한화 16,000 -0.556',
  '차일목 2015 한화 15,000',
  '송광민 2015 한화 10,000 0.121',
  '장민석 2015 한화 10,000',
  '정현석 2015 한화 9,500 0.480',
  '이재우 2015 한화 9,000',
  '임준섭 2015 한화 8,500',
  '권용관 2015 한화 8,000 -2.239',
  '고동진 2015 한화 8,000 -0.725',
  '김태완 2015 한화 8,000 -0.138',
  '허도환 2015 한화 7,500 -0.354',
  '이태양 2015 한화 6,500',
  '강경학 2015 한화 6,500 0.010',
  '이종환 2015 한화 6,200',
  '정범모 2015 한화 6,000 -1.392',
  '김회성 2015 한화 5,500 1.676',
  '이양기 2015 한화 5,400',
  '이동걸 2015 한화 5,200 0.315',
  '정대훈 2015 한화 5,100 0.370',
  '이시찬 2015 한화 5,100 -0.110',
  '박성호 2015 한화 5,000 0.124',
  '장운호 2015 한화 4,200 -0.248',
  '박노민 2015 한화 4,000 -0.008',
  '송주호 2015 한화 4,000 -0.999',
  '김민우 2015 한화 3,800 0.792',
  '정재원 2015 한화 3,700 -0.063',
  '주현상 2015 한화 3,700 0.759',
  '장민재 2015 한화 3,700 -0.204',
  '신성현 2015 한화 3,700 0.573',
  '김기현 2015 한화 3,300 0.805',
  '임익준 2015 한화 3,300 -0.080',
  '이창열 2015 한화 3,200 0.090',
  '하주석 2015 한화 3,200 0.262',
  '김범수 2015 한화 3,200 -0.037',
  '송창현 2015 한화 3,100',
  '김용주 2015 한화 3,000 0.298',
  '구본범 2015 한화 2,900 0.049',
  '황선일 2015 한화 2,800 -0.196',
  '이도윤 2015 한화 2,800',
  '윤중환 2015 한화 2,800',
  '지시완 2015 한화 2,700 -0.059',
  '문재현 2015 한화 2,700 -0.094',
  '조정원 2015 한화 2,700 -0.024',
  '윤기호 2015 한화 2,700 0.011',
  '채기영 2015 한화 2,700 -0.047',
  '유먼 2015 한화 0 1.128',
  '한상훈 2015 한화 0 -0.167',
  '마일영 2015 한화 0 -0.041',
  '허유강 2015 한화 0 -0.054',
  '폭스 2015 한화 0 0.117',
  '탈보트 2015 한화 0 1.982',
  '추승우 2015 한화 0',
  '정유철 2015 한화 0',
  '박한길 2015 한화 0 -0.094',
  '정민혁 2015 한화 0',
  '모건 2015 한화 0 0.405',
  '황재규 2015 한화 0'],
 ['박병호 2015 넥센 70,000 8.339',
  '밴헤켄 2015 넥센 65,000 5.116',
  '이택근 2015 넥센 50,000 1.845',
  '피어밴드 2015 넥센 45,000 3.098',
  '채태인 2015 넥센 30,000',
  '한현희 2015 넥센 30,000 2.001',
  '서건창 2015 넥센 26,000 1.533',
  '김민성 2015 넥센 22,000 1.946',
  '마정길 2015 넥센 20,000 0.435',
  '조상우 2015 넥센 17,000 3.360',
  '김하성 2015 넥센 16,000 5.905',
  '윤석민 2015 넥센 16,000 0.228',
  '양훈 2015 넥센 15,000 1.860',
  '박동원 2015 넥센 14,000 1.679',
  '문성현 2015 넥센 11,000 -0.492',
  '김세현 2015 넥센 9,500 1.738',
  '문우람 2015 넥센 9,000 0.077',
  '오재영 2015 넥센 8,800',
  '금민철 2015 넥센 7,900 0.628',
  '고종욱 2015 넥센 7,700 1.456',
  '김상수 2015 넥센 6,000 -0.268',
  '유재신 2015 넥센 6,000 0.380',
  '서동욱 2015 넥센 5,800 0.133',
  '하영민 2015 넥센 5,500 -0.045',
  '김지수 2015 넥센 5,500 -0.566',
  '이정훈 2015 넥센 4,900 -0.025',
  '김재현 2015 넥센 4,400 -0.246',
  '김택형 2015 넥센 4,400 -1.074',
  '박윤 2015 넥센 4,000',
  '임병욱 2015 넥센 4,000 -0.103',
  '유선정 2015 넥센 3,600 -0.304',
  '김정훈 2015 넥센 3,400 -0.118',
  '장영석 2015 넥센 3,300 -0.104',
  '장시윤 2015 넥센 3,300 -0.359',
  '홍성갑 2015 넥센 3,200 -0.020',
  '김정인 2015 넥센 3,000 0.045',
  '허정협 2015 넥센 3,000 0.086',
  '김동준 2015 넥센 3,000',
  '이상민 2015 넥센 3,000 -0.452',
  '임태준 2015 넥센 2,900',
  '황덕균 2015 넥센 2,700',
  '임동휘 2015 넥센 2,700',
  '최원태 2015 넥센 2,700',
  '정용준 2015 넥센 2,700',
  '정회찬 2015 넥센 2,700 -0.009',
  '김민준 2015 넥센 2,700 0.036',
  '박주현 2015 넥센 2,700',
  '김해수 2015 넥센 2,700',
  '강지광 2015 넥센 2,700 -0.180',
  '송성문 2015 넥센 2,700 -0.131',
  '송우현 2015 넥센 2,700',
  '김웅빈 2015 넥센 2,700',
  '신명수 2015 넥센 2,700',
  '양현 2015 넥센 2,700',
  '박정음 2015 넥센 2,700',
  '권택형 2015 넥센 0',
  '박성훈 2015 넥센 0',
  '오윤 2015 넥센 0',
  '백승룡 2015 넥센 0',
  '스나이더 2015 넥센 0 1.356',
  '안태영 2015 넥센 0',
  '구자형 2015 넥센 0 -0.026'],
 ['테임즈 2015 NC 125,000 10.873',
  '찰리 2015 NC 80,000 -0.313',
  '이호준 2015 NC 75,000 1.872',
  '박석민 2015 NC 75,000',
  '해커 2015 NC 60,000 5.636',
  '이종욱 2015 NC 50,000 1.961',
  '스튜어트 2015 NC 50,000 4.318',
  '손시헌 2015 NC 40,000 1.740',
  '이승호 2015 NC 35,000 -0.246',
  '나성범 2015 NC 30,000 5.739',
  '김태군 2015 NC 21,000 0.253',
  '이재학 2015 NC 20,000 2.357',
  '박민우 2015 NC 19,000 5.318',
  '김종호 2015 NC 17,500 2.631',
  '임창민 2015 NC 17,400 1.640',
  '김진성 2015 NC 15,000 0.865',
  '지석훈 2015 NC 14,000 -0.292',
  '이민호 2015 NC 13,500 0.566',
  '모창민 2015 NC 12,500 0.436',
  '조영훈 2015 NC 11,000 0.711',
  '이태양 2015 NC 10,000 3.112',
  '최금강 2015 NC 9,200 1.812',
  '용덕한 2015 NC 8,500',
  '원종현 2015 NC 8,000',
  '임정호 2015 NC 7,700 0.990',
  '손정욱 2015 NC 6,600 -0.050',
  '고창성 2015 NC 6,200 0.168',
  '김선규 2015 NC 6,000',
  '김성욱 2015 NC 5,500 0.945',
  '노건우 2015 NC 5,500 -0.726',
  '노진혁 2015 NC 4,300 -0.515',
  '조평호 2015 NC 3,500 0.109',
  '민성기 2015 NC 3,300',
  '김태진 2015 NC 3,000 -0.079',
  '강장산 2015 NC 3,000 0.114',
  '이창섭 2015 NC 3,000 -0.020',
  '박광열 2015 NC 3,000',
  '김준완 2015 NC 3,000 0.211',
  '윤병호 2015 NC 2,900 -0.216',
  '심규범 2015 NC 2,900',
  '장현식 2015 NC 2,700 -0.051',
  '최재원 2015 NC 2,700 0.759',
  '이호중 2015 NC 2,700',
  '정성민 2015 NC 2,700',
  '황윤호 2015 NC 2,700 -0.020',
  '이우석 2015 NC 2,700',
  '강구성 2015 NC 2,700 -0.020',
  '강민국 2015 NC 2,700 -0.039',
  '김학성 2015 NC 2,700',
  '문석종 2015 NC 2,700',
  '박세웅 2015 NC 2,700',
  '박진우 2015 NC 2,700 0.332',
  '배재환 2015 NC 2,700 -0.062',
  '류진욱 2015 NC 2,700',
  '윤수호 2015 NC 2,700',
  '윤강민 2015 NC 2,700 -0.195',
  '손민한 2015 NC 0 0.715',
  '이승재 2015 NC 0',
  '이대환 2015 NC 0 -0.086',
  '김지호 2015 NC 0',
  '찰리 2015 NC 0 -0.313',
  '마낙길 2015 NC 0 -0.045',
  '문수호 2015 NC 0 0.000',
  '박명환 2015 NC 0 0.417',
  '박정준 2015 NC 0 0.135',
  '이혜천 2015 NC 0 0.103'],
 ['마르테 2015 kt 75,000 4.392',
  '이진영 2015 kt 60,000',
  '유한준 2015 kt 60,000',
  '이대형 2015 kt 30,000 0.913',
  '박경수 2015 kt 23,000 5.528',
  '김상현 2015 kt 20,000 1.217',
  '김사율 2015 kt 20,000 -0.446',
  '박기혁 2015 kt 15,000 -0.642',
  '장시환 2015 kt 8,900 2.416',
  '최대성 2015 kt 8,500',
  '조무근 2015 kt 8,500 2.731',
  '오정복 2015 kt 8,000 0.421',
  '김재윤 2015 kt 7,200 1.023',
  '홍성용 2015 kt 7,000',
  '장성우 2015 kt 6,500',
  '윤요섭 2015 kt 6,500 -0.052',
  '정대현 2015 kt 6,300 1.101',
  '윤근영 2015 kt 6,200 0.284',
  '엄상백 2015 kt 6,000 0.228',
  '하준호 2015 kt 6,000',
  '이상화 2015 kt 5,000',
  '심재민 2015 kt 4,700 0.030',
  '김연훈 2015 kt 4,700',
  '김민혁 2015 kt 4,700 -0.556',
  '최원재 2015 kt 4,600 0.805',
  '김사연 2015 kt 4,500',
  '고영표 2015 kt 4,400 0.379',
  '이창재 2015 kt 4,400 -0.244',
  '이희근 2015 kt 4,300',
  '박용근 2015 kt 4,000 -0.145',
  '김동명 2015 kt 4,000',
  '정성곤 2015 kt 3,900 -0.698',
  '김종민 2015 kt 3,800 -0.064',
  '안상빈 2015 kt 3,700',
  '김영환 2015 kt 3,700 0.028',
  '홍성무 2015 kt 3,600 0.509',
  '주권 2015 kt 3,600 -0.369',
  '배우열 2015 kt 3,600 0.128',
  '문상철 2015 kt 3,600 -0.289',
  '김진곤 2015 kt 3,500 -0.972',
  '심우준 2015 kt 3,500 -1.107',
  '배정대 2015 kt 3,500',
  '김선민 2015 kt 3,200',
  '김민수 2015 kt 3,200 0.121',
  '김태훈 2015 kt 3,000 -0.378',
  '신현철 2015 kt 3,000',
  '안정광 2015 kt 2,900',
  '이해창 2015 kt 2,900 -0.061',
  '이창진 2015 kt 2,900',
  '이지찬 2015 kt 2,800 -0.234',
  '모상기 2015 kt 2,800 -0.207',
  '김병희 2015 kt 2,700',
  '한윤섭 2015 kt 2,700',
  '정다운 2015 kt 2,700',
  '김주원 2015 kt 2,700',
  '송민섭 2015 kt 2,700 0.059',
  '윤여운 2015 kt 2,700 -0.057',
  '저마노 2015 kt 0 1.581',
  '시스코 2015 kt 0 -0.282',
  '김기표 2015 kt 0 0.089',
  '어윈 2015 kt 0 -1.052',
  '옥스프링 2015 kt 0 3.680',
  '윤도경 2015 kt 0 -0.025',
  '조중근 2015 kt 0 0.082',
  '댄블랙 2015 kt 0 1.342',
  '장성호 2015 kt 0 0.333',
  '신명철 2015 kt 0 -0.291'],
 [],
 [],
 ['헥터 2016 KIA 170,000 6.644',
  '윤석민 2016 KIA 125,000 0.891',
  '양현종 2016 KIA 75,000 5.692',
  '이범호 2016 KIA 65,000 4.629',
  '임창용 2016 KIA 50,000 0.847',
  '김주찬 2016 KIA 50,000 4.271',
  '나지완 2016 KIA 20,000 3.695',
  '김병현 2016 KIA 15,000',
  '안치홍 2016 KIA 15,000 -0.124',
  '김원섭 2016 KIA 15,000 0.008',
  '심동섭 2016 KIA 14,000 -0.225',
  '김선빈 2016 KIA 13,000 0.284',
  '최영필 2016 KIA 13,000 1.518',
  '김진우 2016 KIA 12,000 0.286',
  '신종길 2016 KIA 12,000 0.582',
  '김광수 2016 KIA 10,000 0.699',
  '고효준 2016 KIA 8,000 0.000',
  '이홍구 2016 KIA 7,000 0.607',
  '김다원 2016 KIA 7,000 0.239',
  '한승혁 2016 KIA 7,000 0.334',
  '이성우 2016 KIA 6,500 -0.259',
  '한기주 2016 KIA 6,500 -0.274',
  '백용환 2016 KIA 6,000 -0.405',
  '강한울 2016 KIA 6,000 -0.058',
  '고영우 2016 KIA 6,000 -0.387',
  '김호령 2016 KIA 6,000 1.640',
  '서동욱 2016 KIA 5,800 2.661',
  '곽정철 2016 KIA 5,500 -0.106',
  '김주형 2016 KIA 5,500 1.626',
  '홍건희 2016 KIA 4,500 1.534',
  '박찬호 2016 KIA 3,700 -0.330',
  '이호신 2016 KIA 3,600 -0.325',
  '홍재호 2016 KIA 3,400 -0.140',
  '박준태 2016 KIA 3,400',
  '임기준 2016 KIA 3,300 0.169',
  '배힘찬 2016 KIA 3,300 -0.040',
  '오준혁 2016 KIA 3,300 0.283',
  '노수광 2016 KIA 3,000 1.359',
  '황대인 2016 KIA 3,000 0.165',
  '이은총 2016 KIA 3,000',
  '이인행 2016 KIA 3,000',
  '최병연 2016 KIA 3,000 -0.204',
  '윤정우 2016 KIA 2,900 0.408',
  '김명찬 2016 KIA 2,900 0.231',
  '전은석 2016 KIA 2,800',
  '정용운 2016 KIA 2,800 -0.130',
  '박상옥 2016 KIA 2,800',
  '박진두 2016 KIA 2,800',
  '백세웅 2016 KIA 2,800',
  '정동현 2016 KIA 2,700 0.106',
  '이진영 2016 KIA 2,700 -0.505',
  '한승택 2016 KIA 2,700 -0.258',
  '김윤동 2016 KIA 2,700 0.696',
  '김규성 2016 KIA 2,700',
  '최원준 2016 KIA 2,700 0.226',
  '전상현 2016 KIA 2,700 -0.156',
  '이준영 2016 KIA 2,700 -0.141',
  '이종석 2016 KIA 2,700',
  '신범수 2016 KIA 2,700',
  '서덕원 2016 KIA 2,700',
  '남재현 2016 KIA 2,700',
  '박정수 2016 KIA 2,700',
  '박동민 2016 KIA 2,700',
  '문경찬 2016 KIA 2,700',
  '류승현 2016 KIA 2,700',
  '김현준 2016 KIA 2,700',
  '백재엽 2016 KIA 0',
  '필 2016 KIA 0 2.434',
  '최현정 2016 KIA 0',
  '최용규 2016 KIA 0',
  '신창호 2016 KIA 0',
  '지크 2016 KIA 0 1.588',
  '이승우 2016 KIA 0',
  '이범석 2016 KIA 0',
  '김준 2016 KIA 0',

In [43]:
sal_test[0][0].split(' ')
# 이름: sal_test[0][0].split(' ')[0]
# 연도: sal_test[0][0].split(' ')[1]
# 연봉: sal_test[0][0].split(' ')[3]

['윤석민', '2015', 'KIA', '125,000', '3.873']

In [44]:
# 연봉 테이블 정리

sal_tmp = []

for x in range(len(sal_test)):
    if len(sal_test[x]) > 0:
        for y in range(len(sal_test[x])):
            name = sal_test[x][y].split(' ')[0]
            year = sal_test[x][y].split(' ')[1]
            pay = sal_test[x][y].split(' ')[3]
            sal_tmp.append([name, year, pay])

In [45]:
# 정리된 연봉 정보 데이터 프레임에 기입

for x in range(len(sal_tmp)):
    name = sal_tmp[x][0]
    year = sal_tmp[x][1]
    pay = sal_tmp[x][2]
    df_test.loc[(df_test.선수명 == name) & (df_test.년도 == int(year)), 'Sal'] = pay

In [286]:
# 연봉정보 기입 여부 확인

df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1985 entries, 0 to 1984
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순위      1985 non-null   object
 1   선수명     1985 non-null   object
 2   팀명      1985 non-null   object
 3   ERA     1985 non-null   object
 4   G       1985 non-null   object
 5   CG      1985 non-null   object
 6   SHO     1985 non-null   object
 7   W       1985 non-null   object
 8   L       1985 non-null   object
 9   SV      1985 non-null   object
 10  HLD     1985 non-null   object
 11  WPCT    1985 non-null   object
 12  TBF     1985 non-null   object
 13  IP      1985 non-null   object
 14  H       1985 non-null   object
 15  HR      1985 non-null   object
 16  BB      1985 non-null   object
 17  HBP     1985 non-null   object
 18  SO      1985 non-null   object
 19  R       1985 non-null   object
 20  ER      1985 non-null   object
 21  년도      1985 non-null   int64
 22  Sal     1239 non-null   object
dtypes: int64(1), object(22)
memory usage: 356.8+ KB

In [47]:
# 타자의 연봉 정보도 들어가 있어서 실제 스탯티즈 연봉 정보가 모두 반영되는 것이 아님
# 현재 우리는 투수에 대해서만 확인 중
# 그로 인해 기입 된 정보 양이 적은 것임 (오류로 인함이 아님)

## 문제2: 1980년대 최동원이 활동하던 투수들의 연봉 및 데이터를 2010년대 투수들의 연봉 및 데이터로 맵핑 변환 문제 해결

* 해결 논리:
  - 당시 연봉 정보가 부족하므로 2010년대 투수들의 연봉을 이용하여 머신러닝, 검증하고
  - 이후 1980년대 투수들의 데이터를 사용하여 연봉이 어느 정도 될지 예측
  - 이를 위해 위에서 2010년대 정보 중 과거에는 집계하지 않았던 데이터는 삭제 하였음

<br>

* 이후 해결 과정:
  - 먼저 연봉 범주 생성 (eg. 2억~2억 9천: 2억 대, 3억~3억 9천: 3억 대...)
  - 2010년대 투수 중 연봉 정보가 있는 투수들의 데이터를 이용하여 머신러닝
  - 최동원 선수의 성적을 반영하여 얼마가 될지 확인

## 문제3: 최동원의 성적이라면 연봉이 어떨지 예측

In [422]:
# 연봉 정보만 빼서 새로운 데이터 프레임 선언 >> 머신러닝 이용 용이를 위해

df_sal = df_test[(df_test.Sal.notnull())]
df_sal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1239 entries, 452 to 1984
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순위      1239 non-null   object
 1   선수명     1239 non-null   object
 2   팀명      1239 non-null   object
 3   ERA     1239 non-null   object
 4   G       1239 non-null   object
 5   CG      1239 non-null   object
 6   SHO     1239 non-null   object
 7   W       1239 non-null   object
 8   L       1239 non-null   object
 9   SV      1239 non-null   object
 10  HLD     1239 non-null   object
 11  WPCT    1239 non-null   object
 12  TBF     1239 non-null   object
 13  IP      1239 non-null   object
 14  H       1239 non-null   object
 15  HR      1239 non-null   object
 16  BB      1239 non-null   object
 17  HBP     1239 non-null   object
 18  SO      1239 non-null   object
 19  R       1239 non-null   object
 20  ER      1239 non-null   object
 21  년도      1239 non-null   int64
 22  Sal     1239 non-null   object
dtypes: int64(1), object(22)
memory usage: 232.3+ KB

In [423]:
# 연봉 데이터 타입 변환을 위해 콤마 제거

df_sal['Sal'] = df_sal['Sal'].str.replace(',', '')
df_sal

C:\Users\User\AppData\Local\Temp\ipykernel_18688\4201383398.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,순위,선수명,팀명,ERA,G,CG,SHO,W,L,SV,...,IP,H,HR,BB,HBP,SO,R,ER,년도,Sal
452,1,김정인,넥센,0.00,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,2015,3000
453,2,양훈,넥센,1.41,16,0,0,2,1,0,...,38 1/3,33,1,14,0,15,9,6,2015,15000
454,3,조상우,넥센,3.09,70,0,0,8,5,5,...,93 1/3,65,4,41,6,89,36,32,2015,17000
455,4,밴헤켄,넥센,3.62,32,0,0,15,8,0,...,196 2/3,190,14,67,1,193,92,79,2015,65000
456,5,손승락,넥센,3.82,58,0,0,4,6,23,...,61 1/3,73,6,13,3,63,35,26,2015,70000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1980,25,김택형,SK,8.61,31,0,0,1,3,0,...,23,26,5,20,0,22,26,22,2020,3700
1981,26,양선률,SK,9.00,1,0,0,0,0,0,...,1,1,1,2,0,0,1,1,2020,2700
1982,27,신재웅,SK,9.31,24,0,0,2,0,0,...,19 1/3,26,5,14,0,11,20,20,2020,11000
1983,28,김찬호,SK,27.00,3,0,0,0,0,0,...,2,5,1,4,0,1,6,6,2020,2900
1984,29,윤강민,SK,67.50,1,0,0,0,0,0,...,2/3,4,0,1,1,1,5,5,2020,2700

In [424]:
# 연봉 데이터 정수로 변환
df_sal['Sal'] = df_sal['Sal'].astype(int)
df_sal = df_sal.reset_index(drop=True)
df_sal

C:\Users\User\AppData\Local\Temp\ipykernel_18688\2950672990.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,순위,선수명,팀명,ERA,G,CG,SHO,W,L,SV,...,IP,H,HR,BB,HBP,SO,R,ER,년도,Sal
0,1,김정인,넥센,0.00,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,2015,3000
1,2,양훈,넥센,1.41,16,0,0,2,1,0,...,38 1/3,33,1,14,0,15,9,6,2015,15000
2,3,조상우,넥센,3.09,70,0,0,8,5,5,...,93 1/3,65,4,41,6,89,36,32,2015,17000
3,4,밴헤켄,넥센,3.62,32,0,0,15,8,0,...,196 2/3,190,14,67,1,193,92,79,2015,65000
4,5,손승락,넥센,3.82,58,0,0,4,6,23,...,61 1/3,73,6,13,3,63,35,26,2015,70000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234,25,김택형,SK,8.61,31,0,0,1,3,0,...,23,26,5,20,0,22,26,22,2020,3700
1235,26,양선률,SK,9.00,1,0,0,0,0,0,...,1,1,1,2,0,0,1,1,2020,2700
1236,27,신재웅,SK,9.31,24,0,0,2,0,0,...,19 1/3,26,5,14,0,11,20,20,2020,11000
1237,28,김찬호,SK,27.00,3,0,0,0,0,0,...,2,5,1,4,0,1,6,6,2020,2900
1238,29,윤강민,SK,67.50,1,0,0,0,0,0,...,2/3,4,0,1,1,1,5,5,2020,2700

In [425]:
df_sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1239 entries, 0 to 1238
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순위      1239 non-null   object
 1   선수명     1239 non-null   object
 2   팀명      1239 non-null   object
 3   ERA     1239 non-null   object
 4   G       1239 non-null   object
 5   CG      1239 non-null   object
 6   SHO     1239 non-null   object
 7   W       1239 non-null   object
 8   L       1239 non-null   object
 9   SV      1239 non-null   object
 10  HLD     1239 non-null   object
 11  WPCT    1239 non-null   object
 12  TBF     1239 non-null   object
 13  IP      1239 non-null   object
 14  H       1239 non-null   object
 15  HR      1239 non-null   object
 16  BB      1239 non-null   object
 17  HBP     1239 non-null   object
 18  SO      1239 non-null   object
 19  R       1239 non-null   object
 20  ER      1239 non-null   object
 21  년도      1239 non-null   int64
 22  Sal     1239 non-null   int32
dtypes: int32(1), int64(1), object(21)
memory usage: 217.9+ KB

In [426]:
# 연봉 범주 축소 전 조회

df_sal.Sal.unique()

array([  3000,  15000,  17000,  65000,  70000,   7900,   4900,  45000,
        30000,   3800,  20000,  19000,  11000,   3300,   3400,   5500,
         4400,   2700,   8800,      0,   6000,   2900,   6200,  40000,
        10000,  11500, 100000,   6800, 120000,   9000,   3200,   7300,
         2800,   6300,  63000,  12000,   9500,   3600,   6500,  25000,
        22000,   5000,   4600,  18000,  50000,   4500,  75000,  80000,
        14000,   4000,   7000,   3700, 170000,   8500,   5200,   5100,
        28000,  16000,  55000,  13000,   8900,   7200,   4700,   3900,
        12500,  60000,   7500,   3500,   9200,   7700,  17400,  13500,
         6600,  35000,  85000,  16500,  52500,   8000,   8400,  10500,
        14500,   3100,   4800,   2400,   4200, 210000,   5400,  21000,
        33000,   8300,   8100, 150000,  27000,   5300,   5700,  22500,
         8700,   6400,  23000, 135000,  23500, 111000,  15500,   7100,
        24000, 230000,  29000,  31000,   7600,   5800,  18800,  18500,
        10200, 140000, 110000, 117000,  76000,  95000,  90000,   5900,
        47000,  14200,  42000,  21500,  37000,   9700,  47900,   4300,
       130000,  26000,  27500,  25700])

In [427]:
# 연봉 범주 축소 (카테고리화)
# 천만 단위 연봉 >> 0 : 1억 미만
# 1~5억 >> 1
# 5억~10억 >> 2
# 10억 이상 >> 3

for x, y in df_sal.iterrows():
    if df_sal.loc[x, 'Sal'] < 10000:
        df_sal.loc[x, 'Sal_cl'] = 0
    elif df_sal.loc[x, 'Sal'] > 10000 and df_sal.loc[x, 'Sal'] < 50000:
        df_sal.loc[x, 'Sal_cl'] = 1
    elif df_sal.loc[x, 'Sal'] > 50000 and df_sal.loc[x, 'Sal'] < 100000:
        df_sal.loc[x, 'Sal_cl'] = 2
    else:
        df_sal.loc[x, 'Sal_cl'] = 3

df_sal.head()

,순위,선수명,팀명,ERA,G,CG,SHO,W,L,SV,...,H,HR,BB,HBP,SO,R,ER,년도,Sal,Sal_cl
0,1,김정인,넥센,0.00,1,0,0,0,0,0,...,0,0,0,0,0,0,0,2015,3000,0.0
1,2,양훈,넥센,1.41,16,0,0,2,1,0,...,33,1,14,0,15,9,6,2015,15000,1.0
2,3,조상우,넥센,3.09,70,0,0,8,5,5,...,65,4,41,6,89,36,32,2015,17000,1.0
3,4,밴헤켄,넥센,3.62,32,0,0,15,8,0,...,190,14,67,1,193,92,79,2015,65000,2.0
4,5,손승락,넥센,3.82,58,0,0,4,6,23,...,73,6,13,3,63,35,26,2015,70000,2.0

## 머신 러닝 및 연봉 예측 진행

In [428]:
df_sal.columns

Index(['순위', '선수명', '팀명', 'ERA', 'G', 'CG', 'SHO', 'W', 'L', 'SV', 'HLD',
       'WPCT', 'TBF', 'IP', 'H', 'HR', 'BB', 'HBP', 'SO', 'R', 'ER', '년도',
       'Sal', 'Sal_cl'],
      dtype='object')

In [429]:
# 대시 부호 / 빈칸은 오류를 일으키므로 0으로 임의 변경
df_sal = df_sal.replace('-', '0')
df_sal = df_sal.replace('', '0')
df_sal.head(3)

,순위,선수명,팀명,ERA,G,CG,SHO,W,L,SV,...,H,HR,BB,HBP,SO,R,ER,년도,Sal,Sal_cl
0,1,김정인,넥센,0.00,1,0,0,0,0,0,...,0,0,0,0,0,0,0,2015,3000,0.0
1,2,양훈,넥센,1.41,16,0,0,2,1,0,...,33,1,14,0,15,9,6,2015,15000,1.0
2,3,조상우,넥센,3.09,70,0,0,8,5,5,...,65,4,41,6,89,36,32,2015,17000,1.0

In [430]:
# IP의 /부호도 오류를 일으키므로 제거
df_sal.IP = df_sal.IP.str.replace('1/3', '')
df_sal.IP = df_sal.IP.str.replace('2/3', '')
df_sal = df_sal.replace('', '0')
df_sal.head(3)

,순위,선수명,팀명,ERA,G,CG,SHO,W,L,SV,...,H,HR,BB,HBP,SO,R,ER,년도,Sal,Sal_cl
0,1,김정인,넥센,0.00,1,0,0,0,0,0,...,0,0,0,0,0,0,0,2015,3000,0.0
1,2,양훈,넥센,1.41,16,0,0,2,1,0,...,33,1,14,0,15,9,6,2015,15000,1.0
2,3,조상우,넥센,3.09,70,0,0,8,5,5,...,65,4,41,6,89,36,32,2015,17000,1.0

In [431]:
# 데이터와 답 분리 / 훈련, 검증 데이터 분리

X = df_sal.drop(['순위', '팀명', '선수명', 'Sal', 'Sal_cl'], axis = 1)
y = df_sal['Sal_cl']

from sklearn.model_selection import train_test_split
import numpy as np

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [432]:
# 훈련/검증 데이터 분리 정도 확인

import plotly.graph_objects as go

fig = go.Figure()
fig.add_trace(go.Histogram(x=X_train['년도'], name = 'Train'))
fig.add_trace(go.Histogram(x=X_test['년도'], name = 'Test'))

fig.update_layout(barmode='overlay')
fig.update_traces(opacity=0.75)
fig.show()

In [433]:
# Decision Tree training

from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

sal_tree = DecisionTreeClassifier(max_depth=3)
sal_tree.fit(X_train, y_train)

y_pred_tr = sal_tree.predict(X_train)
y_pred_test = sal_tree.predict(X_test)

print('Train Accuray : ', accuracy_score(y_train, y_pred_tr))
print('Test Accuray : ', accuracy_score(y_test, y_pred_test))

Train Accuray :  0.7245206861755802
Test Accuray :  0.7338709677419355

In [434]:
dict(zip(X_train.columns, sal_tree.feature_importances_))

{'ERA': 0.02388246923090856,
 'G': 0.0,
 'CG': 0.0,
 'SHO': 0.0,
 'W': 0.5062461929599581,
 'L': 0.0,
 'SV': 0.21665873446745,
 'HLD': 0.053217618436215974,
 'WPCT': 0.0,
 'TBF': 0.0,
 'IP': 0.16352747498752884,
 'H': 0.0,
 'HR': 0.03646750991793857,
 'BB': 0.0,
 'HBP': 0.0,
 'SO': 0.0,
 'R': 0.0,
 'ER': 0.0,
 '년도': 0.0}

In [435]:
# GridSearch CV 활용, 최적화된 max_depth 추적

from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier

params = {'max_depth' : [2, 3, 4, 5, 7, 10, 15, 20]}

sal_tree = DecisionTreeClassifier(max_depth=2)
gridsearch = GridSearchCV(estimator=sal_tree, param_grid = params, cv=5)
gridsearch.fit(X, y)

# GridSearch CV 결과

import pprint

pp = pprint.PrettyPrinter(indent=4)
pp.pprint(gridsearch.cv_results_)

{   'mean_fit_time': array([0.00700626, 0.0084075 , 0.00680618, 0.00760679, 0.00840769,
       0.01020927, 0.01121006, 0.01161056]),
    'mean_score_time': array([0.00260253, 0.0028028 , 0.002002  , 0.00200191, 0.00200176,
       0.00200186, 0.00200195, 0.00240235]),
    'mean_test_score': array([0.68764529, 0.68682905, 0.62611336, 0.63416482, 0.59213465,
       0.56389905, 0.53809912, 0.53728614]),
    'param_max_depth': masked_array(data=[2, 3, 4, 5, 7, 10, 15, 20],
             mask=[False, False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object),
    'params': [   {'max_depth': 2},
                  {'max_depth': 3},
                  {'max_depth': 4},
                  {'max_depth': 5},
                  {'max_depth': 7},
                  {'max_depth': 10},
                  {'max_depth': 15},
                  {'max_depth': 20}],
    'rank_test_score': array([1, 2, 4, 3, 5, 6, 7, 8]),
    'split0_test_score': array([0.69354839, 0.70967742, 0.70564516, 0.72177419, 0.72983871,
       0.66129032, 0.63306452, 0.65725806]),
    'split1_test_score': array([0.69758065, 0.7016129 , 0.70564516, 0.71370968, 0.70564516,
       0.66935484, 0.64112903, 0.65725806]),
    'split2_test_score': array([0.69354839, 0.70564516, 0.70564516, 0.7016129 , 0.64919355,
       0.63709677, 0.60080645, 0.5766129 ]),
    'split3_test_score': array([0.6733871 , 0.64919355, 0.63306452, 0.66935484, 0.62903226,
       0.61693548, 0.57258065, 0.56048387]),
    'split4_test_score': array([0.68016194, 0.66801619, 0.3805668 , 0.36437247, 0.24696356,
       0.23481781, 0.24291498, 0.23481781]),
    'std_fit_time': array([0.00126633, 0.0008006 , 0.00116733, 0.00049021, 0.00049029,
       0.00040033, 0.0011671 , 0.00174528]),
    'std_score_time': array([4.90329691e-04, 7.48952816e-04, 2.61174468e-07, 6.32711281e-04,
       6.33012903e-04, 6.33012877e-04, 1.78416128e-07, 4.90427270e-04]),
    'std_test_score': array([0.00924879, 0.02393746, 0.12595027, 0.13607225, 0.17641274,
       0.16557247, 0.14959175, 0.15643423])}

In [436]:
# GridSearch를 이용한 최적 값 확인

gridsearch.best_estimator_, gridsearch.best_score_, gridsearch.best_params_

(DecisionTreeClassifier(max_depth=2), 0.6876452918897741, {'max_depth': 2})

## 최동원 선수 데이터 기입하여 연봉 예측

In [443]:
# 최동원 선수 데이터 확인

df_8388[(df_8388['선수명']=='최동원')]

,순위,선수명,팀명,ERA,G,CG,SHO,W,L,SV,...,TBF,IP,H,HR,BB,HBP,SO,R,ER,년도
0,1,최동원,롯데,2.89,38,16,1,9,16,4,...,863,208,202,17,51,8,148,89,67,1983
57,3,최동원,롯데,2.40,51,14,1,27,13,6,...,1132,284,228,18,68,14,223,91,76,1984
114,1,최동원,롯데,1.92,42,14,4,20,9,8,...,865,225,170,7,41,8,161,60,48,1985
183,1,최동원,롯데,1.55,39,17,4,19,14,2,...,1039,267,204,7,55,6,208,60,46,1986
274,3,최동원,롯데,2.81,32,15,4,14,12,2,...,920,224,218,6,61,7,163,80,70,1987
360,1,최동원,롯데,2.05,16,3,1,7,3,3,...,349,83,77,4,24,1,83,24,19,1988

In [442]:
# 오류 발생 부분 변경

df_8388 = df_8388.replace('-', '0')
df_8388 = df_8388.replace('', '0')
df_8388.IP = df_8388.IP.str.replace('1/3', '')
df_8388.IP = df_8388.IP.str.replace('2/3', '')
df_8388 = df_8388.replace('', '0')

In [449]:
choi = df_8388[(df_8388['선수명']=='최동원')].drop(['순위', '팀명', '선수명'], axis = 1)

In [457]:
X = df_sal.drop(['순위', '팀명', '선수명', 'Sal', 'Sal_cl'], axis = 1)
y = df_sal['Sal_cl']

from sklearn.model_selection import train_test_split
import numpy as np

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

sal_tree = DecisionTreeClassifier(max_depth=2)
sal_tree.fit(X_train, y_train)

y_pred_tr = sal_tree.predict(X_train)
y_pred_test = sal_tree.predict(X_test)

print('Train Accuray : ', accuracy_score(y_train, y_pred_tr))
print('Test Accuray : ', accuracy_score(y_test, y_pred_test))

Train Accuray :  0.7033299697275479
Test Accuray :  0.7016129032258065

In [458]:
print('최동원 선수 연봉: ', sal_tree.predict_proba(choi))

최동원 선수 연봉:  [[0.1372549  0.17647059 0.31372549 0.37254902]
 [0.1372549  0.17647059 0.31372549 0.37254902]
 [0.1372549  0.17647059 0.31372549 0.37254902]
 [0.1372549  0.17647059 0.31372549 0.37254902]
 [0.1372549  0.17647059 0.31372549 0.37254902]
 [0.46712803 0.36678201 0.10034602 0.06574394]]

In [462]:
choi_sal = pd.DataFrame(sal_tree.predict_proba(choi))
choi_sal.columns = ['1억 미만','1억 이상, 5억 미만', '5억 이상 10억 미만', '10억 이상']
choi_sal

      1억 미만  1억 이상, 5억 미만  5억 이상 10억 미만    10억 이상
0  0.137255      0.176471      0.313725  0.372549
1  0.137255      0.176471      0.313725  0.372549
2  0.137255      0.176471      0.313725  0.372549
3  0.137255      0.176471      0.313725  0.372549
4  0.137255      0.176471      0.313725  0.372549
5  0.467128      0.366782      0.100346  0.065744

## 결론

1. 83년~87년까지 최동원 선수는 2010년대 선수들의 성적과 비교하여 5억 / 10억 이상의 연봉을 받을 수 있을 정도의 결과를 냈다고 예상할 수 있음

<br>

2. 88년도에는 비교적 성적이 부진하여 5억 미만의 연봉을 받을 정도로 보임

<br>

3. 88년도 결과를 고려하더라도 5년간의 성적이 뛰어나므로 종합적으로 최동원 선수가 2010년대에 활동했더라면 충분히 10억 이상의 연봉을 받았을 것이라고 예측됨

<br>

* 물론, 데이터에 나오지 않은 다양한 요소들이 평가되어 연봉이 책정 되었을 것임. 현재 사용한 데이터는 결과를 보여주는 것이고, 해당 선수가 앞으로 시합에 어떤 결과를 가져올지 등을 고려하여 책정 될 수 있음. 이러한 부분에 대해 어떻게 예상할 것인지, 지표를 어떻게 만들 것인지 등 생각해 볼 것이 많아보임.

#### 배운 점

* 처음에는 연봉의 분류를 천만단위, 억 단위로 쪼개었기에 대상 수가 많아서 예측의 결과가 30%를 웃돌았음.
* 이를 해결하기 위해 좀 더 넓은 범위의 연봉을 한 카테고리에 담았음 >> 예측률이 70% 정도로 올랐고, 과적합의 모습은 보이지 않았음
* 결과가 rough 해지더라도, 데이터의 수가 적을 경우에는 머신러닝 답안의 카테고리 수를 최대한 적게 만들어 정확도를 높이는 방법을 쓰는 것도 좋은 것 같아보임.