<div align="center">
    <img src="images/zb-logo.png" alt="ì œë¡œë² ì´ìŠ¤" width="100%">
    <br>
    <a href="https://zerobaseschool.notion.site/DS-EDA-Lv-Test-b7d5e895c7cd4dda813c8fe2f2c23f79"><img src="images/openinnotion_logo.png" alt="EDA Lv Test Doc" width="12%"></a>

ì´ Jupyter Notebook íŒŒì¼ì€ <a href="https://zero-base.co.kr/category_data_camp/school_DS">ì œë¡œë² ì´ìŠ¤</a>ì—ì„œ ì œê³µí•˜ëŠ” **EDA Level Test** ë¬¸ì œì…ë‹ˆë‹¤.<br>
ì§€ê¸ˆê¹Œì§€ ê³µë¶€í•˜ì‹  ë‚´ìš©ìœ¼ë¡œ ë°ì´í„° ë¶„ì„ì— ëŒ€í•´ ì¢€ ë” ì—°ìŠµí•  ìˆ˜ ìˆëŠ” ì‹œê°„ì´ ë˜ì…¨ìœ¼ë©´ ì¢‹ê² ìŠµë‹ˆë‹¤.ğŸ™‚<br>
**EDA Level Test**ì— ëŒ€í•œ ì•ˆë‚´ ì‚¬í•­ì€ ìƒë‹¨ **Open in ZeroBase Notion** ë¡œê³ ë¥¼ í´ë¦­í•˜ì—¬ í™•ì¸í•´ì£¼ì„¸ìš”!<br>
ë°˜ë“œì‹œ ì‹œì‘ ì „ì— ë‚´ìš©ì„ ìˆ™ì§€í•´ì£¼ì‹œê¸°ë¥¼ ë°”ëë‹ˆë‹¤!<br>
</div>

***

<h1 style="background-color:#9F81F7;color:#D8D8D8;font-weight:bold;display:inline-block;padding: 5px">EDA Level Test 04 â­ï¸â­ï¸</h1>

| Week | Data Analysis | Difficulty | This Notebook |
|------|---------------|------------|-------|
| 1    | ì„œìš¸ì‹œ ì¸êµ¬ ë°ì´í„° | â­ï¸ ||
| 2    | í™”ì¥í’ˆ ì„±ë¶„ ë°ì´í„° | â­ï¸â­ï¸â­ï¸ ||
| 3    | ì˜¬ë¦¼í”½ ë°ì´í„° | â­ï¸â­ï¸ ||
| 4    | êµ­ê°€ë³„ ì¸í„°ë„· ì‚¬ìš©ë¥  ë°ì´í„° |â­ï¸â­ï¸ |ğŸ‘ˆ|
| 5    | ì „êµ­ ë°•ë¬¼ê´€/ë¯¸ìˆ ê´€ ì •ë³´ í‘œì¤€ ë°ì´í„° | â­ï¸â­ï¸â­ï¸ ||
| 6    | ì„œìš¸ì‹œ í¡ì—°ìœ¨ í†µê³„ ë°ì´í„° | â­ï¸â­ï¸ ||
| 7    | ì›¹í¬ë¡¤ë§ | â­ï¸ ||
| 8    | ì„œìš¸ì‹œ ì§€í•˜ì²  í˜¸ì„ ë³„ ì—­ë³„ ìœ /ë¬´ì„ ìŠ¹í•˜ì°¨ ì¸ì› ì •ë³´ ë°ì´í„° | â­ï¸â­ï¸ ||
| 9    | ì„œìš¸ì‹œ êµí†µì‚¬ê³  í˜„í™© (ì‚¬ê³ ìœ í˜•ë³„) í†µê³„ ë°ì´í„° | â­ï¸â­ï¸ ||
| 10   | ì„œìš¸ì‹œ êµí†µì‚¬ê³  í˜„í™© (ì‚¬ê³ ìœ í˜•ë³„) í†µê³„ + ì„œìš¸ì‹œ ì°¨ëŸ‰í†µí–‰ì†ë„ (êµ¬ë³„/ì›”ë³„) í†µê³„ + ì„œìš¸ì‹œ ì¸êµ¬ë°€ë„ (êµ¬ë³„) í†µê³„ | â­ï¸â­ï¸â­ï¸ ||

## ë¬¸ì œ ì†Œê°œ ë° ë°ì´í„° ì¤€ë¹„ ë‹¨ê³„

### Data ì›ë³¸ ì¶œì²˜

### Target Data(CSV): Global Internet Usage(êµ­ê°€ë³„ ì¸í„°ë„· ì‚¬ìš©ë¥ )
- Source: [Kaggle](https://www.kaggle.com/datasets/sansuthi/gapminder-internet)
- DownLoad: [archive.zip](https://www.kaggle.com/datasets/sansuthi/gapminder-internet/download)

### Reference Data01(HTML Link): êµ­ê°€ë³„ ì¸êµ¬(Population) Data
- Source: [Wiki](https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population)

### Reference Data02(CSV): êµ­ê°€ë³„ ISOì½”ë“œ / ì§€ì—­ ë¶„ë¥˜(Region) Data
- Source: [Kaggle](https://www.kaggle.com/datasets/andradaolteanu/country-mapping-iso-continent-region)
- DownLoad: [archive.zip](https://www.kaggle.com/datasets/andradaolteanu/country-mapping-iso-continent-region/download)


### ì°¸ê³ ì‚¬í•­
- ìœ„ 3ê°œì˜ Dataë“¤ì€ ìƒì„± ì‹œê¸°ê°€ ë‹¤ë¥´ë¯€ë¡œ ì´ Testì—ì„œ ë„ì¶œë˜ëŠ” ê²°ê³¼ëŠ” ì‹¤ì œì™€ ì¼ì¹˜í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.
<br></br>
- ë¬¸ì œì— hintê°€ ìˆì„ ê²½ìš°, í•´ë‹¹ hintë¥¼ ì´ìš©í•˜ì§€ ì•Šìœ¼ì…”ë„ ë¬´ë°©í•©ë‹ˆë‹¤.
<br></br>
- í•´ë‹¹ TestëŠ” Wikiì˜ Online Dataë¥¼ ê°€ì ¸ì˜¤ëŠ” ë‚´ìš©ì„ í¬í•¨í•˜ê³  ìˆìŠµë‹ˆë‹¤.
    - í•´ë‹¹ ë‚´ìš©ì´ ë³€ê²½ë  ê²½ìš° ì¶”í›„ ê³µìœ ë  ì •ë‹µê³¼ ë‹¤ë¥¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤.
    - ë¬¸ì œ ì œì‘ì‹œì˜ DataëŠ” ì¶”í›„ ê³µìœ ë  ì •ë‹µê³¼ í•¨ê»˜ ì œê³µí•©ë‹ˆë‹¤. í•´ë‹¹ DataëŠ” ì•„ë˜ì˜ ê²½ë¡œì— ìˆìŠµë‹ˆë‹¤.  
        - êµ­ê°€ë³„ ì¸êµ¬ Data  
            <code> [DS]EDA Level Test_week 4/solution/datas/wiki_population.csv </code>  
<br></br>
- í•´ë‹¹ TestëŠ” pycountry ë¼ëŠ” Libraryë¥¼ ì‚¬ìš©í•  ì˜ˆì •ì…ë‹ˆë‹¤.
    - https://pypi.org/project/pycountry/#description
    - https://github.com/flyingcircusio/pycountry
<br></br>
    - í•´ë‹¹ Libraryê°€ ì—†ëŠ” ê²½ìš° ì•„ë˜ ëª…ë ¹ì–´ë¥¼ ì‚¬ìš©í•˜ì—¬ ì„¤ì¹˜í•˜ì‹œê¸° ë°”ëë‹ˆë‹¤.  
    <code> pip install pycountry </code> ë˜ëŠ” <code> conda install -c conda-forge pycountry </code>

In [1]:
# ì„¤ì¹˜ í•„ìˆ˜
# !pip install pycountry
# !pip install lxml

In [2]:
import pandas as pd
# ì±„ì ì„ ìœ„í•œ ì½”ë“œì…ë‹ˆë‹¤. ë°˜ë“œì‹œ ì‹¤í–‰í•´ì£¼ì„¸ìš”.
from grading import *

df_target = pd.read_csv('./datas/gapminder_internet.csv')
df_target

                country  incomeperperson  internetuserate  urbanrate
0           Afghanistan              NaN         3.654122      24.04
1               Albania      1914.996551        44.989947      46.72
2               Algeria      2231.993335        12.500073      65.22
3               Andorra     21943.339900        81.000000      88.92
4                Angola      1381.004268         9.999954      56.70
..                  ...              ...              ...        ...
208             Vietnam       722.807559        27.851822      27.84
209  West Bank and Gaza              NaN        36.422772      71.90
210         Yemen, Rep.       610.357367        12.349750      30.64
211              Zambia       432.226337        10.124986      35.42
212            Zimbabwe       320.771890        11.500415      37.34

[213 rows x 4 columns]

## ë¬¸ì œ ì‹œì‘! ğŸƒğŸ»

## 1ë‹¨ê³„: Target Data ë¶ˆëŸ¬ì˜¤ê¸° & ì „ì²˜ë¦¬
***

### ë¬¸ì œ 1-1) Target Data ì „ì²˜ë¦¬ 01 (5ì ) 
- ìœ„ì—ì„œ ì½ì€ DataFrameì—ì„œ Nullê°’ì„ ì²˜ë¦¬í•˜ê³ ì í•©ë‹ˆë‹¤. ì•„ë˜ ì¡°ê±´ì— ë§ê²Œ Nullê°’ì„ ì²˜ë¦¬í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´1: 'incomeperperson', 'internetuserate', 'urbanrate' Column(ì—´)ì— í•˜ë‚˜ë¼ë„ Nullê°’ì´ ìˆë‹¤ë©´ ê·¸ row(í–‰)ë¥¼ ì‚­ì œ(drop)í•˜ì„¸ìš”.
    - ì¡°ê±´2: Indexì™€ ìˆœì„œ(order)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_01_01 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [3]:
# 1-1
df_target = df_target.dropna()
check_01_01(df_target)

ì •ë‹µì…ë‹ˆë‹¤! 5ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 5 / 100

In [4]:
df_target

                 country  incomeperperson  internetuserate  urbanrate
1                Albania      1914.996551        44.989947      46.72
2                Algeria      2231.993335        12.500073      65.22
3                Andorra     21943.339900        81.000000      88.92
4                 Angola      1381.004268         9.999954      56.70
5    Antigua and Barbuda     11894.464070        80.645455      30.46
..                   ...              ...              ...        ...
207            Venezuela      5528.363114        35.850437      93.32
208              Vietnam       722.807559        27.851822      27.84
210          Yemen, Rep.       610.357367        12.349750      30.64
211               Zambia       432.226337        10.124986      35.42
212             Zimbabwe       320.771890        11.500415      37.34

[182 rows x 4 columns]

### ë¬¸ì œ 1-2) Target Data ì „ì²˜ë¦¬ 02 (5ì ) 
- 1-1ì˜ DataFrame(df_target)ê³¼ ì•„ë˜ì˜ df_target_change_listë¥¼ ì´ìš©í•˜ì—¬ ì•„ë˜ ì¡°ê±´ì— ë§ê²Œ êµ­ê°€ëª…(ì»¬ëŸ¼ëª…: 'country')ì„ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì°¸ê³ : êµ­ê°€ëª…ì„ ë³€ê²½í•˜ëŠ” ì´ìœ ëŠ” ì¶”í›„(ë¬¸ì œ 2-4) pycountry Libraryë¥¼ ì‚¬ìš©í•˜ì—¬ êµ­ê°€ì½”ë“œ(ex: ëŒ€í•œë¯¼êµ­-KR)ë¥¼ ì–»ê¸° ìœ„í•¨ì…ë‹ˆë‹¤.
<br></br>
    - ì•„ë˜ df_target_change_listëŠ” ë³€ê²½ ëŒ€ìƒì¸ df_targetì˜ indexì™€ ê·¸ì— ë§ëŠ” êµ­ê°€ëª…ì´ ìŒ(tuple)ë“¤ì„ ê°’ìœ¼ë¡œ ê°€ì§€ê³  ìˆìŠµë‹ˆë‹¤.
<br></br>
        - ì¡°ê±´1: df_target_change_listë¥¼ ì´ìš©í•˜ì—¬ df_targetì˜ êµ­ê°€ëª…ì„ ë³€ê²½í•˜ì„¸ìš”.
        - ì¡°ê±´2: Index ë˜ëŠ” ìˆœì„œ(order)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_01_02 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [5]:
df_target_change_list = [
    (33, 'Cabo Verde'),
    (35, 'Central African Republic'),
    (41, 'Congo, The Democratic Republic of the'),
    (42, 'Congo'),
    (45, "CÃ´te d'Ivoire"),
    (49, 'Czech Republic'),
    (53, 'Dominican Republic'),
    (83, 'Hong Kong'),
    (100, 'Korea, Republic of'),
    (103, "Lao People's Democratic Republic"),
    (112, 'Macao'),
    (113, 'Republic of North Macedonia'),
    (125, 'Federated States of Micronesia'),
    (183, 'Eswatini'),
    (210, 'Yemen')
]

In [6]:
df_target_change_list[0][0]

33

In [7]:
# ì¸ë±ìŠ¤ ë„˜ë²„ ì¼ì¹˜í•˜ë¯€ë¡œ, ì¸ë±ì‹±ë§Œ í†µí•´ì„œ ë³€ê²½ ê°€ëŠ¥
# country ì—´ íŠ¹ì • ì—´ì— listì˜ ë‚˜ë¼ ì´ë¦„ ì •ë³´ë¥¼ í• ë‹¹

for i in range(len(df_target_change_list)):
    df_target.country[df_target_change_list[i][0]] = df_target_change_list[i][1]

df_target

C:\Users\User\AppData\Local\Temp\ipykernel_4328\1856420975.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_target.country[df_target_change_list[i][0]] = df_target_change_list[i][1]

                 country  incomeperperson  internetuserate  urbanrate
1                Albania      1914.996551        44.989947      46.72
2                Algeria      2231.993335        12.500073      65.22
3                Andorra     21943.339900        81.000000      88.92
4                 Angola      1381.004268         9.999954      56.70
5    Antigua and Barbuda     11894.464070        80.645455      30.46
..                   ...              ...              ...        ...
207            Venezuela      5528.363114        35.850437      93.32
208              Vietnam       722.807559        27.851822      27.84
210                Yemen       610.357367        12.349750      30.64
211               Zambia       432.226337        10.124986      35.42
212             Zimbabwe       320.771890        11.500415      37.34

[182 rows x 4 columns]

In [8]:
# 1-2
df_target
check_01_02(df_target)

ì •ë‹µì…ë‹ˆë‹¤! 5ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 10 / 100

In [9]:
df_target

                 country  incomeperperson  internetuserate  urbanrate
1                Albania      1914.996551        44.989947      46.72
2                Algeria      2231.993335        12.500073      65.22
3                Andorra     21943.339900        81.000000      88.92
4                 Angola      1381.004268         9.999954      56.70
5    Antigua and Barbuda     11894.464070        80.645455      30.46
..                   ...              ...              ...        ...
207            Venezuela      5528.363114        35.850437      93.32
208              Vietnam       722.807559        27.851822      27.84
210                Yemen       610.357367        12.349750      30.64
211               Zambia       432.226337        10.124986      35.42
212             Zimbabwe       320.771890        11.500415      37.34

[182 rows x 4 columns]

### ë¬¸ì œ 1-3) Target Data ì „ì²˜ë¦¬ 03 (10ì ) 
- 1-2ì˜ DataFrame(df_target)ê³¼ pycountry Libraryë¥¼ ì´ìš©í•˜ì—¬ ì•„ë˜ ì¡°ê±´ì— ë§ê²Œ êµ­ê°€ì½”ë“œë¥¼ êµ¬í•˜ì„¸ìš”.
<br></br>
    - ì°¸ê³ : **pycountry.countries**
<br></br>
        - ISO 3166-2(ì „ ì„¸ê³„ ë‚˜ë¼ ë° ë¶€ì† ì˜í† ì˜ ì£¼ìš” êµ¬ì„± ë‹¨ìœ„ì˜ ëª…ì¹­ì— ê³ ìœ  ë¶€í˜¸(ì½”ë“œ)ë¥¼ ë¶€ì—¬í•˜ëŠ” êµ­ì œ í‘œì¤€) ê¸°ì¤€ êµ­ê°€ë³„ ì½”ë“œë¥¼ ì–»ì„ ìˆ˜ ìˆëŠ” Python Library
<br></br>
        - êµ­ê°€ëª… í‘œê¸° ë°©ì‹ì— ë”°ë¼ ì˜ëª»ëœ ê°’ ë˜ëŠ” ê°’ ê²€ìƒ‰ì´ ì•ˆë˜ëŠ” ê²½ìš°ê°€ ë§ì•„ ì£¼ì˜ê°€ í•„ìš”í•¨
<br></br>
            - ì˜ˆì‹œ: ëŒ€í•œë¯¼êµ­ì˜ ê²½ìš° 'south korea', 'republic of korea', 'korea', 'korea, republic of' ë“±ìœ¼ë¡œ í‘œê¸°ë˜ëŠ”ë°, ì´ ì¤‘ 'korea, republic of' ë¡œë§Œ ì •í™•í•œ êµ­ê°€ ì½”ë“œë¥¼ ì–»ì„ ìˆ˜ ìˆìŒ
            - í˜¼ì„ ì„ ì¤„ì´ê¸° ìœ„í•˜ì—¬ ë¬¸ì œ 1-2ì™€ ê°™ì´ ë³€ê²½í•  êµ­ê°€ëª…ì„ ì œê³µí•¨
<br></br>
        - ì‚¬ìš©ë²•(ìƒì„¸ ì‚¬ìš©ë²•ì€ 2.Datasì˜ ì°¸ê³ ì‚¬í•­ ë‚´ ë§í¬ ì°¸ì¡°)
<br></br>
            - êµ­ê°€ ê²€ìƒ‰ ë°©ë²•
<br></br>
                - ì¼ë°˜ ê²€ìƒ‰: pycountry.countries.get(name=country_name) -> í•˜ë‚˜ì˜ ê²°ê³¼ê°’ì„ return
                - fuzzy ê²€ìƒ‰: pycountry.countries.search_fuzzy(country_name) -> í•˜ë‚˜ ì´ìƒì˜ ê²°ê³¼ê°’ì„ listí˜•íƒœë¡œ return
<br></br>
            - ì˜ˆì‹œ
<br></br>
            <img src="images/04-1-3-001.png" style="margin:auto" width=500/> 
<br></br>
            <img src="images/04-1-3-002.png" style="margin:auto" width=600/> 
<br></br>
    - ì¡°ê±´1: df_targetì— 'code'ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ì—¬ ê° row(í–‰)ì˜ êµ­ê°€ëª…ì— ë§ëŠ” 2ê¸€ì êµ­ê°€ì½”ë“œ(alpha_2)ë¥¼ ì…ë ¥í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´2: ì¼ë°˜ê²€ìƒ‰(pycountry.countries.get(name=country_name))ì„ ìš°ì„  ì´ìš© í•´ë³´ê³ , ê²°ê³¼ê°’ì´ ì•ˆ ë‚˜ì˜¬ ê²½ìš° fuzzy ê²€ìƒ‰(pycountry.countries.search_fuzzy(country_name))ì„ í™œìš©í•˜ì—¬ ê²€ìƒ‰í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´3: fuzzy ê²€ìƒ‰ì„ ì´ìš©í•  ê²½ìš°, ê²°ê³¼ê°’ listì˜ ì²«ë²ˆì§¸ ê°’(index=0)ì˜ êµ­ê°€ì½”ë“œë¥¼ ì…ë ¥í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´4: Index ë˜ëŠ” ìˆœì„œ(order)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
<br></br>
    - hint: Python ì˜ˆì™¸ì²˜ë¦¬(try-except)ë¥¼ í™œìš©í•´ ë³´ì„¸ìš”.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_01_03 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [10]:
import pycountry

In [11]:
# pycountryì™€ forë¬¸ ì´ìš©í•˜ì—¬ ê²€ìƒ‰ ì•ˆë˜ëŠ” êµ­ê°€ í™•ì¸

country_id = []

for idx, rows in df_target.iterrows():
    country_name = df_target.country[idx]
    country = pycountry.countries.get(name=country_name)
    country_id.append([idx, country])

country_id

[[1,
  Country(alpha_2='AL', alpha_3='ALB', flag='ğŸ‡¦ğŸ‡±', name='Albania', numeric='008', official_name='Republic of Albania')],
 [2,
  Country(alpha_2='DZ', alpha_3='DZA', flag='ğŸ‡©ğŸ‡¿', name='Algeria', numeric='012', official_name="People's Democratic Republic of Algeria")],
 [3,
  Country(alpha_2='AD', alpha_3='AND', flag='ğŸ‡¦ğŸ‡©', name='Andorra', numeric='020', official_name='Principality of Andorra')],
 [4,
  Country(alpha_2='AO', alpha_3='AGO', flag='ğŸ‡¦ğŸ‡´', name='Angola', numeric='024', official_name='Republic of Angola')],
 [5,
  Country(alpha_2='AG', alpha_3='ATG', flag='ğŸ‡¦ğŸ‡¬', name='Antigua and Barbuda', numeric='028')],
 [6,
  Country(alpha_2='AR', alpha_3='ARG', flag='ğŸ‡¦ğŸ‡·', name='Argentina', numeric='032', official_name='Argentine Republic')],
 [7,
  Country(alpha_2='AM', alpha_3='ARM', flag='ğŸ‡¦ğŸ‡²', name='Armenia', numeric='051', official_name='Republic of Armenia')],
 [9,
  Country(alpha_2='AU', alpha_3='AUS', flag='ğŸ‡¦ğŸ‡º', name='Australia', numeric='036')],
 [10,
  Country(alpha_2='AT', alpha_3='AUT', flag='ğŸ‡¦ğŸ‡¹', name='Austria', numeric='040', official_name='Republic of Austria')],
 [11,
  Country(alpha_2='AZ', alpha_3='AZE', flag='ğŸ‡¦ğŸ‡¿', name='Azerbaijan', numeric='031', official_name='Republic of Azerbaijan')],
 [12,
  Country(alpha_2='BS', alpha_3='BHS', flag='ğŸ‡§ğŸ‡¸', name='Bahamas', numeric='044', official_name='Commonwealth of the Bahamas')],
 [13,
  Country(alpha_2='BH', alpha_3='BHR', flag='ğŸ‡§ğŸ‡­', name='Bahrain', numeric='048', official_name='Kingdom of Bahrain')],
 [14,
  Country(alpha_2='BD', alpha_3='BGD', flag='ğŸ‡§ğŸ‡©', name='Bangladesh', numeric='050', official_name="People's Republic of Bangladesh")],
 [15,
  Country(alpha_2='BB', alpha_3='BRB', flag='ğŸ‡§ğŸ‡§', name='Barbados', numeric='052')],
 [16,
  Country(alpha_2='BY', alpha_3='BLR', flag='ğŸ‡§ğŸ‡¾', name='Belarus', numeric='112', official_name='Republic of Belarus')],
 [17,
  Country(alpha_2='BE', alpha_3='BEL', flag='ğŸ‡§ğŸ‡ª', name='Belgium', numeric='056', official_name='Kingdom of Belgium')],
 [18,
  Country(alpha_2='BZ', alpha_3='BLZ', flag='ğŸ‡§ğŸ‡¿', name='Belize', numeric='084')],
 [19,
  Country(alpha_2='BJ', alpha_3='BEN', flag='ğŸ‡§ğŸ‡¯', name='Benin', numeric='204', official_name='Republic of Benin')],
 [20,
  Country(alpha_2='BM', alpha_3='BMU', flag='ğŸ‡§ğŸ‡²', name='Bermuda', numeric='060')],
 [21,
  Country(alpha_2='BT', alpha_3='BTN', flag='ğŸ‡§ğŸ‡¹', name='Bhutan', numeric='064', official_name='Kingdom of Bhutan')],
 [22, None],
 [23,
  Country(alpha_2='BA', alpha_3='BIH', flag='ğŸ‡§ğŸ‡¦', name='Bosnia and Herzegovina', numeric='070', official_name='Republic of Bosnia and Herzegovina')],
 [24,
  Country(alpha_2='BW', alpha_3='BWA', flag='ğŸ‡§ğŸ‡¼', name='Botswana', numeric='072', official_name='Republic of Botswana')],
 [25,
  Country(alpha_2='BR', alpha_3='BRA', flag='ğŸ‡§ğŸ‡·', name='Brazil', numeric='076', official_name='Federative Republic of Brazil')],
 [26, None],
 [27,
  Country(alpha_2='BG', alpha_3='BGR', flag='ğŸ‡§ğŸ‡¬', name='Bulgaria', numeric='100', official_name='Republic of Bulgaria')],
 [28,
  Country(alpha_2='BF', alpha_3='BFA', flag='ğŸ‡§ğŸ‡«', name='Burkina Faso', numeric='854')],
 [29,
  Country(alpha_2='BI', alpha_3='BDI', flag='ğŸ‡§ğŸ‡®', name='Burundi', numeric='108', official_name='Republic of Burundi')],
 [30,
  Country(alpha_2='KH', alpha_3='KHM', flag='ğŸ‡°ğŸ‡­', name='Cambodia', numeric='116', official_name='Kingdom of Cambodia')],
 [31,
  Country(alpha_2='CM', alpha_3='CMR', flag='ğŸ‡¨ğŸ‡²', name='Cameroon', numeric='120', official_name='Republic of Cameroon')],
 [32,
  Country(alpha_2='CA', alpha_3='CAN', flag='ğŸ‡¨ğŸ‡¦', name='Canada', numeric='124')],
 [33,
  Country(alpha_2='CV', alpha_3='CPV', flag='ğŸ‡¨ğŸ‡»', name='Cabo Verde', numeric='132', official_name='Republic of Cabo Verde')],
 [35,
  Country(alpha_2='CF', alpha_3='CAF', flag='ğŸ‡¨ğŸ‡«', name='Central African Republic', numeric='140')],
 [36,
  Country(alpha_2='TD', alpha_3='TCD', flag='ğŸ‡¹ğŸ‡©', name='Chad', numeric='148', official_name='Republic of Chad')],
 [37,
  Country(alpha_2='CL', alpha_3='CHL', flag='ğŸ‡¨ğŸ‡±', name='Chile', numeric='152', official_name='Republic of Chile')],
 [38,
  Country(alpha_2='CN', alpha_3='CHN', flag='ğŸ‡¨ğŸ‡³', name='China', numeric='156', official_name="People's Republic of China")],
 [39,
  Country(alpha_2='CO', alpha_3='COL', flag='ğŸ‡¨ğŸ‡´', name='Colombia', numeric='170', official_name='Republic of Colombia')],
 [40,
  Country(alpha_2='KM', alpha_3='COM', flag='ğŸ‡°ğŸ‡²', name='Comoros', numeric='174', official_name='Union of the Comoros')],
 [41,
  Country(alpha_2='CD', alpha_3='COD', flag='ğŸ‡¨ğŸ‡©', name='Congo, The Democratic Republic of the', numeric='180')],
 [42,
  Country(alpha_2='CG', alpha_3='COG', flag='ğŸ‡¨ğŸ‡¬', name='Congo', numeric='178', official_name='Republic of the Congo')],
 [44,
  Country(alpha_2='CR', alpha_3='CRI', flag='ğŸ‡¨ğŸ‡·', name='Costa Rica', numeric='188', official_name='Republic of Costa Rica')],
 [45,
  Country(alpha_2='CI', alpha_3='CIV', flag='ğŸ‡¨ğŸ‡®', name="CÃ´te d'Ivoire", numeric='384', official_name="Republic of CÃ´te d'Ivoire")],
 [46,
  Country(alpha_2='HR', alpha_3='HRV', flag='ğŸ‡­ğŸ‡·', name='Croatia', numeric='191', official_name='Republic of Croatia')],
 [47,
  Country(alpha_2='CU', alpha_3='CUB', flag='ğŸ‡¨ğŸ‡º', name='Cuba', numeric='192', official_name='Republic of Cuba')],
 [48,
  Country(alpha_2='CY', alpha_3='CYP', flag='ğŸ‡¨ğŸ‡¾', name='Cyprus', numeric='196', official_name='Republic of Cyprus')],
 [49, None],
 [50,
  Country(alpha_2='DK', alpha_3='DNK', flag='ğŸ‡©ğŸ‡°', name='Denmark', numeric='208', official_name='Kingdom of Denmark')],
 [51,
  Country(alpha_2='DJ', alpha_3='DJI', flag='ğŸ‡©ğŸ‡¯', name='Djibouti', numeric='262', official_name='Republic of Djibouti')],
 [52,
  Country(alpha_2='DM', alpha_3='DMA', flag='ğŸ‡©ğŸ‡²', name='Dominica', numeric='212', official_name='Commonwealth of Dominica')],
 [53,
  Country(alpha_2='DO', alpha_3='DOM', flag='ğŸ‡©ğŸ‡´', name='Dominican Republic', numeric='214')],
 [54,
  Country(alpha_2='EC', alpha_3='ECU', flag='ğŸ‡ªğŸ‡¨', name='Ecuador', numeric='218', official_name='Republic of Ecuador')],
 [55,
  Country(alpha_2='EG', alpha_3='EGY', flag='ğŸ‡ªğŸ‡¬', name='Egypt', numeric='818', official_name='Arab Republic of Egypt')],
 [56,
  Country(alpha_2='SV', alpha_3='SLV', flag='ğŸ‡¸ğŸ‡»', name='El Salvador', numeric='222', official_name='Republic of El Salvador')],
 [57,
  Country(alpha_2='GQ', alpha_3='GNQ', flag='ğŸ‡¬ğŸ‡¶', name='Equatorial Guinea', numeric='226', official_name='Republic of Equatorial Guinea')],
 [58,
  Country(alpha_2='ER', alpha_3='ERI', flag='ğŸ‡ªğŸ‡·', name='Eritrea', numeric='232', official_name='the State of Eritrea')],
 [59,
  Country(alpha_2='EE', alpha_3='EST', flag='ğŸ‡ªğŸ‡ª', name='Estonia', numeric='233', official_name='Republic of Estonia')],
 [60,
  Country(alpha_2='ET', alpha_3='ETH', flag='ğŸ‡ªğŸ‡¹', name='Ethiopia', numeric='231', official_name='Federal Democratic Republic of Ethiopia')],
 [62,
  Country(alpha_2='FJ', alpha_3='FJI', flag='ğŸ‡«ğŸ‡¯', name='Fiji', numeric='242', official_name='Republic of Fiji')],
 [63,
  Country(alpha_2='FI', alpha_3='FIN', flag='ğŸ‡«ğŸ‡®', name='Finland', numeric='246', official_name='Republic of Finland')],
 [64,
  Country(alpha_2='FR', alpha_3='FRA', flag='ğŸ‡«ğŸ‡·', name='France', numeric='250', official_name='French Republic')],
 [66,
  Country(alpha_2='GA', alpha_3='GAB', flag='ğŸ‡¬ğŸ‡¦', name='Gabon', numeric='266', official_name='Gabonese Republic')],
 [67,
  Country(alpha_2='GM', alpha_3='GMB', flag='ğŸ‡¬ğŸ‡²', name='Gambia', numeric='270', official_name='Republic of the Gambia')],
 [68,
  Country(alpha_2='GE', alpha_3='GEO', flag='ğŸ‡¬ğŸ‡ª', name='Georgia', numeric='268')],
 [69,
  Country(alpha_2='DE', alpha_3='DEU', flag='ğŸ‡©ğŸ‡ª', name='Germany', numeric='276', official_name='Federal Republic of Germany')],
 [70,
  Country(alpha_2='GH', alpha_3='GHA', flag='ğŸ‡¬ğŸ‡­', name='Ghana', numeric='288', official_name='Republic of Ghana')],
 [72,
  Country(alpha_2='GR', alpha_3='GRC', flag='ğŸ‡¬ğŸ‡·', name='Greece', numeric='300', official_name='Hellenic Republic')],
 [73,
  Country(alpha_2='GL', alpha_3='GRL', flag='ğŸ‡¬ğŸ‡±', name='Greenland', numeric='304')],
 [74,
  Country(alpha_2='GD', alpha_3='GRD', flag='ğŸ‡¬ğŸ‡©', name='Grenada', numeric='308')],
 [77,
  Country(alpha_2='GT', alpha_3='GTM', flag='ğŸ‡¬ğŸ‡¹', name='Guatemala', numeric='320', official_name='Republic of Guatemala')],
 [78,
  Country(alpha_2='GN', alpha_3='GIN', flag='ğŸ‡¬ğŸ‡³', name='Guinea', numeric='324', official_name='Republic of Guinea')],
 [79,
  Country(alpha_2='GW', alpha_3='GNB', flag='ğŸ‡¬ğŸ‡¼', name='Guinea-Bissau', numeric='624', official_name='Republic of Guinea-Bissau')],
 [80,
  Country(alpha_2='GY', alpha_3='GUY', flag='ğŸ‡¬ğŸ‡¾', name='Guyana', numeric='328', official_name='Republic of Guyana')],
 [81,
  Country(alpha_2='HT', alpha_3='HTI', flag='ğŸ‡­ğŸ‡¹', name='Haiti', numeric='332', official_name='Republic of Haiti')],
 [82,
  Country(alpha_2='HN', alpha_3='HND', flag='ğŸ‡­ğŸ‡³', name='Honduras', numeric='340', official_name='Republic of Honduras')],
 [83,
  Country(alpha_2='HK', alpha_3='HKG', flag='ğŸ‡­ğŸ‡°', name='Hong Kong', numeric='344', official_name='Hong Kong Special Administrative Region of China')],
 [84,
  Country(alpha_2='HU', alpha_3='HUN', flag='ğŸ‡­ğŸ‡º', name='Hungary', numeric='348', official_name='Hungary')],
 [85,
  Country(alpha_2='IS', alpha_3='ISL', flag='ğŸ‡®ğŸ‡¸', name='Iceland', numeric='352', official_name='Republic of Iceland')],
 [86,
  Country(alpha_2='IN', alpha_3='IND', flag='ğŸ‡®ğŸ‡³', name='India', numeric='356', official_name='Republic of India')],
 [87,
  Country(alpha_2='ID', alpha_3='IDN', flag='ğŸ‡®ğŸ‡©', name='Indonesia', numeric='360', official_name='Republic of Indonesia')],
 [88, None],
 [89,
  Country(alpha_2='IQ', alpha_3='IRQ', flag='ğŸ‡®ğŸ‡¶', name='Iraq', numeric='368', official_name='Republic of Iraq')],
 [90,
  Country(alpha_2='IE', alpha_3='IRL', flag='ğŸ‡®ğŸ‡ª', name='Ireland', numeric='372')],
 [91,
  Country(alpha_2='IL', alpha_3='ISR', flag='ğŸ‡®ğŸ‡±', name='Israel', numeric='376', official_name='State of Israel')],
 [92,
  Country(alpha_2='IT', alpha_3='ITA', flag='ğŸ‡®ğŸ‡¹', name='Italy', numeric='380', official_name='Italian Republic')],
 [93,
  Country(alpha_2='JM', alpha_3='JAM', flag='ğŸ‡¯ğŸ‡²', name='Jamaica', numeric='388')],
 [94,
  Country(alpha_2='JP', alpha_3='JPN', flag='ğŸ‡¯ğŸ‡µ', name='Japan', numeric='392')],
 [95,
  Country(alpha_2='JO', alpha_3='JOR', flag='ğŸ‡¯ğŸ‡´', name='Jordan', numeric='400', official_name='Hashemite Kingdom of Jordan')],
 [96,
  Country(alpha_2='KZ', alpha_3='KAZ', flag='ğŸ‡°ğŸ‡¿', name='Kazakhstan', numeric='398', official_name='Republic of Kazakhstan')],
 [97,
  Country(alpha_2='KE', alpha_3='KEN', flag='ğŸ‡°ğŸ‡ª', name='Kenya', numeric='404', official_name='Republic of Kenya')],
 [98,
  Country(alpha_2='KI', alpha_3='KIR', flag='ğŸ‡°ğŸ‡®', name='Kiribati', numeric='296', official_name='Republic of Kiribati')],
 [100,
  Country(alpha_2='KR', alpha_3='KOR', common_name='South Korea', flag='ğŸ‡°ğŸ‡·', name='Korea, Republic of', numeric='410')],
 [102,
  Country(alpha_2='KG', alpha_3='KGZ', flag='ğŸ‡°ğŸ‡¬', name='Kyrgyzstan', numeric='417', official_name='Kyrgyz Republic')],
 [103,
  Country(alpha_2='LA', alpha_3='LAO', flag='ğŸ‡±ğŸ‡¦', name="Lao People's Democratic Republic", numeric='418')],
 [104,
  Country(alpha_2='LV', alpha_3='LVA', flag='ğŸ‡±ğŸ‡»', name='Latvia', numeric='428', official_name='Republic of Latvia')],
 [105,
  Country(alpha_2='LB', alpha_3='LBN', flag='ğŸ‡±ğŸ‡§', name='Lebanon', numeric='422', official_name='Lebanese Republic')],
 [106,
  Country(alpha_2='LS', alpha_3='LSO', flag='ğŸ‡±ğŸ‡¸', name='Lesotho', numeric='426', official_name='Kingdom of Lesotho')],
 [107,
  Country(alpha_2='LR', alpha_3='LBR', flag='ğŸ‡±ğŸ‡·', name='Liberia', numeric='430', official_name='Republic of Liberia')],
 [108,
  Country(alpha_2='LY', alpha_3='LBY', flag='ğŸ‡±ğŸ‡¾', name='Libya', numeric='434', official_name='Libya')],
 [109,
  Country(alpha_2='LI', alpha_3='LIE', flag='ğŸ‡±ğŸ‡®', name='Liechtenstein', numeric='438', official_name='Principality of Liechtenstein')],
 [110,
  Country(alpha_2='LT', alpha_3='LTU', flag='ğŸ‡±ğŸ‡¹', name='Lithuania', numeric='440', official_name='Republic of Lithuania')],
 [111,
  Country(alpha_2='LU', alpha_3='LUX', flag='ğŸ‡±ğŸ‡º', name='Luxembourg', numeric='442', official_name='Grand Duchy of Luxembourg')],
 [112,
  Country(alpha_2='MO', alpha_3='MAC', flag='ğŸ‡²ğŸ‡´', name='Macao', numeric='446', official_name='Macao Special Administrative Region of China')],
 [113, None],
 [114,
  Country(alpha_2='MG', alpha_3='MDG', flag='ğŸ‡²ğŸ‡¬', name='Madagascar', numeric='450', official_name='Republic of Madagascar')],
 [115,
  Country(alpha_2='MW', alpha_3='MWI', flag='ğŸ‡²ğŸ‡¼', name='Malawi', numeric='454', official_name='Republic of Malawi')],
 [116,
  Country(alpha_2='MY', alpha_3='MYS', flag='ğŸ‡²ğŸ‡¾', name='Malaysia', numeric='458')],
 [117,
  Country(alpha_2='MV', alpha_3='MDV', flag='ğŸ‡²ğŸ‡»', name='Maldives', numeric='462', official_name='Republic of Maldives')],
 [118,
  Country(alpha_2='ML', alpha_3='MLI', flag='ğŸ‡²ğŸ‡±', name='Mali', numeric='466', official_name='Republic of Mali')],
 [119,
  Country(alpha_2='MT', alpha_3='MLT', flag='ğŸ‡²ğŸ‡¹', name='Malta', numeric='470', official_name='Republic of Malta')],
 [122,
  Country(alpha_2='MR', alpha_3='MRT', flag='ğŸ‡²ğŸ‡·', name='Mauritania', numeric='478', official_name='Islamic Republic of Mauritania')],
 [123,
  Country(alpha_2='MU', alpha_3='MUS', flag='ğŸ‡²ğŸ‡º', name='Mauritius', numeric='480', official_name='Republic of Mauritius')],
 [124,
  Country(alpha_2='MX', alpha_3='MEX', flag='ğŸ‡²ğŸ‡½', name='Mexico', numeric='484', official_name='United Mexican States')],
 [125, None],
 [126, None],
 [128,
  Country(alpha_2='MN', alpha_3='MNG', flag='ğŸ‡²ğŸ‡³', name='Mongolia', numeric='496')],
 [129,
  Country(alpha_2='ME', alpha_3='MNE', flag='ğŸ‡²ğŸ‡ª', name='Montenegro', numeric='499', official_name='Montenegro')],
 [130,
  Country(alpha_2='MA', alpha_3='MAR', flag='ğŸ‡²ğŸ‡¦', name='Morocco', numeric='504', official_name='Kingdom of Morocco')],
 [131,
  Country(alpha_2='MZ', alpha_3='MOZ', flag='ğŸ‡²ğŸ‡¿', name='Mozambique', numeric='508', official_name='Republic of Mozambique')],
 [133,
  Country(alpha_2='NA', alpha_3='NAM', flag='ğŸ‡³ğŸ‡¦', name='Namibia', numeric='516', official_name='Republic of Namibia')],
 [135,
  Country(alpha_2='NP', alpha_3='NPL', flag='ğŸ‡³ğŸ‡µ', name='Nepal', numeric='524', official_name='Federal Democratic Republic of Nepal')],
 [136,
  Country(alpha_2='NL', alpha_3='NLD', flag='ğŸ‡³ğŸ‡±', name='Netherlands', numeric='528', official_name='Kingdom of the Netherlands')],
 [139,
  Country(alpha_2='NZ', alpha_3='NZL', flag='ğŸ‡³ğŸ‡¿', name='New Zealand', numeric='554')],
 [140,
  Country(alpha_2='NI', alpha_3='NIC', flag='ğŸ‡³ğŸ‡®', name='Nicaragua', numeric='558', official_name='Republic of Nicaragua')],
 [141,
  Country(alpha_2='NE', alpha_3='NER', flag='ğŸ‡³ğŸ‡ª', name='Niger', numeric='562', official_name='Republic of the Niger')],
 [142,
  Country(alpha_2='NG', alpha_3='NGA', flag='ğŸ‡³ğŸ‡¬', name='Nigeria', numeric='566', official_name='Federal Republic of Nigeria')],
 [144,
  Country(alpha_2='NO', alpha_3='NOR', flag='ğŸ‡³ğŸ‡´', name='Norway', numeric='578', official_name='Kingdom of Norway')],
 [145,
  Country(alpha_2='OM', alpha_3='OMN', flag='ğŸ‡´ğŸ‡²', name='Oman', numeric='512', official_name='Sultanate of Oman')],
 [146,
  Country(alpha_2='PK', alpha_3='PAK', flag='ğŸ‡µğŸ‡°', name='Pakistan', numeric='586', official_name='Islamic Republic of Pakistan')],
 [148,
  Country(alpha_2='PA', alpha_3='PAN', flag='ğŸ‡µğŸ‡¦', name='Panama', numeric='591', official_name='Republic of Panama')],
 [149,
  Country(alpha_2='PG', alpha_3='PNG', flag='ğŸ‡µğŸ‡¬', name='Papua New Guinea', numeric='598', official_name='Independent State of Papua New Guinea')],
 [150,
  Country(alpha_2='PY', alpha_3='PRY', flag='ğŸ‡µğŸ‡¾', name='Paraguay', numeric='600', official_name='Republic of Paraguay')],
 [151,
  Country(alpha_2='PE', alpha_3='PER', flag='ğŸ‡µğŸ‡ª', name='Peru', numeric='604', official_name='Republic of Peru')],
 [152,
  Country(alpha_2='PH', alpha_3='PHL', flag='ğŸ‡µğŸ‡­', name='Philippines', numeric='608', official_name='Republic of the Philippines')],
 [153,
  Country(alpha_2='PL', alpha_3='POL', flag='ğŸ‡µğŸ‡±', name='Poland', numeric='616', official_name='Republic of Poland')],
 [154,
  Country(alpha_2='PT', alpha_3='PRT', flag='ğŸ‡µğŸ‡¹', name='Portugal', numeric='620', official_name='Portuguese Republic')],
 [155,
  Country(alpha_2='PR', alpha_3='PRI', flag='ğŸ‡µğŸ‡·', name='Puerto Rico', numeric='630')],
 [156,
  Country(alpha_2='QA', alpha_3='QAT', flag='ğŸ‡¶ğŸ‡¦', name='Qatar', numeric='634', official_name='State of Qatar')],
 [158,
  Country(alpha_2='RO', alpha_3='ROU', flag='ğŸ‡·ğŸ‡´', name='Romania', numeric='642')],
 [159, None],
 [160,
  Country(alpha_2='RW', alpha_3='RWA', flag='ğŸ‡·ğŸ‡¼', name='Rwanda', numeric='646', official_name='Rwandese Republic')],
 [161,
  Country(alpha_2='KN', alpha_3='KNA', flag='ğŸ‡°ğŸ‡³', name='Saint Kitts and Nevis', numeric='659')],
 [162,
  Country(alpha_2='LC', alpha_3='LCA', flag='ğŸ‡±ğŸ‡¨', name='Saint Lucia', numeric='662')],
 [164,
  Country(alpha_2='WS', alpha_3='WSM', flag='ğŸ‡¼ğŸ‡¸', name='Samoa', numeric='882', official_name='Independent State of Samoa')],
 [167,
  Country(alpha_2='SA', alpha_3='SAU', flag='ğŸ‡¸ğŸ‡¦', name='Saudi Arabia', numeric='682', official_name='Kingdom of Saudi Arabia')],
 [168,
  Country(alpha_2='SN', alpha_3='SEN', flag='ğŸ‡¸ğŸ‡³', name='Senegal', numeric='686', official_name='Republic of Senegal')],
 [169,
  Country(alpha_2='RS', alpha_3='SRB', flag='ğŸ‡·ğŸ‡¸', name='Serbia', numeric='688', official_name='Republic of Serbia')],
 [171,
  Country(alpha_2='SC', alpha_3='SYC', flag='ğŸ‡¸ğŸ‡¨', name='Seychelles', numeric='690', official_name='Republic of Seychelles')],
 [173,
  Country(alpha_2='SG', alpha_3='SGP', flag='ğŸ‡¸ğŸ‡¬', name='Singapore', numeric='702', official_name='Republic of Singapore')],
 [174, None],
 [175,
  Country(alpha_2='SI', alpha_3='SVN', flag='ğŸ‡¸ğŸ‡®', name='Slovenia', numeric='705', official_name='Republic of Slovenia')],
 [176,
  Country(alpha_2='SB', alpha_3='SLB', flag='ğŸ‡¸ğŸ‡§', name='Solomon Islands', numeric='090')],
 [178,
  Country(alpha_2='ZA', alpha_3='ZAF', flag='ğŸ‡¿ğŸ‡¦', name='South Africa', numeric='710', official_name='Republic of South Africa')],
 [179,
  Country(alpha_2='ES', alpha_3='ESP', flag='ğŸ‡ªğŸ‡¸', name='Spain', numeric='724', official_name='Kingdom of Spain')],
 [180,
  Country(alpha_2='LK', alpha_3='LKA', flag='ğŸ‡±ğŸ‡°', name='Sri Lanka', numeric='144', official_name='Democratic Socialist Republic of Sri Lanka')],
 [182,
  Country(alpha_2='SR', alpha_3='SUR', flag='ğŸ‡¸ğŸ‡·', name='Suriname', numeric='740', official_name='Republic of Suriname')],
 [183,
  Country(alpha_2='SZ', alpha_3='SWZ', flag='ğŸ‡¸ğŸ‡¿', name='Eswatini', numeric='748', official_name='Kingdom of Eswatini')],
 [184,
  Country(alpha_2='SE', alpha_3='SWE', flag='ğŸ‡¸ğŸ‡ª', name='Sweden', numeric='752', official_name='Kingdom of Sweden')],
 [185,
  Country(alpha_2='CH', alpha_3='CHE', flag='ğŸ‡¨ğŸ‡­', name='Switzerland', numeric='756', official_name='Swiss Confederation')],
 [186, None],
 [188,
  Country(alpha_2='TJ', alpha_3='TJK', flag='ğŸ‡¹ğŸ‡¯', name='Tajikistan', numeric='762', official_name='Republic of Tajikistan')],
 [189, None],
 [190,
  Country(alpha_2='TH', alpha_3='THA', flag='ğŸ‡¹ğŸ‡­', name='Thailand', numeric='764', official_name='Kingdom of Thailand')],
 [191,
  Country(alpha_2='TL', alpha_3='TLS', flag='ğŸ‡¹ğŸ‡±', name='Timor-Leste', numeric='626', official_name='Democratic Republic of Timor-Leste')],
 [192,
  Country(alpha_2='TG', alpha_3='TGO', flag='ğŸ‡¹ğŸ‡¬', name='Togo', numeric='768', official_name='Togolese Republic')],
 [193,

In [12]:
# 2ê¸€ì ì½”ë“œ ë¹¼ëŠ” ë²•

country_id[0][1].alpha_2

'AL'

In [13]:
# pycountry ì¼ë°˜ ê²€ìƒ‰ ì•ˆë˜ëŠ” êµ­ê°€ ë”°ë¡œ ì¶”ì¶œ

country_none = []

for i in country_id:
    if i[1] == None:
        country_none.append(i)

country_none

[[22, None],
 [26, None],
 [49, None],
 [88, None],
 [113, None],
 [125, None],
 [126, None],
 [159, None],
 [174, None],
 [186, None],
 [189, None],
 [207, None],
 [208, None]]

In [14]:
# fuzzy search
country_id2 = []
for i in country_none:
    country_name = df_target.country[i[0]]
    country = pycountry.countries.search_fuzzy(country_name)
    country_id2.append([i[0], country])

country_id2

# ëª¨ë‘ ë‹¤ì¤‘ ë¦¬ìŠ¤íŠ¸ í˜•ì‹ìœ¼ë¡œ ë˜ì–´ìˆì–´ì„œ ì²«ë²ˆì§¸ë§Œ ê°€ì ¸ì˜¤ë©´ ë˜ëŠ” ìƒí™©ì—ì„œ êµ³ì´ iran ê²ƒì„ ë³€ê²½í•  í•„ìš”ëŠ” ì—†ìŒ

[[22,
  [Country(alpha_2='BO', alpha_3='BOL', common_name='Bolivia', flag='ğŸ‡§ğŸ‡´', name='Bolivia, Plurinational State of', numeric='068', official_name='Plurinational State of Bolivia')]],
 [26,
  [Country(alpha_2='BN', alpha_3='BRN', flag='ğŸ‡§ğŸ‡³', name='Brunei Darussalam', numeric='096')]],
 [49,
  [Country(alpha_2='CZ', alpha_3='CZE', flag='ğŸ‡¨ğŸ‡¿', name='Czechia', numeric='203', official_name='Czech Republic')]],
 [88,
  [Country(alpha_2='IR', alpha_3='IRN', flag='ğŸ‡®ğŸ‡·', name='Iran, Islamic Republic of', numeric='364', official_name='Islamic Republic of Iran'),
   Country(alpha_2='AL', alpha_3='ALB', flag='ğŸ‡¦ğŸ‡±', name='Albania', numeric='008', official_name='Republic of Albania'),
   Country(alpha_2='SI', alpha_3='SVN', flag='ğŸ‡¸ğŸ‡®', name='Slovenia', numeric='705', official_name='Republic of Slovenia'),
   Country(alpha_2='VE', alpha_3='VEN', common_name='Venezuela', flag='ğŸ‡»ğŸ‡ª', name='Venezuela, Bolivarian Republic of', numeric='862', official_name='Bolivarian Republic of Venezuela'),
   Country(alpha_2='BT', alpha_3='BTN', flag='ğŸ‡§ğŸ‡¹', name='Bhutan', numeric='064', official_name='Kingdom of Bhutan'),
   Country(alpha_2='PH', alpha_3='PHL', flag='ğŸ‡µğŸ‡­', name='Philippines', numeric='608', official_name='Republic of the Philippines'),
   Country(alpha_2='MG', alpha_3='MDG', flag='ğŸ‡²ğŸ‡¬', name='Madagascar', numeric='450', official_name='Republic of Madagascar')]],
 [113,
  [Country(alpha_2='MK', alpha_3='MKD', flag='ğŸ‡²ğŸ‡°', name='North Macedonia', numeric='807', official_name='Republic of North Macedonia')]],
 [125,
  [Country(alpha_2='FM', alpha_3='FSM', flag='ğŸ‡«ğŸ‡²', name='Micronesia, Federated States of', numeric='583', official_name='Federated States of Micronesia')]],
 [126,
  [Country(alpha_2='MD', alpha_3='MDA', common_name='Moldova', flag='ğŸ‡²ğŸ‡©', name='Moldova, Republic of', numeric='498', official_name='Republic of Moldova')]],
 [159,
  [Country(alpha_2='RU', alpha_3='RUS', flag='ğŸ‡·ğŸ‡º', name='Russian Federation', numeric='643')]],
 [174,
  [Country(alpha_2='SK', alpha_3='SVK', flag='ğŸ‡¸ğŸ‡°', name='Slovakia', numeric='703', official_name='Slovak Republic')]],
 [186,
  [Country(alpha_2='SY', alpha_3='SYR', flag='ğŸ‡¸ğŸ‡¾', name='Syrian Arab Republic', numeric='760')]],
 [189,
  [Country(alpha_2='TZ', alpha_3='TZA', common_name='Tanzania', flag='ğŸ‡¹ğŸ‡¿', name='Tanzania, United Republic of', numeric='834', official_name='United Republic of Tanzania')]],
 [207,
  [Country(alpha_2='VE', alpha_3='VEN', common_name='Venezuela', flag='ğŸ‡»ğŸ‡ª', name='Venezuela, Bolivarian Republic of', numeric='862', official_name='Bolivarian Republic of Venezuela')]],
 [208,
  [Country(alpha_2='VN', alpha_3='VNM', common_name='Vietnam', flag='ğŸ‡»ğŸ‡³', name='Viet Nam', numeric='704', official_name='Socialist Republic of Viet Nam')]]]

In [15]:
# code ì—´ ìƒì„±
import numpy as np

df_target['code'] = np.nan
df_target.head()

C:\Users\User\AppData\Local\Temp\ipykernel_4328\1540420773.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_target['code'] = np.nan

               country  incomeperperson  internetuserate  urbanrate  code
1              Albania      1914.996551        44.989947      46.72   NaN
2              Algeria      2231.993335        12.500073      65.22   NaN
3              Andorra     21943.339900        81.000000      88.92   NaN
4               Angola      1381.004268         9.999954      56.70   NaN
5  Antigua and Barbuda     11894.464070        80.645455      30.46   NaN

In [16]:
# ë§Œë“¤ì–´ì§„ ë‘ ë¦¬ìŠ¤íŠ¸ë¥¼ ì´ìš©í•˜ì—¬ df_target ë°ì´í„° í”„ë ˆì„ì— ê¸°ì…

# pycountry.countries.get ì´ìš©í•œ ì •ë³´ ê¸°ì…
for i in country_id:
    try:
        df_target.code[i[0]] = i[1].alpha_2
    except:
        continue

# pycountry.countries.fuzzy_search ì´ìš©í•œ ì •ë³´ ê¸°ì…
for x in country_id2:
    df_target.code[x[0]] = x[1][0].alpha_2

df_target.head()

C:\Users\User\AppData\Local\Temp\ipykernel_4328\3135070600.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_target.code[i[0]] = i[1].alpha_2
C:\Users\User\AppData\Local\Temp\ipykernel_4328\3135070600.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_target.code[x[0]] = x[1][0].alpha_2

               country  incomeperperson  internetuserate  urbanrate code
1              Albania      1914.996551        44.989947      46.72   AL
2              Algeria      2231.993335        12.500073      65.22   DZ
3              Andorra     21943.339900        81.000000      88.92   AD
4               Angola      1381.004268         9.999954      56.70   AO
5  Antigua and Barbuda     11894.464070        80.645455      30.46   AG

In [17]:
# 1-3
df_target
check_01_03(df_target)

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 20 / 100

In [18]:
df_target

                 country  incomeperperson  internetuserate  urbanrate code
1                Albania      1914.996551        44.989947      46.72   AL
2                Algeria      2231.993335        12.500073      65.22   DZ
3                Andorra     21943.339900        81.000000      88.92   AD
4                 Angola      1381.004268         9.999954      56.70   AO
5    Antigua and Barbuda     11894.464070        80.645455      30.46   AG
..                   ...              ...              ...        ...  ...
207            Venezuela      5528.363114        35.850437      93.32   VE
208              Vietnam       722.807559        27.851822      27.84   VN
210                Yemen       610.357367        12.349750      30.64   YE
211               Zambia       432.226337        10.124986      35.42   ZM
212             Zimbabwe       320.771890        11.500415      37.34   ZW

[182 rows x 5 columns]

## 2ë‹¨ê³„: Reference Data01: ë¶ˆëŸ¬ì˜¤ê¸° & ì „ì²˜ë¦¬ & í•©ì¹˜ê¸°
***

### ë¬¸ì œ 2-1) Web Data ê°€ì ¸ì˜¤ê¸° (10ì ) 
- ì•„ë˜ ì œì‹œëœ Linkì— ìˆëŠ” êµ­ê°€ë³„ ì¸êµ¬ì— ëŒ€í•œ Tableì„ ì•„ë˜ ì¡°ê±´ì— ë§ê²Œ ì˜ˆì‹œì™€ ê°™ì´ Pandas DataFrameìœ¼ë¡œ ë¶ˆëŸ¬ì˜¤ì„¸ìš”.
<br></br>
    - Link: https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population
<br></br>
    <img src="images/04-2-1-001.png" style="margin:auto" width=400/>
<br></br>
    - ì˜ˆì‹œ
<br></br>
    <img src="images/04-2-1-002.png" style="margin:auto" width=600/>
<br></br>
    - ì¡°ê±´: í•´ë‹¹ DataFrameì˜ ë³€ìˆ˜ëª…ì„ 'df_population'ìœ¼ë¡œ ì§€ì •í•´ì£¼ì„¸ìš”.
<br></br>
<br></br>
    - hint: pandasì˜ ê¸°ëŠ¥ ì¤‘ì— ì›¹í˜ì´ì§€ì˜ Tableë“¤ì„ ì½ì–´ì™€ DataFrameìœ¼ë¡œ ë§Œë“¤ì–´ì£¼ëŠ” methodê°€ ìˆìŠµë‹ˆë‹¤.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_02_01 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [19]:
df_population = pd.read_html('https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population', header=0)
df_population = df_population[1]
df_population

,Unnamed: 0,Country / Dependency,Population,% of world,Date,Source (official or from the United Nations),Unnamed: 6
0,â€“,World,8052282000,100%,6 Aug 2023,UN projection[3],NaN
1,1,China,1411750000,NaN,31 Dec 2022,Official estimate[4],[b]
2,2,India,1392329000,NaN,1 Jul 2023,Official projection[5],[c]
3,3,United States,335196000,NaN,6 Aug 2023,National population clock[7],[d]
4,4,Indonesia,277749853,NaN,31 Dec 2022,Official estimate[8],NaN
...,...,...,...,...,...,...,...
237,â€“,Tokelau (NZ),1647,NaN,1 Jan 2019,2019 Census [226],NaN
238,â€“,Niue,1549,NaN,1 Jul 2021,National annual projection[166],NaN
239,â€“,Cocos (Keeling) Islands (Australia),593,NaN,30 Jun 2020,2021 Census[227],NaN
240,195,Vatican City,246,NaN,26 Jun 2023,Monthly national estimate[228],[af]
241,â€“,Pitcairn Islands (UK),47,NaN,1 Jul 2021,Official estimate[229],NaN

In [20]:
check_02_01(df_population)

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 30 / 100

In [21]:
df_population

,Unnamed: 0,Country / Dependency,Population,% of world,Date,Source (official or from the United Nations),Unnamed: 6
0,â€“,World,8052282000,100%,6 Aug 2023,UN projection[3],NaN
1,1,China,1411750000,NaN,31 Dec 2022,Official estimate[4],[b]
2,2,India,1392329000,NaN,1 Jul 2023,Official projection[5],[c]
3,3,United States,335196000,NaN,6 Aug 2023,National population clock[7],[d]
4,4,Indonesia,277749853,NaN,31 Dec 2022,Official estimate[8],NaN
...,...,...,...,...,...,...,...
237,â€“,Tokelau (NZ),1647,NaN,1 Jan 2019,2019 Census [226],NaN
238,â€“,Niue,1549,NaN,1 Jul 2021,National annual projection[166],NaN
239,â€“,Cocos (Keeling) Islands (Australia),593,NaN,30 Jun 2020,2021 Census[227],NaN
240,195,Vatican City,246,NaN,26 Jun 2023,Monthly national estimate[228],[af]
241,â€“,Pitcairn Islands (UK),47,NaN,1 Jul 2021,Official estimate[229],NaN

### ë¬¸ì œ 2-2) Population Data ì „ì²˜ë¦¬ 01 (5ì ) 
- 2-1ì˜ DataFrame(df_population)ì„ ì•„ë˜ì˜ ì¡°ê±´ì— ë§ê²Œ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´1: Column(ì—´) ì¤‘ 'Country / Dependency', 'Population' 2ê°œë§Œ ë‚¨ê¸°ì„¸ìš”.
    - ì¡°ê±´2: ì»¬ëŸ¼ëª…ì„ ì•„ë˜ì™€ ê°™ì´ ë³€ê²½í•˜ì„¸ìš”.
        - 'Country / Dependency' -> 'country'
        - 'Population' -> 'population'
    - ì¡°ê±´3: 'country' Column(ì—´)ì˜ ê°’ì´  'World'ì¸ ì²«ë²ˆì§¸ ì¸ë±ìŠ¤(index=0)ì„ ì‚­ì œí•˜ì„¸ìš”.
    - ì¡°ê±´4: Index ë˜ëŠ” ìˆœì„œ(order)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_02_02 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [22]:
# ì¡°ê±´1. ì»¬ëŸ¼ 2ê°œ ë‚¨ê¸°ê¸°

df_population = df_population[['Country / Dependency', 'Population']]
df_population

                    Country / Dependency  Population
0                                  World  8052282000
1                                  China  1411750000
2                                  India  1392329000
3                          United States   335196000
4                              Indonesia   277749853
..                                   ...         ...
237                         Tokelau (NZ)        1647
238                                 Niue        1549
239  Cocos (Keeling) Islands (Australia)         593
240                         Vatican City         246
241                Pitcairn Islands (UK)          47

[242 rows x 2 columns]

In [23]:
# ì¡°ê±´2. ì»¬ëŸ¼ 2ê°œ ì´ë¦„ ë³€ê²½í•˜ê¸°

df_population.columns = ['country', 'population']
df_population.head()

         country  population
0          World  8052282000
1          China  1411750000
2          India  1392329000
3  United States   335196000
4      Indonesia   277749853

In [24]:
# ì¡°ê±´3. 0ë²ˆ ì¸ë±ìŠ¤ ì œê±°

df_population = df_population.drop(index=0)
df_population

                                 country  population
1                                  China  1411750000
2                                  India  1392329000
3                          United States   335196000
4                              Indonesia   277749853
5                               Pakistan   220425254
..                                   ...         ...
237                         Tokelau (NZ)        1647
238                                 Niue        1549
239  Cocos (Keeling) Islands (Australia)         593
240                         Vatican City         246
241                Pitcairn Islands (UK)          47

[241 rows x 2 columns]

In [25]:
# 2-2

check_02_02(df_population)

ì •ë‹µì…ë‹ˆë‹¤! 5ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 35 / 100

In [26]:
df_population

                                 country  population
1                                  China  1411750000
2                                  India  1392329000
3                          United States   335196000
4                              Indonesia   277749853
5                               Pakistan   220425254
..                                   ...         ...
237                         Tokelau (NZ)        1647
238                                 Niue        1549
239  Cocos (Keeling) Islands (Australia)         593
240                         Vatican City         246
241                Pitcairn Islands (UK)          47

[241 rows x 2 columns]

### ë¬¸ì œ 2-3) Population Data ì „ì²˜ë¦¬ 02 (5ì ) 
- 2-2ì˜ DataFrame(df_population)ê³¼ ì•„ë˜ì˜ df_population_change_dictë¥¼ ì´ìš©í•˜ì—¬ ì•„ë˜ ì¡°ê±´ì— ë§ê²Œ êµ­ê°€ëª…(ì»¬ëŸ¼ëª…: 'country')ì„ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì°¸ê³ : êµ­ê°€ëª…ì„ ë³€ê²½í•˜ëŠ” ì´ìœ ëŠ” ì¶”í›„ ë¬¸ì œì—ì„œ 1ë‹¨ê³„ì—ì„œ ë§Œë“¤ì—ˆë˜ df_targetê³¼ í•©ì¹˜ê¸° ìœ„í•¨ì…ë‹ˆë‹¤.
        - ë³€ê²½ êµ­ê°€ëŠ” 1ë‹¨ê³„ì˜ df_targetì— ìˆëŠ” êµ­ê°€ë§Œ í•´ë‹¹ë©ë‹ˆë‹¤.
        - ì¼ë¶€ êµ­ê°€ëª…ì˜ í‘œí˜„ì´ ë‹¤ë¥´ê¸° ë•Œë¬¸ì— df_targetì„ ê¸°ì¤€ìœ¼ë¡œ í‘œê¸°ë¥¼ í†µì¼í•©ë‹ˆë‹¤.
<br></br>
    - ì•„ë˜ df_population_change_dictëŠ” ë³€ê²½ ëŒ€ìƒì¸ df_populationì˜ ê¸°ì¡´ êµ­ê°€ëª…ê³¼ ë³€ê²½í•  êµ­ê°€ëª…ì´ key-valueë¡œ ì´ë£¨ì–´ì ¸ ìˆìŠµë‹ˆë‹¤.
<br></br>
        - ì¡°ê±´1: df_population_change_dictë¥¼ ì´ìš©í•˜ì—¬ df_populationì˜ êµ­ê°€ëª…ì„ ë³€ê²½í•˜ì„¸ìš”.
        - ì¡°ê±´2: Index ë˜ëŠ” ìˆœì„œ(order)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_02_03 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [27]:
df_population_change_dict = {
    'Bermuda (UK)': 'Bermuda',
    'Cape Verde': 'Cabo Verde',
    'DR Congo': 'Congo, The Democratic Republic of the',
    'Ivory Coast': "CÃ´te d'Ivoire",
    'Greenland (Denmark)': 'Greenland',
    'Hong Kong (China)': 'Hong Kong',
    'South Korea': 'Korea, Republic of',
    'Laos': "Lao People's Democratic Republic",
    'Macau (China)': 'Macao',
    'North Macedonia': 'Republic of North Macedonia',
    'Micronesia': 'Federated States of Micronesia',
    'Puerto Rico (US)': 'Puerto Rico',
    'Slovakia': 'Slovak Republic',
    'East Timor': 'Timor-Leste',
}

In [28]:
df_population_change_dict['South Korea']

'Korea, Republic of'

In [29]:
# try/except ì´ìš©í•˜ì—¬ df_population.country ì´ë¦„ì„ ë°”ë¡œ dictionary ì°¸ì¡°ì— ë„£ì–´ë²„ë¦¬ê¸°

for idx, rows in df_population.iterrows():
    try:
        df_population.country[idx] = df_population_change_dict[f'{df_population.country[idx]}']
    except:
        continue

df_population

C:\Users\User\AppData\Local\Temp\ipykernel_4328\180134754.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_population.country[idx] = df_population_change_dict[f'{df_population.country[idx]}']

                                 country  population
1                                  China  1411750000
2                                  India  1392329000
3                          United States   335196000
4                              Indonesia   277749853
5                               Pakistan   220425254
..                                   ...         ...
237                         Tokelau (NZ)        1647
238                                 Niue        1549
239  Cocos (Keeling) Islands (Australia)         593
240                         Vatican City         246
241                Pitcairn Islands (UK)          47

[241 rows x 2 columns]

In [30]:
# 2-3

check_02_03(df_population)

ì •ë‹µì…ë‹ˆë‹¤! 5ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 40 / 100

In [31]:
df_population

                                 country  population
1                                  China  1411750000
2                                  India  1392329000
3                          United States   335196000
4                              Indonesia   277749853
5                               Pakistan   220425254
..                                   ...         ...
237                         Tokelau (NZ)        1647
238                                 Niue        1549
239  Cocos (Keeling) Islands (Australia)         593
240                         Vatican City         246
241                Pitcairn Islands (UK)          47

[241 rows x 2 columns]

### ë¬¸ì œ 2-4) Data í•©ì¹˜ê¸°(10ì )
- 1ë‹¨ê³„ì˜ DataFrame(df_target)ê³¼ 2-3ì˜ DataFrame(df_population)ì„ ì•„ë˜ì˜ ì¡°ê±´ì— ë§ê²Œ í•©ì¹˜ì„¸ìš”.
<br></br>
    - df_targetì— df_populationì˜ Dataë¥¼ ì¶”ê°€í•˜ë ¤ í•©ë‹ˆë‹¤.
<br></br>
        - ì¡°ê±´1: df_target, df_populationì˜ êµ­ê°€ëª…('country' Column(ì—´)ì˜ value)ì´ ê°™ì€ Dataë¼ë¦¬ í•©ì³ì£¼ì„¸ìš”.
<br></br>
        - ì¡°ê±´2: ê²°í•© ë°©ì‹ì€ êµì§‘í•©(ê²¹ì¹˜ëŠ” êµ­ê°€ëª…ì´ ìˆëŠ” ê²½ìš°ë§Œ ì¶”ì¶œ)ìœ¼ë¡œ ì§€ì •í•´ ì£¼ì„¸ìš”.
<br></br>
        - ì¡°ê±´3: Column(ì—´)ë°©í–¥ìœ¼ë¡œ DataFrameì„ í•©ì³ì£¼ì„¸ìš”.
<br></br>
        - ì¡°ê±´4: 'code' Column(ì—´)ì„ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•´ì£¼ì„¸ìš”.
<br></br>
        - ì¡°ê±´5: indexë¥¼ resetí•´ì£¼ì„¸ìš”.
<br></br>
        - ì¡°ê±´6: ê²°ê³¼ DataFrameì˜ Columnì€ 6ê°œ('country', 'incomeperperson', 'internetuserate', 'urbanrate', 'code', 'population')ì´ì–´ì•¼ í•©ë‹ˆë‹¤.
<br></br>
        - ì¡°ê±´7: ê²°ê³¼ DataFrameì˜ ë³€ìˆ˜ëŠ” 'df' ë¡œ ì§€ì •í•´ ì£¼ì„¸ìš”.
<br></br>
<br></br>
        - hint1: ì¡°ê±´1 -> key='country' ë˜ëŠ” on='country'
<br></br>
        - hint2: ì¡°ê±´2 -> join='inner' ë˜ëŠ” how='inner'(DataFrame ìˆœì„œì— ë”°ë¼ 'left', 'right'ë„ ê°€ëŠ¥)
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_02_04 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [32]:
# mergeë¥¼ í†µí•´ ì¡°ê±´ 1, 2, 3, 7 ì§„í–‰ / sort_values í†µí•´ ì¡°ê±´ 4 ì§„í–‰
# innerë¥¼ ì“°ë©´ 2ê°œ í–‰ ì‚¬ë¼ì§, leftë¥¼ ì¨ì•¼ 181ê°œ í–‰ ëª¨ë‘ ì‚´ë¦¼

df = pd.merge(df_target, df_population, how='left', on='country').sort_values('code', ascending=True)
df.head()

,country,incomeperperson,internetuserate,urbanrate,code,population
2,Andorra,21943.339900,81.000000,88.92,AD,82623
171,United Arab Emirates,21087.394120,77.996781,77.88,AE,9282410
4,Antigua and Barbuda,11894.464070,80.645455,30.46,AG,100772
0,Albania,1914.996551,44.989947,46.72,AL,2793592
6,Armenia,1326.741757,44.001025,63.86,AM,2981200

In [33]:
# index ì´ˆê¸°í™”

df = df.reset_index(drop=True)
df

,country,incomeperperson,internetuserate,urbanrate,code,population
0,Andorra,21943.339900,81.000000,88.92,AD,82623
1,United Arab Emirates,21087.394120,77.996781,77.88,AE,9282410
2,Antigua and Barbuda,11894.464070,80.645455,30.46,AG,100772
3,Albania,1914.996551,44.989947,46.72,AL,2793592
4,Armenia,1326.741757,44.001025,63.86,AM,2981200
...,...,...,...,...,...,...
177,Samoa,1784.071284,6.965038,23.00,WS,205557
178,Yemen,610.357367,12.349750,30.64,YE,31890000
179,South Africa,3745.649852,12.334893,60.74,ZA,60604992
180,Zambia,432.226337,10.124986,35.42,ZM,19610769
181,Zimbabwe,320.771890,11.500415,37.34,ZW,15178979

In [34]:
# 2-4

check_02_04(df)

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 50 / 100

In [35]:
df

,country,incomeperperson,internetuserate,urbanrate,code,population
0,Andorra,21943.339900,81.000000,88.92,AD,82623
1,United Arab Emirates,21087.394120,77.996781,77.88,AE,9282410
2,Antigua and Barbuda,11894.464070,80.645455,30.46,AG,100772
3,Albania,1914.996551,44.989947,46.72,AL,2793592
4,Armenia,1326.741757,44.001025,63.86,AM,2981200
...,...,...,...,...,...,...
177,Samoa,1784.071284,6.965038,23.00,WS,205557
178,Yemen,610.357367,12.349750,30.64,YE,31890000
179,South Africa,3745.649852,12.334893,60.74,ZA,60604992
180,Zambia,432.226337,10.124986,35.42,ZM,19610769
181,Zimbabwe,320.771890,11.500415,37.34,ZW,15178979

## 3ë‹¨ê³„: Reference Data02: ë¶ˆëŸ¬ì˜¤ê¸° & ì „ì²˜ë¦¬ & í•©ì¹˜ê¸°
***

In [36]:
df_region = pd.read_csv('./datas/continents2.csv')
df_region

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Ã…land Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,NaN,9.0,61.0,NaN
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,NaN,2.0,15.0,NaN
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,NaN,142.0,145.0,NaN
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0

### ë¬¸ì œ 3-1) Region Data ì „ì²˜ë¦¬ 01 (10ì ) 
- ìœ„ì˜ DataFrame(df_region)ì„ ì•„ë˜ì˜ ì¡°ê±´ì— ë§ê²Œ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´1
        - íŠ¹ì • êµ­ê°€('Namibia')ì˜ êµ­ê°€ì½”ë“œê°€ 'NA'ì´ê¸° ë•Œë¬¸ì— ìœ„ì™€ ê°™ì´ DataFrameì„ ë¶ˆëŸ¬ì˜¬ê²½ìš° í•´ë‹¹ êµ­ê°€ì½”ë“œê°€ NaNê°’ìœ¼ë¡œ ì²˜ë¦¬ë©ë‹ˆë‹¤.
        - í•´ë‹¹ êµ­ê°€ì˜ êµ­ê°€ì½”ë“œë¥¼ 'NA'ë¡œ ë³€ê²½í•˜ì„¸ìš”.(í•´ë‹¹ ê°’ì˜ typeì´ stringì´ì–´ì•¼ í•©ë‹ˆë‹¤.)
        - ì°¸ê³ 
            - ì•„ë˜ ì¡°ê±´3ì— ë”°ë¥¸ Column(ì—´)ëª…ì„ ë³€ê²½í•˜ê¸° ì „ì—ëŠ” 'alpha-2', ë³€ê²½ í›„ì—ëŠ” 'code' Column(ì—´)ì— êµ­ê°€ì½”ë“œê°€ ìˆìŠµë‹ˆë‹¤.
            - êµ­ê°€ëª… Column(ì—´)ëª…ì€ 'name'ì…ë‹ˆë‹¤.
<br></br>
    - ì¡°ê±´2
        - ì•„ë˜ df_region_drop_colì€ Data ë¶„ì„ì‹œ í•„ìš” ì—†ëŠ” Column(ì—´)ì…ë‹ˆë‹¤.
        - df_region_drop_colì„ ì°¸ê³ í•˜ì—¬ df_regionì˜ Column(ì—´)ë“¤ì„ ì‚­ì œ(drop)í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´3
        - ì•„ë˜ df_region_rename_dictëŠ” ê¸°ì¡´ ì»¬ëŸ¼ëª… - ë³€ê²½í•  ì»¬ëŸ¼ëª…ì´ key-valueë¡œ ì´ë£¨ì–´ì ¸ ìˆìŠµë‹ˆë‹¤.
        - df_region_rename_dictë¥¼ ì°¸ê³ í•˜ì—¬ df_regionì˜ Column(ì—´)ëª…ì„ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´4: Index ë˜ëŠ” ìˆœì„œ(order)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_03_02 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [37]:
df_region_drop_col = [
                    'country-code',
                    'alpha-3',
                    'iso_3166-2',
                    'region-code',
                    'sub-region-code',
                    'intermediate-region-code'
                    ]

df_region_rename_dict = {
                        'alpha-2': 'code',
                        'sub-region': 'sub_region',
                        'intermediate-region': 'intermediate_region',
                        }

In [38]:
# Namibia index í™•ì¸

df_region[df_region.name == 'Namibia']

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
153,Namibia,NaN,NAM,516,ISO 3166-2:NA,Africa,Sub-Saharan Africa,Southern Africa,2.0,202.0,18.0

In [39]:
# Namibia 2ê¸€ì NA strë¡œ ë³€ê²½ í›„ í–‰ í™•ì¸

df_region['alpha-2'][153] = 'NA'
df_region[df_region.name == 'Namibia']

C:\Users\User\AppData\Local\Temp\ipykernel_4328\4119201249.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_region['alpha-2'][153] = 'NA'

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
153,Namibia,NA,NAM,516,ISO 3166-2:NA,Africa,Sub-Saharan Africa,Southern Africa,2.0,202.0,18.0

In [40]:
# drop list ì´ìš©í•˜ì—¬ í•„ìš” ì—†ëŠ” ì—´ ì œê±°

df_region = df_region.drop(columns=df_region_drop_col)
df_region

,name,alpha-2,region,sub-region,intermediate-region
0,Afghanistan,AF,Asia,Southern Asia,NaN
1,Ã…land Islands,AX,Europe,Northern Europe,NaN
2,Albania,AL,Europe,Southern Europe,NaN
3,Algeria,DZ,Africa,Northern Africa,NaN
4,American Samoa,AS,Oceania,Polynesia,NaN
...,...,...,...,...,...
244,Wallis and Futuna,WF,Oceania,Polynesia,NaN
245,Western Sahara,EH,Africa,Northern Africa,NaN
246,Yemen,YE,Asia,Western Asia,NaN
247,Zambia,ZM,Africa,Sub-Saharan Africa,Eastern Africa
248,Zimbabwe,ZW,Africa,Sub-Saharan Africa,Eastern Africa

In [41]:
# rename ë”•ì…”ë„ˆë¦¬ ì´ìš©í•˜ì—¬ ì»¬ëŸ¼ ì´ë¦„ ì¬ëª…ëª…

df_region = df_region.rename(columns=df_region_rename_dict)
df_region

                  name code   region          sub_region intermediate_region
0          Afghanistan   AF     Asia       Southern Asia                 NaN
1        Ã…land Islands   AX   Europe     Northern Europe                 NaN
2              Albania   AL   Europe     Southern Europe                 NaN
3              Algeria   DZ   Africa     Northern Africa                 NaN
4       American Samoa   AS  Oceania           Polynesia                 NaN
..                 ...  ...      ...                 ...                 ...
244  Wallis and Futuna   WF  Oceania           Polynesia                 NaN
245     Western Sahara   EH   Africa     Northern Africa                 NaN
246              Yemen   YE     Asia        Western Asia                 NaN
247             Zambia   ZM   Africa  Sub-Saharan Africa      Eastern Africa
248           Zimbabwe   ZW   Africa  Sub-Saharan Africa      Eastern Africa

[249 rows x 5 columns]

In [42]:
# 3-1

check_03_01(df_region)

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 60 / 100

In [43]:
df_region

                  name code   region          sub_region intermediate_region
0          Afghanistan   AF     Asia       Southern Asia                 NaN
1        Ã…land Islands   AX   Europe     Northern Europe                 NaN
2              Albania   AL   Europe     Southern Europe                 NaN
3              Algeria   DZ   Africa     Northern Africa                 NaN
4       American Samoa   AS  Oceania           Polynesia                 NaN
..                 ...  ...      ...                 ...                 ...
244  Wallis and Futuna   WF  Oceania           Polynesia                 NaN
245     Western Sahara   EH   Africa     Northern Africa                 NaN
246              Yemen   YE     Asia        Western Asia                 NaN
247             Zambia   ZM   Africa  Sub-Saharan Africa      Eastern Africa
248           Zimbabwe   ZW   Africa  Sub-Saharan Africa      Eastern Africa

[249 rows x 5 columns]

### ë¬¸ì œ 3-2) Data í•©ì¹˜ê¸°(10ì )
- 2ë‹¨ê³„ì˜ DataFrame(df)ê³¼ 3-1ì˜ DataFrame(df_region)ì„ ì•„ë˜ì˜ ì¡°ê±´ì— ë§ê²Œ í•©ì¹˜ì„¸ìš”.
<br></br>
    - dfì— df_regionì˜ Dataë¥¼ ì¶”ê°€í•˜ë ¤ í•©ë‹ˆë‹¤.
<br></br>
        - ì¡°ê±´1: df, df_region êµ­ê°€ì½”ë“œ('code' Column(ì—´)ì˜ value)ê°€ ê°™ì€ Dataë¼ë¦¬ í•©ì³ì£¼ì„¸ìš”.
<br></br>
        - ì¡°ê±´2: ê²°í•© ë°©ì‹ì€ êµì§‘í•©(ê²¹ì¹˜ëŠ” êµ­ê°€ì½”ë“œê°€ ìˆëŠ” ê²½ìš°ë§Œ ì¶”ì¶œ)ìœ¼ë¡œ ì§€ì •í•´ ì£¼ì„¸ìš”.
<br></br>
        - ì¡°ê±´3: Column(ì—´)ë°©í–¥ìœ¼ë¡œ DataFrameì„ í•©ì³ì£¼ì„¸ìš”.
<br></br>
        - ì¡°ê±´4: 'code' Column(ì—´)ì„ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•´ì£¼ì„¸ìš”.
<br></br>
        - ì¡°ê±´5 
            - ì•„ë˜ df_rename_dictëŠ” ê¸°ì¡´ ì»¬ëŸ¼ëª… - ë³€ê²½í•  ì»¬ëŸ¼ëª…ì´ key-valueë¡œ ì´ë£¨ì–´ì ¸ ìˆìŠµë‹ˆë‹¤.
            - df_rename_dictë¥¼ ì°¸ê³ í•˜ì—¬ dfì˜ Column(ì—´)ëª…ì„ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
        - ì¡°ê±´6
            - ì•„ë˜ new_col_orderëŠ” ë³€ê²½í•˜ê³ ìí•˜ëŠ” Column(ì—´)ì˜ ìˆœì„œëŒ€ë¡œ Column(ì—´)ëª…ì„ ê°’ìœ¼ë¡œ ê°€ì§€ê³  ìˆìŠµë‹ˆë‹¤.
            - new_col_orderë¥¼ ì°¸ê³ í•˜ì—¬ dfì˜ Column(ì—´)ì˜ ìˆœì„œë¥¼ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
        - ì¡°ê±´7: 'name' Column(ì—´)ì€ ì‚­ì œ(drop)í•´ ì£¼ì„¸ìš”
<br></br>
        - ì¡°ê±´8: indexë¥¼ resetí•´ì£¼ì„¸ìš”.
<br></br>
        - ì¡°ê±´9: ê²°ê³¼ DataFrameì˜ Columnì€ 6ê°œ('country', 'incomeperperson', 'internetuserate', 'urbanrate', 'code', 'population')ì´ì–´ì•¼ í•©ë‹ˆë‹¤.
<br></br>
        - ì¡°ê±´10: ê²°ê³¼ DataFrameì˜ ë³€ìˆ˜ëŠ” 'df' ë¡œ ì§€ì •í•´ ì£¼ì„¸ìš”.
<br></br>
<br></br>
        - hint1: ì¡°ê±´1 -> key='code' ë˜ëŠ” on='code'
<br></br>
        - hint2: ì¡°ê±´2 -> join='inner' ë˜ëŠ” how='inner'(DataFrame ìˆœì„œì— ë”°ë¼ 'left', 'right'ë„ ê°€ëŠ¥)
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_03_02 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [44]:
df_rename_dict = {
                'incomeperperson': 'income_per_person',
                'internetuserate': 'internet_use_rate',
                }

df_drop_col = ['name']

new_col_order = [
                'code',
                'country',
                'population',
                'income_per_person',
                'internet_use_rate',
                'urbanrate',
                'region',
                'sub_region',
                'intermediate_region'
                ]

In [45]:
# code ë¥¼ í‚¤ê°’ìœ¼ë¡œ ì´ìš©í•˜ì—¬ df, df_region merge

df = pd.merge(df, df_region, how='inner', on='code').sort_values('code', ascending=True)
df

,country,incomeperperson,internetuserate,urbanrate,code,population,name,region,sub_region,intermediate_region
0,Andorra,21943.339900,81.000000,88.92,AD,82623,Andorra,Europe,Southern Europe,NaN
1,United Arab Emirates,21087.394120,77.996781,77.88,AE,9282410,United Arab Emirates,Asia,Western Asia,NaN
2,Antigua and Barbuda,11894.464070,80.645455,30.46,AG,100772,Antigua and Barbuda,Americas,Latin America and the Caribbean,Caribbean
3,Albania,1914.996551,44.989947,46.72,AL,2793592,Albania,Europe,Southern Europe,NaN
4,Armenia,1326.741757,44.001025,63.86,AM,2981200,Armenia,Asia,Western Asia,NaN
...,...,...,...,...,...,...,...,...,...,...
177,Samoa,1784.071284,6.965038,23.00,WS,205557,Samoa,Oceania,Polynesia,NaN
178,Yemen,610.357367,12.349750,30.64,YE,31890000,Yemen,Asia,Western Asia,NaN
179,South Africa,3745.649852,12.334893,60.74,ZA,60604992,South Africa,Africa,Sub-Saharan Africa,Southern Africa
180,Zambia,432.226337,10.124986,35.42,ZM,19610769,Zambia,Africa,Sub-Saharan Africa,Eastern Africa
181,Zimbabwe,320.771890,11.500415,37.34,ZW,15178979,Zimbabwe,Africa,Sub-Saharan Africa,Eastern Africa

In [46]:
# rename_dict ì´ìš©í•˜ì—¬ ì»¬ëŸ¼ ëª… ë³€ê²½

df = df.rename(columns=df_rename_dict)
df.head()

,country,income_per_person,internet_use_rate,urbanrate,code,population,name,region,sub_region,intermediate_region
0,Andorra,21943.339900,81.000000,88.92,AD,82623,Andorra,Europe,Southern Europe,NaN
1,United Arab Emirates,21087.394120,77.996781,77.88,AE,9282410,United Arab Emirates,Asia,Western Asia,NaN
2,Antigua and Barbuda,11894.464070,80.645455,30.46,AG,100772,Antigua and Barbuda,Americas,Latin America and the Caribbean,Caribbean
3,Albania,1914.996551,44.989947,46.72,AL,2793592,Albania,Europe,Southern Europe,NaN
4,Armenia,1326.741757,44.001025,63.86,AM,2981200,Armenia,Asia,Western Asia,NaN

In [47]:
# df_drop_col ì´ìš©í•˜ì—¬ name ì—´ ì œê±°

df = df.drop(columns=df_drop_col)
df

,country,income_per_person,internet_use_rate,urbanrate,code,population,region,sub_region,intermediate_region
0,Andorra,21943.339900,81.000000,88.92,AD,82623,Europe,Southern Europe,NaN
1,United Arab Emirates,21087.394120,77.996781,77.88,AE,9282410,Asia,Western Asia,NaN
2,Antigua and Barbuda,11894.464070,80.645455,30.46,AG,100772,Americas,Latin America and the Caribbean,Caribbean
3,Albania,1914.996551,44.989947,46.72,AL,2793592,Europe,Southern Europe,NaN
4,Armenia,1326.741757,44.001025,63.86,AM,2981200,Asia,Western Asia,NaN
...,...,...,...,...,...,...,...,...,...
177,Samoa,1784.071284,6.965038,23.00,WS,205557,Oceania,Polynesia,NaN
178,Yemen,610.357367,12.349750,30.64,YE,31890000,Asia,Western Asia,NaN
179,South Africa,3745.649852,12.334893,60.74,ZA,60604992,Africa,Sub-Saharan Africa,Southern Africa
180,Zambia,432.226337,10.124986,35.42,ZM,19610769,Africa,Sub-Saharan Africa,Eastern Africa
181,Zimbabwe,320.771890,11.500415,37.34,ZW,15178979,Africa,Sub-Saharan Africa,Eastern Africa

In [48]:
# ì»¬ëŸ¼ ìˆœì„œ ë³€ê²½

df = df[new_col_order]
df

,code,country,population,income_per_person,internet_use_rate,urbanrate,region,sub_region,intermediate_region
0,AD,Andorra,82623,21943.339900,81.000000,88.92,Europe,Southern Europe,NaN
1,AE,United Arab Emirates,9282410,21087.394120,77.996781,77.88,Asia,Western Asia,NaN
2,AG,Antigua and Barbuda,100772,11894.464070,80.645455,30.46,Americas,Latin America and the Caribbean,Caribbean
3,AL,Albania,2793592,1914.996551,44.989947,46.72,Europe,Southern Europe,NaN
4,AM,Armenia,2981200,1326.741757,44.001025,63.86,Asia,Western Asia,NaN
...,...,...,...,...,...,...,...,...,...
177,WS,Samoa,205557,1784.071284,6.965038,23.00,Oceania,Polynesia,NaN
178,YE,Yemen,31890000,610.357367,12.349750,30.64,Asia,Western Asia,NaN
179,ZA,South Africa,60604992,3745.649852,12.334893,60.74,Africa,Sub-Saharan Africa,Southern Africa
180,ZM,Zambia,19610769,432.226337,10.124986,35.42,Africa,Sub-Saharan Africa,Eastern Africa
181,ZW,Zimbabwe,15178979,320.771890,11.500415,37.34,Africa,Sub-Saharan Africa,Eastern Africa

In [49]:
# 3-2
check_03_02(df)

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 70 / 100

In [50]:
df

,code,country,population,income_per_person,internet_use_rate,urbanrate,region,sub_region,intermediate_region
0,AD,Andorra,82623,21943.339900,81.000000,88.92,Europe,Southern Europe,-
1,AE,United Arab Emirates,9282410,21087.394120,77.996781,77.88,Asia,Western Asia,-
2,AG,Antigua and Barbuda,100772,11894.464070,80.645455,30.46,Americas,Latin America and the Caribbean,Caribbean
3,AL,Albania,2793592,1914.996551,44.989947,46.72,Europe,Southern Europe,-
4,AM,Armenia,2981200,1326.741757,44.001025,63.86,Asia,Western Asia,-
...,...,...,...,...,...,...,...,...,...
177,WS,Samoa,205557,1784.071284,6.965038,23.00,Oceania,Polynesia,-
178,YE,Yemen,31890000,610.357367,12.349750,30.64,Asia,Western Asia,-
179,ZA,South Africa,60604992,3745.649852,12.334893,60.74,Africa,Sub-Saharan Africa,Southern Africa
180,ZM,Zambia,19610769,432.226337,10.124986,35.42,Africa,Sub-Saharan Africa,Eastern Africa
181,ZW,Zimbabwe,15178979,320.771890,11.500415,37.34,Africa,Sub-Saharan Africa,Eastern Africa

## 4ë‹¨ê³„: Data ë¶„ì„í•˜ê¸°(ê°€ì¤‘ í‰ê·  & ë¶„ì‚°)
***

### ë¬¸ì œ 4-1) ì§€ì—­ëŒ€ë¥™ë³„ ê°€ì¤€ í‰ê·  êµ¬í•˜ê¸° (15ì )
- 3ë‹¨ê³„ DataFrame(df)ì˜ êµ­ê°€ë³„ ì¸í„°ë„· ì‚¬ìš©ë¥ (internet_use_rate) ë° ì¸ë‹¹ ì†Œë“(income_per_person)ì„ ëŒ€ë¥™(region) ë˜ëŠ” ì§€ì—­ëŒ€ë¥™(sub_region)ë³„ë¡œ í‰ê· ì„ í•©ì‚°í•˜ì—¬ ë³´ê¸° ìœ„í•´ì„œëŠ” ë‹¨ìˆœ í‰ê· ì´ ì•„ë‹Œ êµ­ê°€ë³„ ì¸êµ¬ìˆ˜(population)ì„ ê°€ì¤‘í•œ í‰ê· ì„ ê³„ì‚°í•˜ì—¬ì•¼ í•©ë‹ˆë‹¤.
<br></br>
- 3ë‹¨ê³„ DataFrame(df)ì„ ì´ìš©í•˜ì—¬ ì§€ì—­ëŒ€ë¥™(sub_region)ë³„ ì¡°ê±´ì— ë§ê²Œ ê°€ì¤‘í‰ê· ì„ êµ¬í•˜ì„¸ìš”.
<br></br>
- ì°¸ê³ 
    - ê°€ì¤‘ í‰ê· : ìë£Œì˜ í‰ê· ì„ êµ¬í•  ë•Œ ìë£Œ ê°’ì˜ ì¤‘ìš”ë„ë‚˜ ì˜í–¥ ì •ë„ì— í•´ë‹¹í•˜ëŠ” ê°€ì¤‘ì¹˜ë¥¼ ë°˜ì˜í•˜ì—¬ êµ¬í•œ í‰ê· ê°’
<br></br>
    <img src="images/04-4-1-001.png" style="margin:auto" width=300/>
<br></br>
<br></br>
    - ì¡°ê±´1: ê°€ì¤‘ì¹˜(weights)ëŠ” population Column(ì—´)ì„ ì´ìš©í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´2: ì§€ì—­ëŒ€ë¥™(sub_region)ì˜ ì¸í„°ë„· ì‚¬ìš©ë¥ (internet_use_rate) ë° ì¸ë‹¹ ì†Œë“(income_per_person)ì„ ì•„ë˜ í‘œì™€ ê°™ì€ index, column í˜•íƒœë¡œ ë‚˜íƒ€ë‚´ì£¼ì„¸ìš”.
        - index = ['region', 'sub_region']
        - column = ['weighted_ave_internet', 'weighted_ave_income']
<br></br>
        <img src="images/04-4-1-002.png" style="margin:auto" width=400/>
<br></br>
    - ì¡°ê±´3: ê²°ê³¼ DataFrameì˜ ë³€ìˆ˜ëŠ” 'df_result' ë¡œ ì§€ì •í•´ ì£¼ì„¸ìš”.
<br></br>
<br></br>
    - hint1: pandas.DataFrame.groupby
<br></br>
    - hint2: numpy.average
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_04_01 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [51]:
df.head()

,code,country,population,income_per_person,internet_use_rate,urbanrate,region,sub_region,intermediate_region
0,AD,Andorra,82623,21943.339900,81.000000,88.92,Europe,Southern Europe,-
1,AE,United Arab Emirates,9282410,21087.394120,77.996781,77.88,Asia,Western Asia,-
2,AG,Antigua and Barbuda,100772,11894.464070,80.645455,30.46,Americas,Latin America and the Caribbean,Caribbean
3,AL,Albania,2793592,1914.996551,44.989947,46.72,Europe,Southern Europe,-
4,AM,Armenia,2981200,1326.741757,44.001025,63.86,Asia,Western Asia,-

In [52]:
# groupby
grouped = df.groupby(['region', 'sub_region'])

weighted_avg_func1 = lambda g:np.average(g['internet_use_rate'], weights=g['population'])
weighted_avg_func2 = lambda g:np.average(g['income_per_person'], weights=g['population'])


df_test = df.groupby(['region', 'sub_region']).mean()
df_test['weighted_ave_internet'] = grouped.apply(weighted_avg_func1)
df_test['weighted_ave_income'] = grouped.apply(weighted_avg_func2)


df_result = df_test[['weighted_ave_internet', 'weighted_ave_income']]
df_result

C:\Users\User\AppData\Local\Temp\ipykernel_4328\3747321718.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_test = df.groupby(['region', 'sub_region']).mean()

                                          weighted_ave_internet  \
region   sub_region
Africa   Northern Africa                              27.753758
         Sub-Saharan Africa                           11.158289
Americas Latin America and the Caribbean              33.838923
         Northern America                             75.007153
Asia     Central Asia                                 20.585006
         Eastern Asia                                 39.429054
         South-eastern Asia                           19.485132
         Southern Asia                                 8.538417
         Western Asia                                 32.478230
Europe   Eastern Europe                               47.847460
         Northern Europe                              84.391766
         Southern Europe                              56.539630
         Western Europe                               80.598404
Oceania  Australia and New Zealand                    77.055069
         Melanesia                                     2.508678
         Micronesia                                   14.119694
         Polynesia                                     8.617012

                                          weighted_ave_income
region   sub_region
Africa   Northern Africa                          2279.517540
         Sub-Saharan Africa                        642.445816
Americas Latin America and the Caribbean          4944.194369
         Northern America                        36216.857895
Asia     Central Asia                             1294.614456
         Eastern Asia                             5907.182677
         South-eastern Asia                       1769.171235
         Southern Asia                             812.805998
         Western Asia                             5551.442146
Europe   Eastern Europe                           3439.156644
         Northern Europe                         27866.367869
         Southern Europe                         14771.558229
         Western Europe                          25254.565555
Oceania  Australia and New Zealand               23541.626564
         Melanesia                                 879.973639
         Micronesia                               1407.454876
         Polynesia                                1863.107822

In [53]:
# 4-1

check_04_01(df_result)

ì •ë‹µì…ë‹ˆë‹¤! 15ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 85 / 100

In [54]:
df_result

                                          weighted_ave_internet  \
region   sub_region
Africa   Northern Africa                              27.753758
         Sub-Saharan Africa                           11.158289
Americas Latin America and the Caribbean              33.838923
         Northern America                             75.007153
Asia     Central Asia                                 20.585006
         Eastern Asia                                 39.429054
         South-eastern Asia                           19.485132
         Southern Asia                                 8.538417
         Western Asia                                 32.478230
Europe   Eastern Europe                               47.847460
         Northern Europe                              84.391766
         Southern Europe                              56.539630
         Western Europe                               80.598404
Oceania  Australia and New Zealand                    77.055069
         Melanesia                                     2.508678
         Micronesia                                   14.119694
         Polynesia                                     8.617012

                                          weighted_ave_income
region   sub_region
Africa   Northern Africa                          2279.517540
         Sub-Saharan Africa                        642.445816
Americas Latin America and the Caribbean          4944.194369
         Northern America                        36216.857895
Asia     Central Asia                             1294.614456
         Eastern Asia                             5907.182677
         South-eastern Asia                       1769.171235
         Southern Asia                             812.805998
         Western Asia                             5551.442146
Europe   Eastern Europe                           3439.156644
         Northern Europe                         27866.367869
         Southern Europe                         14771.558229
         Western Europe                          25254.565555
Oceania  Australia and New Zealand               23541.626564
         Melanesia                                 879.973639
         Micronesia                               1407.454876
         Polynesia                                1863.107822

### ë¬¸ì œ 4-2) íŠ¹ì • ì¡°ê±´ì˜ ê°€ì¤€ í‰ê·  êµ¬í•˜ê¸° (15ì )
- ì¤‘êµ­ê³¼ ì¸ë„ë¥¼ ì œì™¸í•œ Eastern Asia, Southern Asiaì˜ ì¸í„°ë„· ì‚¬ìš©ë¥ (internet_use_rate) ë° ì¸ë‹¹ ì†Œë“(income_per_person)ì„ ì•„ë˜ ì¡°ê±´ì— ë§ê²Œ êµ¬í•˜ì„¸ìš”.
<br></br>
- ì°¸ê³ : 4-1ì˜ ì°¸ê³ ì‚¬í•­ ì°¸ì¡°
<br></br>
    - ì¡°ê±´1: ê°€ì¤‘ì¹˜(weights)ëŠ” population Column(ì—´)ì„ ì´ìš©í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´2: ì¤‘êµ­(êµ­ê°€ì½”ë“œ(code): 'CN)ê³¼ ì¸ë„(êµ­ê°€ì½”ë“œ: 'IN')ë¥¼ ì œì™¸í•œ Asia(region) - Eastern Asia, Southern Asia  (sub_region)ì˜ ì¸í„°ë„· ì‚¬ìš©ë¥ (internet_use_rate) ë° ì¸ë‹¹ ì†Œë“(income_per_person)ì„ ì•„ë˜ í‘œì™€ ê°™ì€ index, column í˜•íƒœë¡œ ë‚˜íƒ€ë‚´ì£¼ì„¸ìš”.
        - index = ['region', 'sub_region']
        - column = ['weighted_ave_internet', 'weighted_ave_income']
<br></br>
        <img src="images/04-4-2-001.png" style="margin:auto" width=400/>
<br></br>
        <img src="images/04-4-2-002.png" style="margin:auto" width=400/>
<br></br>
    - ì¡°ê±´3: ê²°ê³¼ DataFrameì˜ ë³€ìˆ˜ëŠ” 'df_result' ë¡œ ì§€ì •í•´ ì£¼ì„¸ìš”.
<br></br>
<br></br>
    - hint1: pandas.DataFrame.groupby
<br></br>
    - hint2: numpy.average
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ dataframe ë³€ìˆ˜ë¥¼ check_04_02 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [55]:
# sub_regionì´ eastern, southern asiaì¸ ê³³ + CN/IN ì•„ë‹Œ ê³³ ì–»ê¸°

test = np.where(((df.sub_region == 'Eastern Asia')|(df.sub_region == 'Southern Asia')) & (df.code != 'CN') & (df.code != 'IN'))
df_test = df.loc[test]
df_test

,code,country,population,income_per_person,internet_use_rate,urbanrate,region,sub_region,intermediate_region
12,BD,Bangladesh,169828911,558.062877,3.700003,27.14,Asia,Southern Asia,-
24,BT,Bhutan,763200,1324.194906,13.598876,34.48,Asia,Southern Asia,-
72,HK,Hong Kong,7333200,35536.072470,71.849124,100.00,Asia,Eastern Asia,-
82,IR,Iran,85195100,2161.546510,13.000111,68.46,Asia,Southern Asia,-
87,JP,Japan,124500000,39309.478860,77.638535,66.48,Asia,Eastern Asia,-
94,KR,"Korea, Republic of",51439038,16372.499780,82.515928,81.46,Asia,Eastern Asia,-
100,LK,Sri Lanka,22181000,1295.742686,11.999971,15.10,Asia,Southern Asia,-
113,MN,Mongolia,3457548,772.933345,12.900005,57.18,Asia,Eastern Asia,-
114,MO,Macao,673600,33923.313870,56.764082,100.00,Asia,Eastern Asia,-
118,MV,Maldives,397372,4038.857818,28.289701,37.86,Asia,Southern Asia,-
129,NP,Nepal,29164578,268.259450,7.930096,17.24,Asia,Southern Asia,-
136,PK,Pakistan,220425254,668.547943,16.780037,36.16,Asia,Southern Asia,-

In [56]:
# 4-1ì—ì„œ ì‚¬ìš©í•œ ê°€ì¤‘ í‰ê·  ì½”ë“œ ì‚¬ìš©í•˜ê¸°

grouped = df_test.groupby(['region', 'sub_region'])

weighted_avg_func1 = lambda g:np.average(g['internet_use_rate'], weights=g['population'])
weighted_avg_func2 = lambda g:np.average(g['income_per_person'], weights=g['population'])


df_check = df_test.groupby(['region', 'sub_region']).mean()
df_check['weighted_ave_internet'] = grouped.apply(weighted_avg_func1)
df_check['weighted_ave_income'] = grouped.apply(weighted_avg_func2)


df_result = df_check[['weighted_ave_internet', 'weighted_ave_income']]
df_result

C:\Users\User\AppData\Local\Temp\ipykernel_4328\1036814099.py:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_check = df_test.groupby(['region', 'sub_region']).mean()

                      weighted_ave_internet  weighted_ave_income
region sub_region
Asia   Eastern Asia               77.481312         32135.663127
       Southern Asia              11.276950           881.652722

In [57]:
# 4-2

check_04_02(df_result)

ì •ë‹µì…ë‹ˆë‹¤! 15ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 100 / 100

In [58]:
df_result

                      weighted_ave_internet  weighted_ave_income
region sub_region
Asia   Eastern Asia               77.481312         32135.663127
       Southern Asia              11.276950           881.652722

***

### ğŸŠ ë¬¸ì œê°€ ëë‚¬ìŠµë‹ˆë‹¤. ì œì¶œì–‘ì‹ê³¼ ì¼ì •ì— ë§ì¶° ì œì¶œí•´ì£¼ì‹œê¸°ë¥¼ ë°”ëë‹ˆë‹¤!

### ì œì¶œì–‘ì‹
- ì´ íŒŒì¼ì€ EDA Level TEST 4íšŒì°¨ ë…¸íŠ¸ë¶ì…ë‹ˆë‹¤. ë”°ë¼ì„œ ì œì¶œì‹œ íŒŒì¼ëª…ì€ ì•„ë˜ì™€ ê°™ìŠµë‹ˆë‹¤. 
- [DS]edalvtest_04_yourname.ipynb

***

# ë¬¸ì˜ì‚¬í•­ ë° ì˜ê²¬ì´ ìˆëŠ” ê²½ìš° ì‘ì„±í•´ì£¼ì„¸ìš”.